@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    top: 0px !important;
}
.idac_img{
    height: 100%;
    width: 100%;
    position: relative;
}
.idac_img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    overflow: hidden;position: relative;
}
#idac button:focus{
    border: none;
    outline: none;
}
#idac .close{
    position: absolute;
    top: -20px;
    right: 5px;
    
   
}
#idac .idac-registation{
    background-color: #fff;
    padding: 7px 20px;
    font-size: 15px;
    margin: 10px 0;
    transition: 0.2s ease-in-out;
}
#idac .modal-content, #idac .modal-body, #idac .modal, #idac .modal-dialog{
    background-color: transparent !important;
    outline: none;
    border: none;
}
#idac .idac-registation a{
    color: #000;
    text-decoration: none;
}
#idac .idac-registation:hover{
    background-color: #000;
}
#idac .idac-registation:hover a{
    color: #fff;
}
.sample-1 {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
  }
  
  .sample-1-close {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    font-family: Arial, sans-serif;
    border-radius: 50px;
    background: #000;
    line-height: 0px;
    padding: 23px 9px 23px 9px;
  }
  
  .sample-1-close:before {
    content: "\00d7";
  }
  @media screen and (max-width:500px){

.sample-1 {
    position: relative;
    width: 25px;
    height: 25px;
    margin: auto;
  }
  
  .sample-1-close {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    font-family: Arial, sans-serif;
    border-radius: 25px;
    background: #000;
    line-height: 0px;
    padding: 11.5px 4.5px 11.5px 4.5px;
  }
  #idac .close{
    position: absolute;
    top: -10px;
    right: 5px;
    
   
}
  }
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container_section {
    padding: 60px 10% 2.5% 10%;
}

.container {
    padding: 5% 0%;
}

.container_contact {
    padding: 5% 25%;
}

.section_h2 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.section_p {
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.5px;

}

/*
Explore
*/

.explore {
    background: #f8f8f8;
}

.explore .explore_head {
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.explore .explore_button button {
    background: #000;
    color: #fff;
    margin-top: 15px;
    padding: 10px 25px;
    letter-spacing: 1px;
    border-radius: 0%;
}

.explore .explore_button button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.explore .explore_images {
    margin-top: -200px;
}

.explore .explore_images img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    object-position: top left;
}


/*
Blog
*/


.blog .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}


.blog .blog_card_image {
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.blog .blog_card_image:hover img {
    transform: scale(1.1);
}

.blog .blog_card_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out !important;
}

.blog .blog_card_head {
    padding: 25px 0px 10px 0px;
}






/*
Values
*/

.values {}

.values .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}

.values .values_card {
    padding: 20px;
    background: #fff;
    height: 100%;
}

.values .values_card .values_card_img img {
    height: 100px;
    width: 100%;
    object-fit: contain;
    object-position: left;
    padding-bottom: 15px;

}

.values .values_card .section_4_card_h5 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}




/*
Client-Tale
*/



/*
Client Tale
*/
.client-tale {

    z-index: -1 !important;
}

.client-tale .swiper {
    width: 100%;
    height: 100%;
}

.client-tale .swiper .review {
    background-color: #f8f8f8;
    padding: 5% 15%;
}

.client-tale .swiper .swiper-slide {
    width: 100%;
    height: 100%;
}

.client-tale .swiper .review img {
    width: 25%;
}


/*.client-tale {
    background: #fff;
    margin-top: -8%;
    z-index: 0;
}*/

.client-tale .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}

#google_translate_element select {
    background: transparent !important;
    cursor: pointer !important;
    color: #000 !important;
    border: none !important;
    border-radius: 3px !important;
  }
  #google_translate_element select:focus {
    outline: none !important;
  }
  .goog-logo-link {
    display: none !important;
  }
  .goog-te-gadget {
    color: transparent !important;
    font-size: 0 !important;
  }
  .goog-te-combo {
    font-size: 16px !important;
    margin: 0 !important;
  }
  .goog-te-banner-frame {
    display: none !important;
    z-index: -100 !important;
    opacity: 0 !important;
  }
  /* .skiptranslate{
      display: none !important;
  } */

  @media only screen and (max-width: 1360px) {    
    .goog-te-combo {
        font-size: 14px !important;
        margin: 5px 0 0 0 !important;        
    }
}
@media only screen and (max-width: 1200px) {    
    .goog-te-combo {
        font-size: 16px !important;
        margin: 5px 0 10px 0 !important;        
    }
}

/*==============================================================

                    INDEX

===============================================================*/

/*
SECTION 1
*/
/* 
#index .section_1 {}


#index .section_1_image {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#index .section_1_image img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out !important;

}

.section_1_button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.section_1_button button {
    background: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-radius: 0%;
}

.section_1_button button:hover {
    background: #000;
    color: #fff;
} */

#index .mySwiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}

#index .mySwiper .swiper-wrapper .swiper-slide {
    position: relative;
}

#index .mySwiper .swiper-wrapper .swiper-slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.slide-img {
    transition: 1.2s ease;
}

#index .slide-text {
    position: absolute;
    bottom: 15%;
    left: 5%;

}
#index .slide-text-right {
    position: absolute;
    bottom: 15%;
    right: 5%;

}

#index .slide-text .text-card,#index .slide-text-right .text-card {
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#index .slide-text .text-card h1,#index .slide-text-right .text-card h1 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#index .slide-text .text-card h4,#index .slide-text-right .text-card h4 {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    font-weight: bolder;
}

#index .slide-text .text-card a ,#index .slide-text-right .text-card a {
    font-weight: bolder;
}

#index .slide-text .text-card button {
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 2px;
    background-color: #000;
    font-weight: bold;
    color: #fff;
    padding: 10px 25px;
    border: 1px solid #000;
    transition: 300ms ease-in-out;
}

#index .slide-text .text-card button:hover {
    background-color: #fff;
    color: #df1f29;
    border: 1px solid #df1f29;
}

@media only screen and (max-width: 1500px) {
    #index  .text-card {
        padding: 20px 30px;

    }

}

@media only screen and (max-width: 1200px) {

    #index  .text-card h1 {
        font-size: 25px;

    }

    #index  .text-card button {
        font-size: 15px;
    }
}



@media only screen and (max-width: 767px) {

#index .mySwiper .swiper-wrapper .swiper-slide img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}

    #index  .text-card h1 {
        font-size: 20px;

    }

    #index  .text-card button {
        font-size: 15px;
    }
    #index .slide-text-right {
        position: absolute;
        bottom: 5%;
        

    }
    #index .slide-text {
        position: absolute;
        bottom: 7%;
        left: 5%;
        width: 100%;
       
    }

}
@media only screen and (max-width: 567px) {

    #index .mySwiper .swiper-wrapper .swiper-slide img {
        width: 100vw;
        height: 60vh;
        object-fit: cover;
    }
    #index .slide-text .text-card h1,#index .slide-text-right .text-card h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    #index .slide-text .text-card h4,#index .slide-text-right .text-card h4 {
        font-size: 15px;
        font-weight: bolder;
    }

    }

    @media only screen and (max-width: 467px) {

        #index .mySwiper .swiper-wrapper .swiper-slide img {
            width: 100vw;
            height: 45vh;
            object-fit: cover;
        }
        #index .slide-text .text-card h1,#index .slide-text-right .text-card h1 {
            font-size: 18px;
            margin-bottom: 5px;
        }
        
        #index .slide-text .text-card h4,#index .slide-text-right .text-card h4 {
            font-size: 12px;
            font-weight: bolder;
            margin-bottom: 5px;
        }
        #index .slide-text .text-card a,#index .slide-text-right .text-card a {
            font-size: 12px;
            font-weight: bolder;
        }
        }
@media only screen and (max-width: 350px) {
    #index  .text-card {
        padding: 8px 16px;
        width: 100%;
        height: 100%;
    }

    #index  .text-card h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #index  .text-card button {
        font-size: 14px;
        padding: 5px 15px;
    }
    #index .slide-text-right {
        position: absolute;
       bottom: 5%;
       right: 5%;
    }
    #index .slide-text {
        position: absolute;
       bottom: 5%;
       left: 5%;
    }
}

/*
SECTION 2
*/

#index .section_2 {
    background: #f8f8f8;
}

#index .section_2 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}



/*
SECTION 3
*/

#index .section_3 {
    background: #fff;
}

#index .section_3 .card_size {
    background: #f8f8f8;
}

#index .section_3 .card_size .card_size_image {
    height: 350px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease-in-out !important;
}

#index .section_3 .card_size .card_size_image:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

#index .section_3 .card_size_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out !important;

}

#index .section_3 .card_size .card_sizes {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 20px 20px 3px 20px;
}




/*
SECTION 4
*/




/*
SECTION 5
*/

#index .section_5 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/about/Lioli_factory.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
}


#index .section_5 .section_5_h5 {
    color: #fff;
}

#index .section_5 .section_5_p {
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0.5px;
}


#index .section_5 .section_5_button button {
    background: #fff;
    padding: 10px 25px;
    letter-spacing: 1px;
    border-radius: 0%;
}

#index .section_5 .section_5_button button:hover {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

#index .section_5 .section_5_button button:hover a {
    color: #fff;
}

#index .section_5 .section_5_button a {
    text-decoration: none;
    color: #FFF;
}

#index .section_5 .section_5_button span {
    font-size: 18px;
}

/*
SECTION 6
*/

#index .section_6 {
    background: #f7f7f7;
}

#index .section_6 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}
#index .section_6 .section_6_favourite{
    margin: 0px 10px 30px 10px;
    width: 150px;
    
}
#index .section_6 .section_6_favourite h5{
font-size: 14px;
font-weight: bold;
}
#index .section_6 .section_6_product_img {
    height: 300px;
    width: 150px;
    overflow: hidden;
    margin-bottom: 15px;
}
#index .section_6 .section_6_product_img:hover img{
    transform: scale(1.1);
}

#index .section_6 .section_6_product_img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}

#index .section_6 .section_6_button button {
    background: #000;
    color: #fff;
    padding: 10px 25px;
    letter-spacing: 1px;
    border-radius: 0%;
}

#index .section_6 .section_6_button button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;

}

/*
SECTION 7
*/


#index .section_7 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}


#index .section_7 .video-container {
    width: 100%;
    height: 400px;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#index .section_7 .video-container .video-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index .section_7 .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

#index .section_7 .play-button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    pointer-events: none;
}

#index .section_7 .play-button-wrapper #circle-play-b {
    cursor: pointer;
    pointer-events: auto;
}

#index .section_7 .play-button-wrapper #circle-play-b svg {
    width: 100px;
    height: 100px;
    fill: #fff;
    stroke: #fff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 0.9;
}


#index .section_7 .section_7_button button {
    background: #f8f8f8;
    color: #000;
    padding: 10px 25px;
    letter-spacing: 1px;
    border-radius: 0%;
}

#index .section_7 .section_7_button button:hover {
    background: #000;
    color: #fff;
}



/*==============================================================

                    ABOUT

===============================================================*/

/*
SECTION 1
*/


#about .section_1 {}


#about .section_1_image {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#about .section_1_image img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out !important;

}






/*
SECTION 2
*/

#about .section_2 {
    background: #fff;
}

#about .section_2 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}

/*SECTION 3*/


#about .pc_section3 {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    background-color: #F4F4F4;
}

#about .pc_section3 img {
    height: 100vh;
    width: 90vw;
    object-fit: cover;
    object-position: center;
}

#about .pc_section3 .pc_section3_text {

    position: absolute;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;

}

#about .pc_section3_text h1 img {
    height: 30px;
    width: auto;
    overflow: hidden;
}




#about .m_section3 {
    display: none !important
}

#about .m_section3 img {
    height: 300px;
    width: 100vw;
    z-index: -1;
    object-fit: contain;
    margin-top: 100px;
    object-position: top left;
}


/*
SECTION 4
*/

#about .section_4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/index/banner/01.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff
}

#about .section_4 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}




#about .section_4 .strengths_h4 {
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 1px;
}

#about .section_4 .strengths_p {
    font-size: 17px;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #fff;
}




/*
SECTION 5
*/

#about .section_5 {
    background: #f7f7f7;
    margin-top: -8%;
    z-index: -1;
}

#about .section_5 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}

#about .section_5 .milestone_img img {
    height: 400px;
    width: 100%;
    object-fit: contain;
    object-position: bottom;
}


/*
Journey Section

*/

.journey_section {
    padding: 0% 10% 5% 10% !important;
    margin-top: -5% !important;
    background: #f7f7f7 !important;
    height: 100% !important;
    margin-bottom: 20px !important;

}





















/*==============================================================

                    CONTACT

===============================================================*/

/*
SECTION 1
*/

/*
SECTION 2
*/

#contact .section_2 {
    background: #fff;
}

#contact .section_2 .line {
    height: 45px;
    width: auto;
    margin-top: -10px;
}




#contact .section_p a {
    text-decoration: none;
    color: #000;
}

/*
SECTION 5
*/

#contact #contact_form label {
    font-size: 18px;
    font-weight: 500;
}

#contact #contact_form input {
    border-radius: 0%;
    border: 1px solid #000;
}

#contact #contact_form .contact_button button {
    background: #000;
    padding: 10px 30px;
    color: #fff;
    border-radius: 0%;
}

#contact #contact_form .contact_button button:hover {
    background: #fff;
    border: 1px solid #000;
    color: #000;
}

#contact .section_6 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1633114129669-78b1ff09902b?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff
}

#contact .section_6 .line {
    height: 45px;
    width: auto;
    margin-top: -10px;
}


#contact .section_6 .contact_button button {
    background: #fff;
    padding: 10px 45px;
    color: #000;
    border-radius: 0%;
}

#contact .section_6 .contact_button button:hover {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}











/*==============================================================

                    Collection

===============================================================*/

/*
SECTION 1
*/


#collection .section_2 {
    background: #fff;
}

#collection .section_2 .line {
    height: 45px;
    width: auto;
    margin-top: -10px;
}

#collection .section_2 .size_images {
    height: 300px;
    width: 100%;
    overflow: hidden;
    padding: 0px 20px;
}

#collection .section_2 .size_images img {
    height: 100%;
    width: 95%;
    object-fit: contain;
    object-position: center;
    transition: 0.3s ease-in-out !important;
}

#collection .section_2 .size_images img:hover {
    transform: scale(1.05);
}



#collection .section_p a {
    text-decoration: none;
    color: #000;
}

#collection .section_2 .filters select:focus {
    outline: none !important;
    border: none !important;
}

#collection .section_2 .filters select {
    border: none !important;
    outline: none !important;
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;
}

#collection .section_2 .filters label {
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;

}

#collection .section_2 .total_collection {
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;
    padding-top: 07px;
}

#collection .section_2 a {
    text-decoration: none;
    color: inherit;
}

#collection .section_2 .collection_card .collection_card_img {
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out !important;
}

#collection .section_2 .collection_card h6 {
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;
}

#collection .section_2 .collection_card .collection_card_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out !important;

}

#collection .section_2 .collection_card:hover .collection_card_img img {
    transform: scale(1.05);
}

/*
SECTION 3
*/


#collection .section_3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1633114129669-78b1ff09902b?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff
}

#collection .section_3 .line {
    height: 45px;
    width: auto;
    margin-top: -10px;
}


#collection .section_3 .contact_button button {
    background: #fff;
    padding: 10px 45px;
    color: #000;
    border-radius: 0%;
}

#collection .section_3 .contact_button button:hover {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}




#collection .section_3 .contact_button h6 {
    color: #fff;
    margin: 15px 0px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 20px;
}

#collection .section_3 .contact_button a {
    text-decoration: none;
    color: inherit;
}















/*==============================================================

                    Products 

===============================================================*/

/*
SECTION 1
*/


#products .section_2 {
    background: #fff;
}

#products .section_2 .line {
    height: 25px;
    width: auto;
}


#products .accordion {
    background-color: transparent;

    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    transition: 0.4s;
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;
    padding-bottom: 5px;
}

#products .accordion:hover,
#products .active {
    background-color: #ccc;
}

#products .accordion:after {
    content: "\002B";
    font-weight: 700;
    color: #141414;
    font-weight: 700;
    float: right;
    right: 0px;
}

#products .active:after {
    content: "\2212";
    font-weight: 700;
}

#products .panel {
    padding-top: 5px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


#products .section_p a {
    text-decoration: none;
    color: #000;
}


#products .section_2 .filters select:focus {
    outline: none !important;
    border: none !important;
}

#products .section_2 .filters select {
    border: none !important;
    outline: none !important;
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;
}

#products .section_2 .filters a {
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;

}

#products .section_2 .total_products {
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;
    padding-top: 07px;
}

#products .section_2 a {
    text-decoration: none;
    color: inherit;
}

#products .section_2 .products_card .products_card_img {
    /* height: 250px;
    width: 100%; */
    overflow: hidden;
    margin-bottom: 10px;
}

#products .section_2 .products_card h6 {
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;

}

#products .section_2 .products_card .products_card_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out !important;
    position:relative;

}
#products .section_2 .products_card .products_card_img .new {
  background: red;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  position: absolute;
  top: 12px;
  left: 3px;
  z-index: 2;
  transform: rotate(-45deg);
}
#products .section_2 .products_card .products_card_img .new:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  transform: rotate(45deg);
  border-width: 20px 20px 0 20px;
  border-color: red transparent transparent transparent;
  position: absolute;
  right: -27px;
  bottom: -3px;
}
#products .section_2 .products_card .products_card_img .new:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  transform: rotate(-45deg);
  border-width: 20px 20px 0 20px;
  border-color: red transparent transparent transparent;
  position: absolute;
  left: -27px;
  bottom: -3px;
}

#products .section_2 .products_card:hover .products_card_img img {
    transform: scale(1.05);
}

#products .section_2 .filters h6 {
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;
    text-align: left;
    padding-bottom: 10px;
}

#products .section_2 .filters {
    position: relative !important;
    width: 100%;

}

#products .section_2 .product-filter {
    z-index: 0 !important;
}

.product-filter-scrolled {
    position: fixed !important;
    top: 80px;
    height: 100%;

}

.product-filter-bottom-scrolled {
    position: absolute !important;
    bottom: 40vh;

}

.mobile-filter-scrolled {
    position: fixed !important;
    z-index: 100;
    background-color: #fff;
    top: 60px;
}

#products .section_2 .filters ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#products .section_2 .filters ul li {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 17px;
    line-height: 35px
}

@media only screen and (max-width:522px) {
    .section-title-head {
        padding-top: 50px;
    }

    .mobile-filter h5 {
        font-size: 14px;
    }

    .mobile-filter .dropdown-menu {
        width: 100px;
        padding: 0px;
        margin: 0px;
    }

    .mobile-filter .dropdown-menu a {
        font-size: 14px !important;
        padding: 5px 10px 5px 10px;
        width: 100%;
    }

    .mobile-filter .dropdown-toggle {
        padding: 0;
        font-size: 14px !important;
    }

    #products .section_2 .products_card h6 {
        color: #000;
        font-weight: bold;
        letter-spacing: 0.1px;
        font-size: 14px;

    }
}

@media only screen and (max-width:500px) {
    #products .section_2 .products_card h6 {
        color: #000;
        font-weight: bold;
        letter-spacing: 0.1px;
        font-size: 16px;

    }
}

#products .section_2 .product-row {
    margin: 5px 10px;
    width: 200px;
}

#products .section_2 #s1200x1200mm,
#products .section_2 #s1600x1600mm {
    height: 200px !important;
    width: 200px !important;
    object-fit: cover !important;

}

#products .section_2 #s1200x2400mm,
#products .section_2 #s1600x3200mm {
    height: 400px !important;
    width: 200px !important;
    object-fit: cover !important;

}

#products .section_2 #s800x2400mm {
    height: 600px !important;
    width: 200px !important;
    object-fit: cover !important;
}
/* 
@media only screen and (max-width:500px) {
    #products .section_2 .product-row {
        margin: 5px 10px;
        width: 150px;
    }

    #products .section_2 #s1200x1200mm,
    #products .section_2 #s1600x1600mm {
        height: 150px !important;
        width: 150px !important;
        object-fit: cover !important;

    }

    #products .section_2 #s1200x2400mm,
    #products .section_2 #s1600x3200mm {
        height: 300px !important;
        width: 150px !important;
        object-fit: cover !important;

    }

    #products .section_2 #s800x2400mm {
        height: 450px !important;
        width: 150px !important;
        object-fit: cover !important;
    }
} */

@media only screen and (max-width:500px) {
    #products .section_2 .product-row {
        margin: 0 10px;
        width: 100%;
        padding: 0 20px;
    }

    #products .section_2 #s1200x1200mm,
    #products .section_2 #s1600x1600mm {
        height: 250px !important;
        width: 100% !important;
        object-fit: cover !important;

    }

    #products .section_2 #s1200x2400mm,
    #products .section_2 #s1600x3200mm {
        height: 250px !important;
        width: 100% !important;
        object-fit: cover !important;

    }

    #products .section_2 #s800x2400mm {
        height: 250px !important;
        width: 100% !important;
        object-fit: cover !important;
    }
}

/*
SECTION 3
*/


#products .section_3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1633114129669-78b1ff09902b?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: 1000 !important;
}

#products .section_3 .line {
    height: 45px;
    width: auto;
    margin-top: -10px;
}


#products .section_3 .contact_button button {
    background: #fff;
    padding: 10px 45px;
    color: #000;
    border-radius: 0%;
}

#products .section_3 .contact_button button:hover {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}




#products .section_3 .contact_button h6 {
    color: #fff;
    margin: 15px 0px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 20px;
}

#products .section_3 .contact_button a {
    text-decoration: none;
    color: inherit;
}
















/*==============================================================

                    Products Inside

===============================================================*/

/*
SECTION 1
*/


#product_inside .section_2 {
    background: #fff;
}

#product_inside .section_2 .line {
    height: 45px;
    width: auto;
    margin-top: -10px;
}




#product_inside .section_p a {
    text-decoration: none;
    color: #000;
}

#product_inside .section_2 .filters select:focus {
    outline: none !important;
    border: none !important;
}

#product_inside .section_2 .filters select {
    border: none !important;
    outline: none !important;
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;
}

#product_inside .section_2 .filters label {
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;

}

#product_inside .section_2 .total_products {
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.3px;
    font-size: 17px;
    padding-top: 07px;
}

#product_inside .section_2 a {
    text-decoration: none;
    color: inherit;
}

#product_inside .section_2 .products_card .products_card_img {
    height: 250px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out !important;
}

#product_inside .section_2 .products_card h6 {
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;
}

#product_inside .section_2 .products_card .products_card_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out !important;

}

#product_inside .section_2 .products_card:hover .products_card_img img {
    transform: scale(1.05);
}

#product_inside .section_2 .filters h6 {
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;
    text-align: center;
    padding-bottom: 25px;
}

#product_inside .section_2 .filters ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#product_inside .section_2 .filters ul li {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 17px;
    line-height: 35px
}

#product_inside .section_2 .product_inside_deatils h1 {
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 35px;
    line-height: 45px
}

#product_inside .section_2 .product_inside_deatils h2 {
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 25px;
    line-height: 45px
}

#product_inside .section_2 .product_inside_deatils h6 {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 35px
}

#product_inside .section_2 .product_inside_deatils img {
    height: 350px;
    width: 100%;
    object-fit: contain;
    object-position: left;
    margin-left: -40px !important;
    margin-bottom: 20px;
}

/*
SECTION 3
*/


#product_inside .section_3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1633114129669-78b1ff09902b?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff
}

#product_inside .section_3 .line {
    height: 45px;
    width: auto;
    margin-top: -10px;
}


#product_inside .section_3 .contact_button button {
    background: #fff;
    padding: 10px 45px;
    color: #000;
    border-radius: 0%;
}

#product_inside .section_3 .contact_button button:hover {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}




#product_inside .section_3 .contact_button h6 {
    color: #fff;
    margin: 15px 0px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 20px;
}

#product_inside .section_3 .contact_button a {
    text-decoration: none;
    color: inherit;
}


#product_inside .related-p h6 {
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;
}

#product_inside .related .product_card .product_card_img {
    height: 250px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out !important;
}

#product_inside .related .product_card h5 {
    color: grey;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 25px;
}

#product_inside .related .product_card h6 {
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;
}

#product_inside .related .product_card .product_card_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out !important;

}

#product_inside .related .product_card:hover .product_card_img img {
    transform: scale(1.05);
}


/* Catalogue */


#catalogue .section-2 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}

#catalogue .section-2 .wrapper-img {
    height: 190px;
    width: 100%;
    overflow: hidden;
}
#catalogue .section-2 .wrapper{
}

#catalogue .section-2 .wrapper img {
    transition: 300ms ease-in-out;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    object-position: calc();
}

#catalogue .section-2 .wrapper:hover img {
    transform: scale(1.2);
}

#catalogue .section-2 .wrapper h1 {
    font-size: 35px;
    line-height: 42px;
    color: #212529;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

#catalogue .section-2 .wrapper h2 {
    font-size: 17px;
    height: 60px;
    line-height: 27px;
    color: #212529;
    font-weight: 700;
    vertical-align: middle !important;
    font-family: "Montserrat", sans-serif;
}

#catalogue .section-2 .wrapper button {
    padding: 10px 20px;
    border: 1px solid #212529;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    background-color: #212529;
    color: #fff;
    font-weight: 600;
    margin: 0 5px;
    width: 100% !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 300ms ease-in-out;
}

#catalogue .section-2 .wrapper button:hover {
    color: #212529;
    background-color: transparent;
}













/* Gallery - Media */


#gallery .section-2 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}







/* Layout for this demo */
/* .wrap{
    position: relative;
    max-width: 1000px;
    width: 90%;
    margin: 100px auto;
  }
   */
/* The outer-div to move the elements */
#gallery .box-video {
    position: relative;
    width: 100%;
    height: 400px;
    cursor: pointer;
    overflow: hidden;
}


/* and iframe shows up */
#gallery .box-video.open .video-container {
    opacity: 1;
    -webkit-transition: all .6s .8s;
    transition: all .6s .8s;
}

/* Giving the div ratio of 16:9 with padding */
#gallery .video-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    z-index: 1;
    background-color: #000;

}

#gallery .video-container iframe {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


#gallery .video-container {
    width: 100%;
    height: 400px;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#gallery .video-container .video-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

#gallery .play-button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    pointer-events: none;
}

#gallery .play-button-wrapper .play-gif {
    cursor: pointer;
    pointer-events: auto;
}

#gallery .play-button-wrapper .play-gif svg {
    width: 100px;
    height: 100px;
    fill: #fff;
    stroke: #fff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 0.9;
}


#gallery .section_7_button button {
    background: #f8f8f8;
    color: #000;
    padding: 10px 25px;
    letter-spacing: 1px;
    border-radius: 0%;
}

#gallery .section_7_button button:hover {
    background: #000;
    color: #fff;
}







/* Blogs - Media */


#blog .section-2 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}


#blog .blogs {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

#blog .blogs .blog-image {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

#blog .blogs .blog-image img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

#blog .blogs .blog-text {
    padding: 10px 15px;
}

#blog .blogs .blog-text h3 {
    height: 100%;
    width: 100%;
    color: #000;
    font-weight: bolder;
    font-size: 18px;
    margin: 10px 0px;
    text-transform: capitalize !important;
}

#blog .blogs .blog-text p {
    height: 100%;
    width: 100%;
    color: #000;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: justify;
    margin: 10px 0px;
}

#blog .blogs .blog-text button {
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: justify;
    margin: 10px 0px;
}

#blog .blogs .blog-text button a {
    color: inherit;
}


#blog .blogs .blog-text button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}


/* 
FAQS Page
*/




#faqs .section-2 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}

#faqs .faq-p {
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
}


#faqs h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 1500px) {
    #faqs h1 {
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 1200px) {
    #faqs h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 1px;
    }
}

#faqs .card {
    border: none !important;
    outline: 0 !important;
}

#faqs .card-header {
    background: 0 0 !important;
    border: none !important;
    outline: 0 !important;
}

#faqs .card-header h5 {
    text-decoration: none !important;
}

#faqs .card-header button {
    text-decoration: none !important;
    color: #141414;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

#faqs .accordion {
    background-color: transparent;
    border-bottom: 1px solid #141414 !important;
    color: #141414;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    margin-bottom: 25px;
    border: none;
    text-align: left;
    outline: 0;
    font-weight: 400;
    font-size: 20px;
    transition: 0.4s;
}

#faqs .accordion:hover,
#faqs .active {
    background-color: #ccc;
}

#faqs .accordion:after {
    content: "\002B";
    font-weight: 700;
    color: #141414;
    font-weight: 700;
    float: right;
    margin-left: 5px;
}

#faqs .active:after {
    content: "\2212";
    font-weight: 700;
}

#faqs .panel {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#faqs .panel ul {
    list-style-type: decimal;
}

#faqs .panel ul li {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: justify;
    margin-left: 30px;
    padding-bottom: 20px;
}





















/* Blogs - Media */



#blog-inside .accordion {
    background-color: transparent;
    border-bottom: 1px solid #141414 !important;
    color: #141414;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    text-align: left;
    outline: 0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s;
}

#blog-inside h4 {
  color: #000;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 18px;
  margin: 10px 0px;
}
#blog-inside .accordion:hover,

#blog-inside .active {
    background-color: #ccc;
}


#blog-inside .accordion:after {
    content: "\002B";
    font-weight: 700;
    color: #141414;
    font-weight: 700;
    float: right;
    margin-left: 5px;
}


#blog-inside .active:after {
    content: "\2212";
    font-weight: 700;
}


#blog-inside .panel {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


#blog-inside .panel ul {
    list-style-type: decimal;
}


#blog-inside .panel ul li {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: justify;
    margin-left: 30px;
    padding-bottom: 20px;
}

#blog-inside .section-2 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}

#blog-inside .blog-preview img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center
}

#blog-inside .blog-h2 h2 {
    
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 30px;
}

#blog-inside .blog-para p {
    
    color: #000;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: justify;
    margin: 10px 0px;
}

#blog-inside .blog-para h3 {
    color: #000;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 20px;
    margin: 10px 0px;
}
#blog-inside .cta_box {
  background-color: #000;
  padding: 30px 20px;
}
#blog-inside .cta_box .cta_head {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 5px;
  color: #fff;
}
#blog-inside .cta_box .cta_p {
  color: #fff;
}

#blog-inside .cta_box button {
  background-color: #fff;
  color: #000;
  padding: 5px 20px;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-size: 15px;
  text-align: justify;
  margin: 10px 0px;
}

#blog-inside .cta_box button a {
  color: #000;
}
#blog-inside .blog-section-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#blog-inside .tile_image {
  height: 300px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
#blog-inside .blog-section-img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

#blog-inside .blogs {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

#blog-inside .blogs .blog-image {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

#blog-inside .blogs .blog-image img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

#blog-inside .blogs .blog-text {
    padding: 10px 15px;
}

#blog-inside .blogs .blog-text h3 {
    height: 100%;
    width: 100%;
    color: #000;
    font-weight: bolder;
    font-size: 18px;
    margin: 10px 0px;
    text-transform: capitalize !important;
}

#blog-inside .blogs .blog-text p {
    height: 100%;
    width: 100%;
    color: #000;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: justify;
    margin: 10px 0px;
}

#blog-inside .blogs .blog-text button {
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: justify;
    margin: 10px 0px;
}

#blog-inside .blogs .blog-text button a {
    color: inherit;
}


#blog-inside .blogs .blog-text button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}



























/* Career -  */


#career .section-2 .line,
#career .section-3 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}

#career .section-3 {
    background-color: #f7f7f7;
    padding-top: 20px;
}

#career .section-2 .bg-grey {
    background-color: #383838;
    color: #fff;
    height: 100%;
}

#career .section-2 .bg-grey hr {
    background-color: #fff;
    color: #fff;
}

#career .section-2 .bg-grey h1 {
    font-size: 45px;

}

#career .section-2 .bg-grey p {
    font-size: 20px;


}

#career .section-2 .banner img {
    width: 100%;
    object-fit: cover;
}

#career .section-2 .white-hr {
    background-color: #000;
    color: #000;
    height: 5px;
}




#career .bg-white {
    background-color: #232323 !important;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#career .bg-white .br-right {
    border-right: 1px solid #FFF;
}

#career .bg-white .sm-txt {
    font-size: 14px;
    margin-top: -15px;
    font-weight: bold;

}

#career .bg-white .xs-txt {
    font-size: 15px;
    margin-top: 20px;
}

#career .bg-white .lg-txt {
    font-size: 20px;
}

#career .bg-white p {
    font-size: 14px;
}

#career .bg-white .apply {
    font-weight: bolder;
}

#career .bg-white button {
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: lightgreen;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 14px;

}

#career .resume_career {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 10px 20px;
    font-weight: bold;


    cursor: pointer;
    margin-top: 1rem;
}

#career #file-chosen {
    margin-left: 0.3rem;
    font-weight: bold;

    color: #000;
}





#career .form button {
    border: none;
    outline: none;
    background-color: lightgreen;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 100px 8px 30px;
}

#career .form .resume {
    border: none;
    outline: none;
    background-color: #383838;
    color: #000;
    font-size: 17px;
    font-weight: 700;
    padding: 8px 30px;
}

#career .form label {
    letter-spacing: 1px;

}

#career .form input {
    width: 100%;
    color: #000;
    height: 40px;
    background-color: transparent;
    border: 1px solid #000;
}




/* Career Inside */


#career_inside .section-2 .line,
#career_inside .section-3 .line {
    height: 35px;
    width: auto;
    margin-top: -10px;
}









/*SECTION 2*/
#career_inside .career_details {
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    padding-left: 60px;
}

#career_inside .career_h5 {
    font-size: 25px;

    font-weight: bold;
}

#career_inside .career_h3 {
    font-size: 30px;

    font-weight: bold;
}

#career_inside .career_p {
    font-size: 15px;

    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
    line-height: 20px;
}

#career_inside .career_p2 {
    font-size: 15px;

    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
    line-height: 30px;
}

#career_inside .career_ul {
    /* margin: 0;
    padding: 0 18px; */
}

#career_inside .career_ul li {

    color: rgba(0, 0, 0, 0.9);

}

#career_inside .career_ul li {
    font-size: 15px;

    font-weight: normal;
    color: rgba(0, 0, 0, 0.9);
    line-height: 18px;
}

#career_inside .users {
    margin-left: -60px;
}

#career_inside .users i {
    font-size: 100px;
}

#career_inside .form form {
    width: 80%;
    margin: auto;
}

#career_inside .form button {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
    outline: none;
    background-color: lightgreen;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 100px 8px 30px;
}

#career_inside .form .resume {
    border: none;
    outline: none;
    background-color: #383838;
    color: #000;
    font-size: 17px;
    font-weight: 700;
    padding: 8px 30px;
}

#career_inside .resume_career {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 10px 20px;
    font-weight: bold;


    cursor: pointer;
    margin-top: 1rem;
}

#career_inside #file-chosen {
    margin-left: 0.3rem;
    font-weight: bold;

    color: #000;
}

#career_inside .form label {
    letter-spacing: 1px;

}

#career_inside .form input {
    width: 100%;
    color: #000;
    height: 50px;
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid #000;
}

@media only screen and (max-width: 1500px) {

    #career_inside .form form {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 1200px) {

    #career_inside .form form {
        width: 80%;
        margin: auto;
    }

    #career_inside .users {
        margin-left: -40px;
    }

    #career_inside .users i {
        font-size: 70px;
    }
}

@media only screen and (max-width: 767px) {

    #career_inside .form form {
        width: 95%;
        margin: 0 auto;
    }

    #career_inside .users {
        margin-left: -30px;
    }

    #career_inside .users i {
        font-size: 50px;
    }

    #career_inside .career_details {
        border-left: 1px solid rgba(0, 0, 0, 0.7);
        padding-left: 40px;
    }
}


@media only screen and (max-width: 500px) {

    #career_inside .users {
        margin-left: -15px;
    }

    #career_inside .users i {
        font-size: 30px;
    }

    #career_inside .career_details {
        border-left: 1px solid rgba(0, 0, 0, 0.7);
        padding-left: 20px;
    }
}
