{% extends "admin/layout.html" %}
{% block content %}
<div class="x_content container">
    <div class="row px-md-5 px-2">
        <div class="col-md-6 mb-2">
            <h3>
                COLLECTIONS
            </h3>
        </div>
        <div class="col-md-6 mb-2 text-md-right">
            <button class="btn-primary btn mt-3">
                <a href='{{url_for("admin.add_collection")}}' style="color: inherit;">
                    Add Collection
                </a>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Collection Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for collection in collections %}
                        <tr>
                            <td>
                                {{collection.id}}
                            </td>
                            <td>
                                {{collection.collection}}
                            </td>
                            <td class="action">
                                <button class="btn" data-toggle="modal" data-target="#delete_collection{{collection.id}}">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                                <button class="btn" data-toggle="modal" data-target="#collection{{collection.id}}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                            </td>
                        </tr>
                        <div class="modal fade" id="collection{{collection.id}}" tabindex="-1" role="dialog" aria-labelledby="collection{{collection.id}}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="collection{{collection.id}}Label">Edit Collection</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure You Want To Edit The {{collection.collection}} ??
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">
                                            <a href='{{url_for("admin.edit_collection",collection_id=collection.id)}}' style="color: inherit;">
                                                Confirm
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="delete_collection{{collection.id}}" tabindex="-1" role="dialog" aria-labelledby="delete_collection{{collection.id}}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delete_collection{{collection.id}}Label">Delete Collection</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure You Want To Delete The {{collection.collection}} ??
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">
                                            <a href='{{url_for("admin.delete_collection",collection_id=collection.id)}}' style="color: inherit;">
                                                Confirm
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}