{% extends "admin/layout.html" %}
{% block content %}
<div class="x_content container">
    <div class="row px-md-5 px-2">
        <div class="col-md-6 mb-2">
            <h3>
                Products
            </h3>
        </div>
        <div class="col-md-6 mb-2 text-md-right">
            <button class="btn-primary btn mt-3">
                <a href='{{url_for("admin.add_product")}}' style="color: inherit;">
                    Add Product
                </a>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>Product Random</th>
                            <th>Collection</th>
                            <th>Size</th>
                            <th>Thickness</th>
                            <th>Finish</th>
                            <th>Tile Image</th>
                            <th> Preview </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        {% if product.is_deleted == False %}
                        <tr>
                            <td>
                                {{product.id}}
                            </td>
                            <td>
                                {{product.product_name}}
                            </td>
                            <td>
                                {{product.product_image.split(',')|length}}
                            </td>
                            <td>
                                {% for collection in collections %}
                                {% if collection.id == product.collection_id %}
                                {{collection.collection}}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for size in sizes %}
                                {% if size.id == product.size_id %}
                                {{size.size}}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for thickness in thicknesses %}
                                {% if thickness.id == product.thickness_id %}
                                {{thickness.thickness}}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for surface in surfaces %}
                                {% if surface.id == product.surface_id %}
                                {{surface.surface}}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <img src="{{url_for('static',filename='admin/uploads/product/random/'+product.product_image.split(',')[0])}}" alt="{{product.product_image.split(',')[0]}}" style="height: 150px;width: 150px;object-fit: cover;object-position: left;">
                            </td>
                            <td>
                                <img src="{{url_for('static', filename='admin/uploads/product/preview/'+product.preview)}}" class="img-fluid" style="height: 150px;width: 150px;object-fit: cover;object-position: left;" alt="{{product.preview}}">
                            </td>
                            <td class="action">
                                <button class="btn" data-toggle="modal" data-target="#delete_product{{product.id}}">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                                <button class="btn" data-toggle="modal" data-target="#product{{product.id}}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                            </td>
                        </tr>
                        <div class="modal fade" id="product{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="product{{product.id}}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="product{{product.id}}Label">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure You Want To Edit The {{product.product_name}} ??
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">
                                            <a href='{{url_for("admin.edit_product",product_id=product.id)}}' style="color: inherit;">
                                                Confirm
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="delete_product{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="delete_product{{product.id}}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delete_product{{product.id}}Label">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure You Want To Delete The {{product.product_name}} ??
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">
                                            <a href='{{url_for("admin.delete_products",product_id=product.id)}}' style="color: inherit;">
                                                Confirm
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}