{% extends "layout.html" %}
{% block content %}
<div id="about">
    <section class="section_1">
        <div class="section_1_image">
            <div class="row">
                <div class="col-12 p-0 m-0">
                    <img src="{{url_for('static', filename='assets/images/about/banner2.jpg')}}" alt="" class="zoom">
                </div>
            </div>
        </div>
    </section>
    <section class="section_2 container">
        <div class="row">
            <div class="col-12 mb-md-5 mb-3 pb-0 text-center ">
                <h2 class="section_h2" data-aos="fade">
                    ABOUT US<span> <img src="{{url_for('static', filename='assets/images/about/about_line.png')}}" class="line"> </span>
                </h2>
            </div>
            <div class="col-12">
                <p class="section_p" data-aos="fade-left">
                    Driven by innovation, backed by leading-edge technology and professional expertise, Lioli has emerged as a leading porcelain tile company in India, with worldwide reach. In the short span of mere 4 years, we have become one of the most trusted porcelain slab manufacturing brand in the world - by offering quality products and impeccable customer service to clients and channel partners around the world.
                </p>
                <p class="section_p" data-aos="fade-right">
                    With our dynamic capability to render amazing slab solutions with world-class technology and unmatched proficiency, Lioli is a pioneer porcelain slab tiles manufacturer of 1600*3200mm size slabs in India. Inspired by the spectacles of nature, we offer better alternatives to marble slabs by combining design and excellent craftsmanship.
                </p>
                <p class="section_p" data-aos="fade-right">
                    With a production capacity of 13000 sq. meters per day, we are a globally recognized slab tile manufacturing company based in Morbi, that has set a benchmark in the slab industry with unparalleled porcelain slabs - from traditional to modern applications in architecture, furnishing, and design. Lioli is the answer to all your architectural requirements.
                </p>
                <p class="section_p" data-aos="fade-right">
                    <b>“We offer state-of-the-art porcelain slabs designed to add a majestic touch to any space.”</b>
                </p>
            </div>
        </div>
    </section>
    <section class="section_3">
        <div class="pc_section3  py-lg-5">
            <img src="{{url_for('static', filename='assets/images/about/Lioli_factory.png')}}" />
            <div class="pc_section3_text">
                <div class="row">
                    <div class="col-7">
                    </div>
                    <div class="col-5" data-aos="fade-in" data-aos-delay="100">
                        <h1 class="section_h2">
                            BRAND IDENTITY
                        </h1>
                        <p class="section_p">
                            By harnessing our technological prowess and skilful capabilities, Lioli has arisen as a certified quality slab tiles manufacturer in India. Since the company’s inception, our team is constantly evolving to offer superior-grade tile solutions that appeal to our diverse client base worldwide.
                        </p>
                        <p class="section_p">
                            Lioli is creating a strong business presence through the blooming trends in the tile industry with an innovative approach. As the visionary leader in India, we aspire to be a global trendsetter in terms of porcelain slabs and the largest format porcelain tile company. Our core philosophy to create a strong brand identity is based on- creativity, innovation, and excellence.
                        </p>
                        <p class="section_p">
                            <b>
                                With our innovative approach, Lioli is creating a strong business presence in the tile industry.
                            </b>
                        </p>
                        <h1 class="section_h2">
                            BRAND INSIGHT
                        </h1>
                        <p class="section_p">
                            Lioli has been established with the firm values at the company’s heart- integrity, honesty, dedication to delivering the best porcelain slabs to the customers. We are more than just a porcelain tile company, we are your partners with a set standard in providing unmatchable tiling solutions.
                            Thanks to in-depth research, the highest quality materials, and progressive technology, Lioli has become a trustworthy porcelain tile brand, helping you create unique dimensions for your space.
                        </p>
                        <p class="section_p">
                            As a prominent porcelain slabs company, we strive to address every issue of our clients. Our customized solutions and quick response to specific requirements make us your reliable partners as dynamic slab manufacturers. Our passion, hard work, and commitment have made us a reliable tile company for your architectural needs!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="m_section3">
            <div class="col-lg-6 mb-5 m_section_img">
                <img src="{{url_for('static', filename='assets/images/about/factory_2.png')}}">
            </div>
            <div class="col-lg-6 mb-5 m_section3_text" style="width: 100%">
                <h1 class="section_h2">
                    BRAND IDENTITY
                </h1>
                <br>
                <p class="section_p">
                    The construction of the identity of LIOLI represents a natural and essential evolution for our firm, one that will help us meet the competition and continue as an unrivaled industry leader.
                    <br><br>
                    We strive to create an identity that can be globally recognized in terms of the current ongoing market trends. We are ace players to bring out the best and freshest ceramics to the market.
                </p>
                <br>
                <h1 class="section_h2">
                    BRAND IDENTITY
                </h1>
                <br>
                <p class="section_p">
                    Especially today customer's are looking first and foremost for a partner. Someone they can trust. Someone who has the intelligence and resources to deliver, who is committed to them for the long term and who has interests at heart.
                    <br><br> Customers expect a lot from a trusted partner. They want the most talented minds to address their strategic needs. They want and need a partner with a fortress balance sheet. But beyond that, they demand a firm that consistently holds itself to the highest ethical standards and that stays singularly focused on supporting the customer's objective.
                </p>
            </div>
        </div>
    </section>
    <section class="section_4 ">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 pb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        BRAND STRENGTH<span> <img src="{{url_for('static', filename='assets/images/about/line2.png')}}" class="line"> </span>
                    </h2>
                </div>
            </div>
            <div class="row justify-content-center px-lg-5">
                <div class="col-md-4 col-sm-6 mb-5">
                    <div class="strengths">
                        <h4 class="strengths_h4">
                            450+
                        </h4>
                        <p class="strengths_p">
                            Employees
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-5">
                    <div class="strengths">
                        <h4 class="strengths_h4">
                            WORLD WIDE
                        </h4>
                        <p class="strengths_p">
                            Dealer Network
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-5">
                    <div class="strengths">
                        <h4 class="strengths_h4">
                            30
                        </h4>
                        <p class="strengths_p">
                            Acres of land
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-5">
                    <div class="strengths">
                        <h4 class="strengths_h4">
                            2
                        </h4>
                        <p class="strengths_p">
                            Slab per minute
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-5">
                    <div class="strengths">
                        <h4 class="strengths_h4">
                            12,000
                        </h4>
                        <p class="strengths_p">
                            Square meters per day of production capacity
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-5">
                    <div class="strengths">
                        <h4 class="strengths_h4">
                            1,00,000
                        </h4>
                        <p class="strengths_p">
                            Square meters of roofed space
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="values" style="background: #F7F7F7">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 pb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        OUR VALUES<span> <img src="{{url_for('static', filename='assets/images/about/about_line.png')}}" class="line"> </span>
                    </h2>
                </div>
                <div class="col-12 mb-5">
                    <p class="section_p mb-5" data-aos="fade">
                        With more than 450+ employees, we are a leading-edge porcelain tile manufacturing company that cherishes integrity, respect, creativity, innovation, and professionalism. These values are inspired by our vision to develop and deliver outstanding tiling solutions for our clients. At Lioli, our people are the driving force of the business. We are stronger when together and we know that. Hence we constantly empower each other to serve our customers, partners, and community in the best way possible. We are a company of brave enthusiasts who are eager to do things uniquely.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-left">
                    <div class="values_card">
                        <div class="values_card_img">
                            <img src="{{url_for('static', filename='assets/images/about/integration.png')}}" />
                        </div>
                        <h5 class="values_card_h5">
                            Integrity
                        </h5>
                        <p class="section_p">
                            We say what we do and we do what we say. Integrity stands at the heart of what we do. By treating everyone equally, we have open and honest communication. Our every action is united with fairness and respect for clients and colleagues too. We believe in providing the best tiling solutions- together.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-left">
                    <div class="values_card">
                        <div class="values_card_img">
                            <img src="{{url_for('static', filename='assets/images/about/project-management.png')}}" />
                        </div>
                        <h5 class="values_card_h5">
                            Innovation
                        </h5>
                        <p class="section_p">
                            Innovation leads to action. Our company constantly strives to exceed the set limits through new ideas, its application, and learning from mistakes. Our curiosity and dedication to creating better solutions lead us to generate new tiling solutions and set new benchmarks within the company as well as in the whole tile industry.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-left">
                    <div class="values_card">
                        <div class="values_card_img">
                            <img src="{{url_for('static', filename='assets/images/about/worker.png')}}" />
                        </div>
                        <h5 class="values_card_h5">
                            Professionalism
                        </h5>
                        <p class="section_p">
                            Lioli consists of experienced professionals who hold the highest standards of professionalism in all roles and areas of specialization. We take our work seriously! By constantly evolving and upgrading our skills, we respond to the changing world by going the extra mile to get the desired results. Our teamwork and innovative excellence make us apart from others.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_5">
        <div class="container">
            <div class="row" style="margin-top: 5%">
                <div class="col-12 mb-5 pb-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        MILESTONE<span> <img src="{{url_for('static', filename='assets/images/about/about_line.png')}}" class="line"> </span>
                    </h2>
                </div>
            </div>
            <div class="milestone_img">
                <img src="{{url_for('static', filename='assets/images/about/milestone.png')}}" />
            </div>
        </div>
    </section>
    <section class="journey_section">
        <div class="" style="background: #fff;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;z-index: 99 !important;margin-bottom: -10%;">
            <div class="container">
                <div class="row text-center py-lg-5 py-2" style="">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                        <div class="journey">
                            <h5 class="journey_h5 mb-3 font-weight-bold">
                                2016, October
                            </h5>
                            <p class="section_p">
                                Company Registration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                        <div class="journey">
                            <h5 class="journey_h5 mb-3 font-weight-bold">
                                2016, December
                            </h5>
                            <p class="section_p">
                                Construction Started
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                        <div class="journey">
                            <h5 class="journey_h5 mb-3 font-weight-bold">
                                2018, MARCH
                            </h5>
                            <p class="section_p">
                                Kiln Ignited
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-12 mb-5 mt-5 pb-5">
                        <img src="{{url_for('static', filename='assets/images/about/line5.png')}}" style="height: 30px;width: 100%;">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                        <div class="journey">
                            <h5 class="journey_h5 mb-3 font-weight-bold">
                                2018, May
                            </h5>
                            <p class="section_p">
                             World's Biggest And India's 1st 1600x3200mm Tile Produced
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                        <div class="journey">
                            <h5 class="journey_h5 mb-3 font-weight-bold">
                                2019, September
                            </h5>
                            <p class="section_p">
                                India's 1st 3mm Tile Produced
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                        <div class="journey">
                            <h5 class="journey_h5 mb-3 font-weight-bold">
                                2020, February
                            </h5>
                            <p class="section_p">
                                Caesarstone Lioli Joint Venture
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                        <div class="journey">
                            <h5 class="journey_h5 mb-3 font-weight-bold">
                                2016, MARCH
                            </h5>
                            <p class="section_p">
                                Journey Description Here
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                        <div class="journey">
                            <h5 class="journey_h5 mb-3 font-weight-bold">
                                2016, MARCH
                            </h5>
                            <p class="section_p">
                                Journey Description Here
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="client-tale  mb-5">
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 5%">
                <div class="col-lg-8 col-md-9 col-12 text-center mb-5">
                    <h2 class="section_h2" data-aos="fade">
                        TESTIMONIALS<span><img src="{{url_for('static', filename='assets/images/about/about_line.png')}}" class="line"> </span>
                    </h2>
                </div>
                <div class="col-lg-8 col-md-9 text-center">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="review">
                                    <img src="{{url_for('static', filename='assets/images/about/review.png')}}">
                                    <div class="mt-4">
                                        <h4 class="font-weight-bold">JUSTIN FORD</h4>
                                        <h4>MANAGER XYZ</h4>
                                    </div>
                                    <div class="mt-4">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="review">
                                    <img src="{{url_for('static', filename='assets/images/about/review.png')}}">
                                    <div class="mt-4">
                                        <h4 class="font-weight-bold">JUSTIN FORD</h4>
                                        <h4>MANAGER XYZ</h4>
                                    </div>
                                    <div class="mt-4">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="explore ">
        <div class="container">
            <div class="row">
                <div class="col-md-8" data-aos="fade-right">
                    <h2 class="explore_head">
                        EXPLORE OUR WIDE <br> RANGE OF CATALOGUE
                    </h2>
                    <p class="section_p">
                        Lioli offers a wide spectrum of impeccable lifestyle solutions, including wall and floor slabs for residential, commercial, and industrial spaces. We have something for everyone! Enlightened by nature, our collection includes pretty much all the slab solutions, from glossy to High Glossy and Matt to Structure. Made from the finest materials, transform your place into an artistic space with our exclusive collections- stone, marble, terrazzo, meek, onyx, and much more. Go ahead, have a look!
                    </p>
                    <div class="explore_button">
                        <button class="btn">
                            <a href='{{url_for("main.download")}}' style="color: inherit;">  Download Catalogue </a>
                        </button>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up">
                    <div class="explore_images">
                        <img src="{{url_for('static', filename='assets/images/index/explore.png')}}" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog container_section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-5 pb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        BLOGS<span> <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line"> </span>
                    </h2>
                </div>
                <div class="col-md-6 mb-5">
                    <a href='{{url_for("blog.blog_inside4")}}' style="color: inherit;">
                        <div class="blog_card" data-aos="fade-up">
                            <div class="blog_card_image">
                                <img src="{{url_for('static', filename='assets/images/blog/blog4/01.jpg')}}" />
                            </div>
                            <h4 class="blog_card_head">
                                Porcelain Tiles Vs. Ceramic Tiles, Which Is Better For Your Need?
                            </h4>
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <p class="section_p">
                                        Ceramic or porcelain tiles are aesthetically pleasing and versatile. It might be difficult for you to decide whether to choose porcelain tiles or ceramic tiles ...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-5">
                    <a href='{{url_for("blog.blog_inside3")}}' style="color: inherit;"></a>
                    <div class="blog_card" data-aos="fade-up">
                        <div class="blog_card_image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" />
                        </div>
                        <h4 class="blog_card_head">
                            Why Porcelain Tiles Are Better Than Natural Stones.
                        </h4>
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <p class="section_p">
                                    Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they spend a lot of time deciding between using natural stone or porcelain tiles...
                                </p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        speed: 1200,
        keyboard: {
            enabled: true,
        },
        mousewheel: false,
        autoplay: {
            delay: 3000,
        },
        on: {
            slideChangeTransitionStart: function() {
                $('.slide-text').hide();
            },
            slideChangeTransitionEnd: function() {
                $('.slide-text').fadeIn('slow');
            },
        },
    });
    </script>
{% endblock %}