{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h1 class="section_h2" data-aos="fade">
                        THIS DIWALI, GET YOUR HOME FESTIVE-READY WITH LIOLI CERAMICA

                    </h1>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog10/02.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>

                            The festive season is around the corner. The time of the year when the weather turns warm,
                            pretty and breathtaking, and the festivals turn up to make the time bright, happy and filled
                            with memories with family, friends and acquaintances.
                        </p>
                        <p>
                            Whether you wish to renovate the living room to welcome the guests or amp up the kitchen
                            where the festivity-laden delicacies are prepared, get your home Diwali ready with porcelain
                            slabs from <a href="/">Lioli Ceramica</a>( you won’t regret our festive-friendly blog)!
                        </p>
                        <p>
                            If you want to redecorate for the festive period, this blog post is for you. In today’s
                            article, we highlight some of the unique, practical and attention-grabbing tiling options to
                            enhance your interior decor.


                        </p>

                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        6 TIPS TO MAKE YOUR HOME FESTIVE READY THIS DIWALI

                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            <b>
                                <i>
                                    We know fall is approaching, bringing the cold winds along, but for the home decor,
                                    it's time to get ready for the holidays.

                                </i>
                            </b>

                        </p>
                        <p>
                            From preparing mouth-watering savouries to making customised greeting cards, everyone is
                            excited to prepare the home for guests. Everyone loves preparing for Diwali and its
                            tradition; what better way than a well-decorated home that is warm and inviting to all the
                            special guests?

                        </p>
                        <p>
                            So grab your cup of hot coffee and start scrolling to create a home for the most memorable
                            holidays, gatherings and more!

                        </p>


                    </div>
                </div>

                <div class="col-12 mb-5 border_bottom">
                    <div class="row">



                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    01. A sense of warmth and comfort with earthy-toned tiles



                                </h3>
                                <p>
                                    With winter on its way, who doesn't love the warmth a home radiates in the chilly
                                    weather? What better way to set the earthy tones than installing warm and cosy
                                    coloured tiles?
                                </p>
                                <p>
                                    Neutral and warm-coloured porcelain tiles work best to create sophisticated, classy,
                                    and homely vibes for your space. Looking ahead in 2023, earth-coloured tiles designs
                                    will be catching the eye of interior decor to make the space look more inviting than
                                    ever!
                                </p>
                                <p>


                                    The intricate designs and well-etched details make our <a
                                        href="https://lioliceramica.com/product/1600x3200mm">1600*3200 mm tiles
                                        collection</a>
                                    in different finishes and designs ideal for walls and floorings. With wide varieties
                                    like <b>Belgium Stone, Bianco Lasa, and Armani Silver</b>, the natural tone surface
                                    will
                                    surely reflect your warm and friendly personality!


                                </p>

                            </div>
                            <br>
                            <div class="blog-preview">
                                <img src="https://lioliceramica.com/static/admin/uploads/size/9eb7fde1c6cf0de0.jpg"
                                    alt="">
                            </div>
                        </div>



                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    02. Add some glitz and glamour



                                </h3>
                                <p>
                                    Warm and earthy tones don’t suit your personality and home decor? If so, how about
                                    adding the charm of glitter and grandness with our <a
                                        href="https://lioliceramica.com/product/1200x2400mm">1200*2400 mm floor and
                                        wall porcelain tiles? </a>
                                </p>
                                <p>
                                    A perfect blend of elegance yet luxury, the various hues of silver, white, gold,
                                    grey, black and blue make them perfect for flooring and walls of your bedroom or
                                    maybe having a fun conversation over cocktails in the living room!

                                </p>
                            </div>
                            <br>
                            <div class="blog-preview">
                                <img src="https://lioliceramica.com/static/admin/uploads/size/1d92f8a40b11ee7b.jpg"
                                    alt="">
                            </div>
                        </div>


                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    03. Make it warm inside!



                                </h3>

                                <p>
                                    As the temperature drops outside, it’s time to make the interiors warm and snuggly!
                                    Beat the chilly atmosphere and add an extra layer of comfort to your bedroom, living
                                    room, study area, and kitchen with beautifully crafted tiles.

                                </p>
                                <p>

                                    Bring in the warmth of the neutral colours without sacrificing aesthetics and
                                    functionality with Lioli’s <a
                                        href="https://lioliceramica.com/product/1200x1200mm">1200*1200 mm porcelain slab
                                        collection</a>. These tiles are perfect for adding elegance to the living room,
                                    style to the bathroom, and beautifying the kitchen space.


                                </p>

                            </div>

                            <br>
                            <div class="blog-preview">
                                <img src="https://lioliceramica.com/static/admin/uploads/size/5c80ad21f0827101.jpg"
                                    alt="">
                            </div>
                        </div>






                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    04. Upbeat the kitchen island


                                </h3>
                                <p>
                                    <b>
                                        <i>
                                            It's the festive season, and who would dare to miss the kitchen island?

                                        </i>
                                    </b>
                                </p>
                                <p>
                                    The place where new recipes are tried, delicacies are created, and family bonds over
                                    cooking, a kitchen island can make your cooking adventures(or disasters) more
                                    memorable. You would be amazed how changing some tiles can make the whole place new!

                                </p>
                                <p>

                                    The <a href="https://lioliceramica.com/product/800x2400mm">800* 2400 mm
                                        collection</a> from Lioli Ceramica is perfect for giving the kitchen countertop
                                    a holiday makeover. Meek stone and Meek walnut for a classy kitchen island, or Blue
                                    pearl for a royal feel! Be experimental and go with Midnight Marquina to compliment
                                    the white kitchen decor.


                                </p>
                            </div>


                            <br>
                            <div class="blog-preview">
                                <img src="https://lioliceramica.com/static/admin/uploads/size/6074cddf2e9874a6.jpg"
                                    alt="">
                            </div>
                        </div>


                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    05. Bathroom revamp? Yes, please!


                                </h3>
                                <p>

                                    Is the bathroom project on your renovation list? <b>Rustic matt, Orgatech, and
                                        Structure Matt </b> from Lioli are great ways to design your bath area. These
                                    tiles will infuse a sense of comfort and cleanliness into your shower space with no
                                    risk of slipping.
                                </p>
                                <p>
                                    When would be a better time to dress up your bathroom than now if you want to give
                                    your loved ones a blessed bath time? Create a shower area that is ultra-inviting for
                                    your guests to enjoy!


                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    06. Doll up the walls with Porcelain tiles



                                </h3>

                                <p>
                                    Forget those tacky wallpapers and chipped paint; give new vibes to the home wall
                                    with porcelain tiles. How about creating new artistic walls this holiday season?
                                </p>
                                <p>


                                    Wallpapers are nothing compared to today’s wall coverings. You can now create the
                                    same patterned tiles wallpaper-like impression for your wall! It will beautify your
                                    space and be a sturdy solution against moisture and humidity in your kitchen, living
                                    room, entryway, and bathroom!


                                </p>
                                <p>

                                    Lioli Ceramica’s 1200*2400 mm and 1600*3200 mm <a
                                        href='{{url_for("product.size")}}'>tiles collection</a> comes
                                    in various patterns and designs to turn your bare walls into an exquisite
                                    masterpiece.

                                </p>
                            </div>
                            <div class="blog-preview">
                                <img src="https://lioliceramica.com/static/admin/uploads/size/814ec13de1600948.jpg"
                                    alt="">
                            </div>
                        </div>



                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h2 class="section_h2" data-aos="fade">
                                    Final Thoughts:

                                </h2>
                                <p>
                                    The time to gather and celebrate is here, and a well-decorated home will make the
                                    holiday more memorable, feeling inviting and welcoming for the guests.
                                </p>
                                <p>
                                    Want an Insta-worthy kitchen decor? Thinking of renovating the bathroom tiles or
                                    adding aesthetic charm to the drawing room with eye-catching tiles? Lioli Ceramica
                                    provides a wide range of eye-catching porcelain slabs to suit any tile project. Take
                                    your pick and get ready to wow your guests.
                                </p>
                                <p>
                                    Whichever tile renovation you have in mind, we hope this festive time brings you
                                    tons of happiness and prosperity ahead. <b>Happy Diwali!</b>


                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                                Boasting the attributes of being scratch, stain, and water-resistant installing
                                porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}
