{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        How To Clean Porcelain Tiles
                    </h2>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog5/1.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                            Boasting the attributes of being scratch, stain, and water-resistant, installing porcelain
                            tiles provides an advantage over other non-porcelain tiles. However, you would still like it
                            to look its best, don't you?
                        </p>
                        <p>
                            Take a peek at our super handy and easy guide on how to clean porcelain floor tiles to keep
                            them sparkling and shining for a longer time.
                        </p>
                        <p>
                            With our easy cleaning tips, spend more time admiring and less time cleaning your porcelain
                            tiles!
                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        A GUIDE TO CLEANING PORCELAIN TILES- DO’S AND DON'TS
                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p class="text-center">
                            Before we dive into the world of cleaning porcelain tiles, here are some quick tips on the
                            dos and don’ts of cleaning tiles.

                        </p>

                    </div>
                </div>
                <div class="col-12 mb-5 border_bottom">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    What To Do When Cleaning Porcelain tiles?
                                </h3>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            The regular cleaning consists of sweeping and vacuuming, removing the
                                            debris,
                                            mopping and thoroughly drying the tiles.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            For deep cleaning, use mild detergents or floor cleaners to keep your
                                            surface
                                            shining.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            You could also use a scrubber if needed.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Ensure the cleaning product is compatible with the tile you have installed.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Protect your grout with a sealant.
                                        </p>
                                    </li>

                                </ul>

                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    What Not To Do When Cleaning Porcelain Tiles?
                                </h3>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Avoid using cleaners containing acid or chlorine bleach.

                                        </p>

                                    </li>
                                    <li>
                                        <p>
                                            Do not use ammonia-based cleaners for regular cleaning.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Do not use wax-based cleaners.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Don’t use oil-based detergents as they may leave residue on the tiles.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Avoid using harsh cleaning scrubbers such as steel wood pads or metal pads.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 mb-3 mt-0 text-center">
                            <h2 class="section_h2" data-aos="fade">
                                SUPPLIES YOU NEED TO CLEAN PORCELAIN TILES
                            </h2>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <p>
                                    <b>
                                        So if you have decided to clean up your space, grab materials:
                                    </b>
                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Broom or vacuum
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Mop
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Mop bucket
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Vinegar/ commercial cleaning solutions
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Baking Soda
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Acrylic stone sealer
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Brushes or scrubs
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    HOW TO CLEAN PORCELAIN TILE FLOOR

                                </h3>

                                <p>
                                    When it comes to porcelain tiles, they are one of the easiest to clean and maintain.
                                    You need to sweep the dump, take a damp mop, clean the surface, and leave it to air
                                    dry.

                                </p>
                                <p>
                                    Simple, that’s enough for regular cleaning. But the main question is how often you
                                    should clean porcelain tiles.<br>
                                    Maybe once or twice a week, or daily. Well, it depends on the foot traffic of the
                                    area plus how the space is used.

                                </p>
                                <p>
                                    Moreover, there are different types of porcelain tiles: glazed, unglazed, and
                                    textured porcelain tiles, and all these have different ways of deep cleaning. So
                                    let’s discuss them one by one:

                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    HOW TO CLEAN TEXTURED PORCELAIN TILES
                                </h3>
                                <p>
                                    Texture tiles have rough surfaces, and you can feel elevations when you touch them.
                                    They are perfect to contrast with the decor but difficult to maintain. They can be
                                    cleaned like the other two, but they need more than just a wipe. So let's see how
                                    you can clean textured porcelain tiles perfectly:

                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Sweep and vacuum the floors. But, make sure to sweep twice, once in the
                                            direction of the tile and other times diagonally.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Take the water and vinegar solution and pour them on the tiles. Leave it for
                                            7-13 minutes for saturation.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Then take the scrub and remove all the stains. Again follow the
                                            two-direction rule.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Rinse with warm water to clear out the solution.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Clean with a damp mop and leave it to air dry.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    HOW TO CLEAN POLISHED/GLAZED PORCELAIN TILES
                                </h3>
                                <p>
                                    The most significant advantage of glazed/polished porcelain tiles is they are stain
                                    resistant as there is a non-porous coating of liquid glass. However, to retain its
                                    shine for longer, follow these steps to clean glazed porcelain tiles.

                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Start by sweeping or vacuuming the floor. Grab a broom and clear the mess,
                                            collect the damp in the dustpan and throw it in the dust bin.
                                        </p>
                                    <li>
                                        <p>
                                            Mopping the floor with water isn’t enough to deep cleanse your tiles. You
                                            need more. So grab your bucket and fill it with warm water.
                                        </p>
                                        <p>
                                            Add a quarter (1/4th )cup of white vinegar to 1 gallon (3.7 litres) of warm
                                            water. Vinegar acts as a neutral agent and can easily clean up strong
                                            stains.
                                        </p>
                                        <p>
                                            You can also use different cleaning agents available online. But make sure
                                            not to use cleaning agents with high bleach. Keep in mind concentration of
                                            the solution should be less than 50% for use.
                                        </p>

                                    <li>
                                        <p>
                                            Deep your mop and start cleaning your tiles.
                                        </p>

                                    <li>
                                        <p>
                                            Clean again with the clean water (excluding the solution) and let it air
                                            dry.
                                        </p>

                                </ul>
                                <p>
                                    <b> NOTE:</b> Clean the stains as soon as possible, as they can leave a light shade
                                    if they remain unattended.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    HOW TO CLEAN UNPOLISHED/ UNGLAZED PORCELAIN TILES

                                </h3>
                                <p>
                                    Unpolished tiles are a bit different. They do not have any coating on them, so they
                                    are likely to get stained and discoloured over time.

                                    These materials needed extra care to keep them healthy over the years. Here are
                                    steps to follow while deep cleaning unglazed porcelain tiles.

                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Sweeping and mopping the floor is enough to remove dirt and dump on the
                                            floors.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Take a bucket full of warm water and add 1/4th cup of white vinegar to it.
                                            Or, use any of the available commercial cleaning solutions and add them as
                                            per the instructions given below. Use a solution with mild-pH.
                                        </p>
                                        <p>
                                            And start mopping the floor with a damp mop. And dry the tiles with clean
                                            towels after mopping. Do not let the floors be saturated with the solutions
                                            as they are prone to water damage.
                                        </p>
                                        <p>

                                            So try to clean small areas at a time.
                                        </p>

                                    <li>
                                        <p>
                                            For tough stains, scrub the floors with the help of scrubbers with nylon
                                            bristles or use abrasive pads. Then rinse it with clean water.
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            Rinse the floors with clean water and let them air dry.
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            After cleaning the tiles, Seal the tiles with an acrylic stone sealer to
                                            keep the pores sealed. Add 1 cup of sealer to 3 gallons (11.3 litres).
                                            Repeat this process yearly.
                                        </p>
                                    </li>

                                </ul>
                                <p>
                                    Also Read - <a href='{{url_for("blog.blog_inside")}}'>How to keep bathroom floor dry: anti-slip bathroom floor</a>

                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Tips To Keep Your Porcelain Tiles Clean For Longer
                                </h3>
                                <p>
                                    Now you are well aware of how to clean the porcelain tile surfaces to keep them
                                    hygienic, clean and shining.
                                </p>
                                <p>
                                    Additionally, we've compiled some tips to keep your tiles shining for years to come!

                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            For porcelain tiles, mopping with warm water works well.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Cleaning the porcelain floor tiles once or twice a month with vinegar
                                            solutions helps regain its shine.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            If you use vinegar solution for cleaning, make sure to rinse again with
                                            clean and warm water. Also, dry the floor with a mop.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Cleaning and maintaining the tiles regularly will keep them in good
                                            condition.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Do not use coloured products on unglazed porcelain tiles as they may stain
                                            them.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            While porcelain tiles are resistant to chemicals, avoid using harmful and
                                            heavy-duty cleaners.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            If using any chemicals while cleaning, ensure to ventilate the area
                                            properly.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Wear gloves and eyewear to avoid getting harmed by any chemical particles.
                                        </p>
                                    </li>

                                </ul>
                                <p>
                                    For the cleaning enthusiast in you, go through our article on <a href='{{url_for("blog.blog_inside6")}}'>How to clean grout</a> and  keep your floor sparking and clean all the time!

                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    ENDNOTE: CLEAN HOME IS A HAPPY HOME

                                </h3>

                                <p>
                                    Well, that’s the end of how to clean and maintain the porcelain tiles. We hope you
                                    got a better understanding of cleaning the floor tiles. After all, a clean home is a
                                    happy and healthy home!
                                </p>
                                <p>
                                    Contact us if you have any further queries, and Lioli experts would love to hear
                                    from you!
                                </p>

                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    ABOUT LIOLI CERAMICA
                                </h3>
                                <p>
                                    As a leading porcelain tile manufacturer in India, Lioli is a trustworthy name in
                                    the porcelain slab industry. Delivering nothing short of excellence, we ensure every
                                    piece of the slab is at par with what you could say is a “combination of elegance
                                    and durability.”
                                </p>
                                <p>

                                    Get the best-in-class porcelain slabs to beautify your space with us, and well, this
                                    blog is already there to help you know how to clean, maintain and shine your
                                    porcelain floor surface.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Grout: 7 Efficient Ways To Renew Old Grout As New
                            </h3>
                            <p>
                                Tiles are beautiful, sturdy, and have the best floors and wall options. It gets dirty and even cleaned with just minor efforts. But, the Grout! While ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside6")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>
{% endblock %}
