{% extends "layout.html" %}
{% block content %}
<div id="blog">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
<div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog22/02.jpeg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Glossy Vs Matt Finish Porcelain Tiles: What Is The Difference?

                            </h3>
                            <p>
                                Glossy and matte finish porcelain tiles are the first choice for many homeowners. You
                                can identify one by the presence of a shiny surface. But there are many more differences
                                between glossy and matte finish tiles than mere shiny appearance. Read on the blog to
                                know more.


                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside22")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>










                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog21/02.jpeg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                LARGE-FORMAT PORCELAIN WALL TILE INSTALLATION GUIDE

                            </h3>
                            <p>
                                While large format tiles look stunning, their laying can be a bit complicated. In this
                                blog, Lioli Ceramica explains the wall tile installation process, some common mistakes
                                to avoid, and some extra tips to ensure your walls look perfect once you tile them up!

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside21")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>











                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog20/02.jpeg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                7 DIFFERENT TYPES OF PORCELAIN TILES EXPLAINED!

                            </h3>
                            <p>
                                Did you know there are many types of porcelain tiles available in the market? Lioli
                                Ceramica explains the seven types of porcelain tiles so that you will know how each
                                different and unique type of tile differs. Read the blog to know more!

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside20")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

















                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog19/02.jpeg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Bring Your Space To Life With Stone-Look Porcelain Tile


                            </h3>
                            <p>
                                Looking for some aesthetic changes to your floor tiles? Try stone-look porcelain
                                stoneware floor tiles. Here is our complete guide: stone look porcelain floor tiles and
                                enhance the beauty of your space!

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside19")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

 <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog18/02.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Branded Vs Local Tiles: Which Is The Best Flooring Option?

                            </h3>
                            <p>
                                Having trouble deciding between branded and local tiles? These both look the same from
                                the exterior but are miles apart. Read the blog to know the difference between branded
                                and local tiles and which option is better for your home.

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside18")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog17/02.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                2023 Tile Trends to Look out for Immersive Feel & Look
                            </h3>
                            <p>
                                Discover the latest tile trend in 2023 for an immersive look and feel. From traditional
                                stone look tile to classy tile schemes, add a sense of touch to your home decor.
                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside17")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

 <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog16/02.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Installation Guide for Large Format Porcelain Tiles


                            </h3>
                            <p>
                                Large-format porcelain tiles are stunning tiles that can be tricky to lay due to their
                                size and heavy material. This guide will discuss the tile installation process and some
                                extra precautions you might want to avoid while installing large-format tiles.

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside16")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
		  <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog15/02.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                The 5 Best Tips For Maintaining Porcelain Tiles In Winter: Edition 2022


                            </h3>
                            <p>
                                Winter can prove tough for floor surfaces. Hence, this article explains some helpful
                                tips to clean and maintain your porcelain tiles this winter.


                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside15")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog14/02.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                15 USEFUL TIPS TO FIND THE PERFECT TILES FOR YOUR HOME


                            </h3>
                            <p>
                                What to keep in mind when selecting tiles for your home? Read our guide on 15 tips to
                                choose the perfect tiles for your home; it will help you get the right tile for every
                                space.

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside14")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog13/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                LIOLI’S 6 WARM TIPS TO WINTERIZE YOUR LIVING ROOM


                            </h3>
                            <p>
                                Just thinking about cold winds blowing through the north gives the happy chills. We all
                                love cuddling up in warm blankets and enjoying the cosy and warm feelings that come with
                                the winter weather, don't we?

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside13")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
<div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="https://lioliceramica.com/static/assets/images/index/banner/PIETRA_GREY_%26_STATUARIO_NORWELL1200x1200mm.jpg"
                                alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Everything You Need To Know About Porcelain Tiles

                            </h3>
                            <p>
                                Porcelain tiles are durable and stronger tiling material. This blog contains everything
                                you need to know about porcelain tiles; from their type to their benefits, this guide
                                provides it all!

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside12")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
<div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="https://lioliceramica.com/static/admin/uploads/size/9eb7fde1c6cf0de0.jpg" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                THIS DIWALI, GET YOUR HOME FESTIVE-READY WITH LIOLI CERAMICA

                            </h3>
                            <p>
                                Wow your guests with porcelain tile; get your home festive-ready with Lioli Ceramica.
                                This Diwali, add a touch of colour, love, and charm to your space with Lioli’s wide
                                range of porcelain slab collections for different spaces.

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside11")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
		<div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog10/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Large Format Porcelain Tiles: 10 Reasons to Consider Them

                            </h3>
                            <p>
                                Large format porcelain tiles are becoming extremely popular in residential and office
                                spaces. Let’s explore the benefits of using large format porcelain tiles.

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside10")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog9/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Lioli’s complete guide to choosing the right tiles for outdoor space

                            </h3>
                            <p>
                                Selecting the right tiles can be a daunting task. Read our guide on how to choose the
                                right tile for your outdoor space to make your exterior look elegantly stunning!

                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside9")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>






                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog8/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                An Ultimate Guide on Large Format Porcelain Tiles

                            </h3>
                            <p>
                                With advanced technology, tile sizes have consistently increased in recent decades.

                                Renovating or designing your home is an exciting and fruitful activity,
                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside8")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog7/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Choose The Right Tiles For Your Office: A Complete Guide
                            </h3>
                            <p>
                                Your office space flooring is integral to representing your brand, working style, and
                                company image.

                                Choosing the right office floor tiles design may sound like a chore,
                                ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside7")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog6/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Grout: 7 Efficient Ways To Renew Old Grout As New
                            </h3>
                            <p>
                                Tiles are beautiful, sturdy, and have the best floors and wall options. It gets dirty
                                and even cleaned with just minor efforts. But, the Grout! While ...

                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside6")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog5/2.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                                Boasting the attributes of being scratch, stain, and water-resistant installing
                                porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>




                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Keep Bathroom Floor Dry: Anti-Slip Bathroom Floor
                            </h3>
                            <p>
                                Bathrooms are one of the important parts of the home. When you decide about flooring for
                                your bathroom, you make sure it suits your decor and is also aesthetically ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog4/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Porcelain tiles vs. Ceramic tiles, Which is Better for your Need?
                            </h3>
                            <p>
                                Ceramic or porcelain tiles are aesthetically pleasing and versatile. It might be
                                difficult for you to decide whether to choose porcelain tiles or ceramic tiles ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside4")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>
{% endblock %}
