{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h1 class="section_h2" data-aos="fade">
                        LIOLI’S 6 WARM TIPS TO WINTERIZE YOUR LIVING ROOM

                    </h1>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog13/01.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>

                            It's almost winter!

                        </p>
                        <p>
                            Just thinking about cold winds blowing through the north gives the happy chills. We all love
                            cuddling up in warm blankets and enjoying the cosy and warm feelings that come with the
                            winter weather, don't we?

                        </p>
                        <p>
                            With everyone living a hustle life, it's impossible to stay home all day. However, one can
                            always spice up the comfortable place we call home!

                        </p>
                        <p>
                            So be with us until the end, Lioli Ceramica brings you some amazing tips to redecorate your
                            living room- the most used space of your home to lend it cosier, warmer, and homely vibes!

                        </p>
                        <p>
                            Stay tuned!

                        </p>

                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        01. Use Floorings That Resist Harsh Winters

                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            Imagine waking up from your beauty slumber, just to feel cold floors beneath your bare feet.
                            Sounds like torture, right? That is because among all the flooring options there are certain
                            floors which feel coldest, while some give warmer feelings.
                        </p>
                        <p>
                            Floorings like rubber and cork feel warmer under the feet. But if you want a more prominent
                            option that lasts for eternity then go for porcelain tiles.
                        </p>
                        <p>
                            Yes, porcelain has a great ability to transmit heat, which makes them cold in winter. But if
                            they are installed with a heat radiant system then the above-mentioned problem can be
                            solved.
                        </p>
                        <p>
                            Heat radiant system is installed between subfloors and surface floorings, and they are
                            specially designed to radiate warmth across the floors. So, you can enjoy the elegance of
                            porcelain floors even in the cold winters!
                        </p>
                        <p>
                            If you don't want to install a heat radiant system, then you can warm up your floors by
                            placing carpets and rugs.
                        </p>
                        <p>
                            This will create an accent look for your living room. Moreover, you can remove them once the
                            winters are over! sounds simple right?
                        </p>
                        <p>
                            Another thing about porcelain tiles is they are FROST RESISTANT and can keep up with drastic
                            seasonal changes.
                        </p>
                        <p>
                            Lioli offers world-class porcelain tiles, which are the epitome of elegance and beauty and
                            can be used to enhance your living room’s aesthetic appeal.
                        </p>
                        <p>
                            Available in different sizes, designs, and varied collections to suit your architectural
                            needs, you surely won’t regret browsing through <a href="{{url_for('main.download')}}">our
                                catalogue</a> for much-needed
                            inspiration!

                        </p>
                    </div>
                </div>








                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        02. Add Textures To Make Your Space Look, Cosier, Warmer And Inviting

                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-4 mt-0">
                    <div class="blog-para">
                        <p>
                            Do you know you can change the whole seasonal mood by just adding textures to your room?
                            Adding textures to your space adds depth to the decor and makes the space look more inviting
                            and cosier.
                        </p>
                        <p>
                            If you have a living room renovation in mind, then do add textured tiles to enhance the
                            beauty of your living room. You can use textured tiles on floors and walls too.
                        </p>
                        <p>
                            Adding textured tiles on walls adds character to your living space and makes the space look
                            more lively and extraordinary. Lioli’s <a href='{{url_for("main.download")}}'>Stone
                                Series</a> can add that extraordinary factor to
                            your living room.
                        </p>
                        <p>
                            You can also add faux sheepskin layers to your decor. Faux sheepskin gives a softer look to
                            modern furniture, you can lay them on the floors or can use them as layers on the pillow, or
                            for your tea table.
                        </p>
                        <p>
                            Sheepskin adornments give space a clean, sleek, and minimalistic look and make your entire
                            room feel ethereally enchanting (can’t miss the warm vibes one craves so much in winter!).

                    </div>
                </div>








                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        03. Play With Patterns And Colours

                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-4 mt-0">
                    <div class="blog-para">
                        <p>
                            Christmas is coming, so be sure to greet your guests in style with an artistically decorated
                            living room.
                        </p>
                        <p>
                            Get your imagination rolling and turn your dull living room into an enchanting and inviting
                            place. Just make sure to maintain a proper balance between patterns and colours.
                        </p>
                        <p>
                            When a perfectly chosen pattern and colour blend together nicely, they give the entire room
                            a complete and elegant look.
                        </p>
                        <p>
                            <b>TIP</b>: While choosing colours, ensure that you choose a rich and saturated colour
                            palette to make your space look more elegant.
                        </p>
                        <p>
                            Lioli’s Mountain Tortora, Armani Brown, Nero Marquina, and Meek Coal are the best examples
                            to add to your room. These darker shades will add warmth to your living space.
                        </p>
                        <p>
                            If you want to add more drama, then balance the darker hues with minimalistic patterns. You
                            can complete the look with cushion covers, rugs, and carpets.
                        </p>

                    </div>
                </div>


                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        04. Make Your Fireplace The Centre Of Attraction


                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-4 mt-0">
                    <div class="blog-para">
                        <p>
                            Do you have a fireplace? If yes, then perfect. Make your fireplace the focal point. Don’t
                            leave it bland.
                        </p>
                        <p>
                            You can add floral-designed patterns above your fireplace to give an eccentric look. Lioli’s
                            <a href="https://lioliceramica.com/product/1200x2400mm/83/Flora%20Mosaic">Flora Mosaic</a>
                            can fill your space with aesthetic floral patterns to add elegance and charm to
                            your living room.
                        </p>
                        <p>
                            Not a fan of floral designs. No worries. Our Concrete Series, Stone Series, and Marble
                            Series can make your fireplace look 10 times more beautiful than already it is.
                        </p>
                        <p>
                            You can also add small elements like flowerpots, photo frames and candles to your fireplace
                            to give it a personal touch.
                            Shift the furniture near the fireplace. If not the entire furniture, then you can make it
                            your own book corner.
                        </p>
                        <p>
                            If you are a bibliophile, then think about snuggling up near the fireplace with a book in
                            your hand and your favourite drink on the near coffee table, feels serene right?
                        </p>

                    </div>
                </div>


                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        05. Allow More Light To Come



                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-4 mt-0">
                    <div class="blog-para">
                        <p>
                            Never forget the lighting! You know the entire lighting of your room can affect your mood.
                            Moreover, natural lighting gives a sense of security and comfort. Let natural light fall and
                            fill your room with the serenity and warmth of nature.
                        </p>
                        <p>
                            You can also add lustrous tiles and mirrors to maximise the light. Lioli’s Statuario
                            Venetian and Bianco Lasa can give your space a brighter look.
                        </p>
                        <p>
                            <b>TIP</b>: Add mounted lights and overhead lamps beside your furniture to create comfort in
                            the area.

                        </p>

                    </div>
                </div>


                <div class="col-md-12 mb-4 text-center">
                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            06. Add An Ambience With Candles And Fairy Lights


                        </h2>
                        <p>
                            Imagine your darker room with softer lighting! Gives classy vibes, right? You can add the
                            cherry on top by adding candles or fairy lights(a little fairy light never hurt anyone after
                            all!).
                        </p>
                        <p>
                            Place the candles on the fireplace, centre table, side table, and even on windows (without
                            drapes). Placing scented candles can give a relaxing sensation. </p>
                        <p>
                            You can also use ceramic jar candles, and if you are crafty enough, make your own DIY candle
                            at your home with basic things.
                        </p>
                        <p>
                            If not candles, you can add fairy lights too! But where? You can add them to your window
                            frame, around the fireplace, or even on windows.
                        </p>
                        <p>
                            Such an aesthetic setting will make your entire living room look cosier and more welcoming!


                        </p>
                    </div>
                </div>

                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            Last Words,

                        </h2>
                        <p>
                            We hope our ideas will help you give your living room a classy, charming, and inviting feel!
                            Add some of these elements or add everything, whichever suits your style. But be aware,
                            overdoing can result in design disaster!

                        </p>
                        <p>
                            So be careful there. But keep one thing in mind, in winter when the outside becomes chilly,
                            we seek comfort, cosiness, and warmth in our homes. So, try to add elements that bring
                            warmth to your place.

                        </p>
                        <p>
                            A perfectly chosen colour palette, furniture and the correct lighting can change the look of
                            your entire space! So choose with utmost care.

                        </p>
                        <p>
                            So we wish you good luck with your winter redecoration plan.
                            Lioli Ceramica wishes you a warm winter!

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                                Boasting the attributes of being scratch, stain, and water-resistant installing
                                porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}
