{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h1 class="section_h2" data-aos="fade">
                        Lioli’s complete guide to choosing the right tiles for outdoor space

                    </h1>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog9/02.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            The concept of outdoor spaces isn’t only gardens and patios anymore. With people
                            experimenting with their space, like opting for an open kitchen or bringing style and colour
                            to their open area, the line between indoor and outdoor tile has blurred more than ever
                            before.
                        </p>
                        <p>
                            When it comes to choosing the right tiles, you might get overwhelmed as it is challenging to
                            find the right tiles for your outdoor space.
                        </p>
                        <p>
                            If you are looking to revamp your parking area, add a touch of creativity to your backyard,
                            or simply update your outdoor space, Lioli Ceramica brings forth a helpful guide to help you
                            choose the best outdoor tiles for your home.

                        </p>

                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        About Outdoor Tiles

                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            Indoor and outdoor tiles differ in terms of designs, functionality, and durability.

                        </p>
                        <p>
                            Outdoor tiles are often found in concrete, cement, stone or pavement finishes. As the
                            surface of such outdoor tiles is more textured, it offers a slip-resistant feature, making
                            it safe and durable for use.

                        </p>
                        <p>
                            Outdoor tiles are more durable than indoor tiles and can resist extreme climatic conditions.
                            So, make sure to choose the correct outdoor floor tiles for your space.

                        </p>

                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-0 mt-0">
                    <h2 class="section_h2" data-aos="fade">
                        Where can outdoor tiles be used?

                    </h2>
                </div>
                <div class="col-12 mb-5 border_bottom">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <p>
                                    Practically everywhere!

                                </p>
                                <p>
                                    You can use outdoor tiles for your outdoor kitchen, lounge, deck or dining area and
                                    give it a classic or vibrant look, as per your taste.

                                </p>

                                <p>
                                    <b>
                                        <i>
                                            Make your outdoor patio a perfect place to relax with porcelain outdoor
                                            tiles available in wide colours, designs, textures, and sizes from the house
                                            of Lioli Ceramica.

                                        </i>
                                    </b>
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 mb-0 mt-0">
                            <h2 class="section_h2" data-aos="fade">
                                13 Tips To Choose The Perfect Outdoor Tiles For Your Home


                            </h2>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">

                                <p>
                                    Finding the suitable outdoor tiles may be an exhausting task. Don’t choose the tiles
                                    solely based on their looks and colour. You should consider many other aspects to
                                    ensure your tiles remain long-lasting for years.

                                </p>
                                <p>
                                    If you are wondering how to select the best outdoor tiles, consider all the tips
                                    explained below, and you will find your dream tiles in no time!

                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    01. What is your budget for outdoor tiles?

                                </h3>
                                <p>
                                    The first step toward buying outdoor tiles; setting a budget. Calculate the
                                    cost of
                                    tiling solutions by measuring the space.
                                </p>
                                <p>
                                    Though the outdoors is the first thing in your home anyone would notice,
                                    spending a
                                    fortune is not worth it. So make sure to keep a realistic budget- not too
                                    low, not
                                    too high.

                                </p>
                                <p>
                                    <b>
                                        You can trust Lioli Ceramica experts to offer you the best tiling
                                        solutions
                                        within your budget.
                                    </b>
                                </p>


                            </div>
                        </div>



                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    02. Choose grip and slip-resistant tiles

                                </h3>
                                <p>
                                    When choosing your outdoor floor tiles, safety should be your top priority.
                                    Consider
                                    the grip, texture, and how slippery the tiles can be when wet.

                                </p>

                                <ul class="ml-4">
                                    <li>
                                        <p>If you have an outdoor pool or live in an area where it often rains,
                                            look for
                                            non-slip surfaces with a firm grip and slip-resistant features.
                                        </p>

                                    </li>
                                    <li>
                                        <p>You can also check the ratings of the tiles- one is for fragile tiles
                                            while
                                            five is for the most durable ones. Choose the tiles that have
                                            ratings of at
                                            least four or above.
                                        </p>

                                    </li>
                                    <li>
                                        <p>Also, think about where you want to place the tiles; is it for
                                            flooring, or
                                            do you plan to use them on the wall?
                                        </p>

                                    </li>
                                </ul>
                                <p>
                                    Whatever the place- balcony, parking, backyard, or patio, make sure to get
                                    the right
                                    anti-skid tiles for your home.

                                </p>
                            </div>
                        </div>


                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    03. Light exposure and weather conditions are crucial factors

                                </h3>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Are you blessed with natural sunlight in your home, or is it often
                                            dark and
                                            shady?
                                        </p>
                                    </li>
                                    <li>
                                        <p>Do you get rain in the spring? </p>
                                    </li>
                                    <li>
                                        <p>Or does it get scorching hot in summer? </p>
                                    </li>
                                    <li>
                                        <p>Do you live in a place where there is a lot of snow?</p>
                                    </li>

                                </ul>
                                <p>
                                    All these factors play an essential role before you zero in on any tiles for
                                    your
                                    outdoor application.

                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>If you live in a place with lots of sunlight, choosing the dark
                                            shades of
                                            tiles would work best for your home. </p>
                                    </li>
                                    <li>
                                        <p>Choosing light and softer tiles shades can give your place an
                                            appealing vibe
                                            if areas receive less natural light. </p>
                                    </li>
                                    <li>
                                        <p>Also, consider the weather conditions to make sure your outdoor floor
                                            tiles
                                            can withstand extreme weather changes.</p>
                                    </li>

                                </ul>
                            </div>
                        </div>




                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    04. Get creative and experiment with colours

                                </h3>
                                <p>
                                    Dump the boring and outdated tile designs. With numerous options in the tile
                                    world,
                                    get creative while styling your outdoor space designs!

                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Give the outdoor area an elegant and classy look or make it more
                                            lively with
                                            different colours and styles.

                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Do not hesitate to experiment with new styles and textures to make
                                            your
                                            space more soothing.

                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Play around with colours and patterns, or use dark and light tile
                                            colours to
                                            create an unusual layout.

                                        </p>
                                    </li>

                                </ul>

                                <p class="text-center">
                                    <b>
                                        Pick from <a href='{{url_for("product.size")}}'>Lioli’s impressive
                                            collection</a> of porcelain slabs in different
                                        sizes,
                                        colours, and finishes to experiment with your space and give the
                                        captivating
                                        look you desire!


                                    </b>
                                </p>
                            </div>
                        </div>



                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    05. Choose the right tile for different outdoor areas

                                </h3>
                                <p>

                                    When buying outdoor tiles, consider where you will use them. A pool area and
                                    an
                                    outdoor dining area are different, and so are the tiles' requirements.

                                </p>
                                <p>
                                    Patio, parking, and pool tiles as well as garden outdoor tiles differ.
                                    Whether you
                                    intend to use it on the walls or the floor, keep this in mind before
                                    choosing an
                                    outdoor tile design.

                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    06. Avoid polished tiles

                                </h3>

                                <p>
                                    Polished tiles are a big no-no for outdoor spaces!

                                </p>

                                <p>
                                    It may seem a good option for indoor use, but as far as outdoor tiles are
                                    concerned,
                                    there are chances of injuries as polished tiles are very little
                                    slip-resistant.
                                    Moreover, it may need frequent repairs due to chipping or damage.

                                </p>
                            </div>
                        </div>


                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    07. Keep the surrounding in mind

                                </h3>
                                <p>
                                    A crucial factor to keep in mind when you go tile-hunting for your outdoor
                                    area. The
                                    type of tiles you need for your home will differ depending on whether you
                                    live in a
                                    concrete jungle or near a beautiful beach.

                                </p>
                                <p>
                                    As the climatic conditions may vary, so will the suitable outdoor tiles
                                    type.

                                </p>
                                <p class="text-center">
                                    <b>
                                        Lioli Ceramica experts can guide you to find the right outdoor porcelain
                                        slabs
                                        keeping your every minute detail in mind.<br>
                                        <a href='{{url_for("main.contact")}}'>
                                            Get in touch with us!

                                        </a>
                                    </b>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    08. Consider the outdoor tile finishes

                                </h3>
                                <p>
                                    When choosing outdoor tiles, who can forget the finishes?
                                    Some of the commonly found finishes for outside space are

                                </p>

                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Wood finish tiles
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Carpet tiles
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Decking tiles
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Rubber tiles
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Plastic interlocking tiles
                                        </p>
                                    </li>

                                </ul>

                                <p>
                                    Make sure you know their pros and cons and appropriate applicability before
                                    you
                                    settle for one.

                                </p>
                            </div>
                        </div>


                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    09. Consider the procedure of tile installation

                                </h3>

                                <p>
                                    Every tile has a different installation process. While some tiles like
                                    plastic and
                                    hardwood need minimal prep and no additional materials, tiles like ceramic,
                                    porcelain, and granite may require other materials and preparation before
                                    laying the
                                    tiles.

                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    10. Choose tiles that require minimal maintenance

                                </h3>
                                <p>
                                    Always install tiles that are easy to clean and maintain.

                                </p>
                                <p>
                                    Cleaning and maintaining can prove to be difficult as outdoor areas are
                                    usually big.
                                    Moreover, it gets dirty easily. And, if you have glossy or polished tiles
                                    outside
                                    your home, maintenance will be more expensive.

                                </p>
                                <p>
                                    <b>Note:</b> Opt for tiles that require minimal maintenance and won't burn a
                                    hole in
                                    your pocket through their recurring costs!

                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    11. Beauty and functionality go hand in hand

                                </h3>
                                <p>
                                    When it comes to choosing the outside floor tiles, your eyes may catch tiles
                                    that
                                    might not be suitable for outdoor purposes.

                                </p>

                                <p>
                                    <b>
                                        Remember

                                    </b>
                                    - Form and functionality.
                                </p>
                                <p>
                                    Anyone would want visually appealing tiles for outdoor areas, of course, but
                                    also
                                    keep a tight hold on the functionality, durability, and lifespan to get the
                                    best
                                    tile-laying results for your abode.

                                </p>
                            </div>
                        </div>


                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    12. Which tiles would match your theme and style of home?

                                </h3>

                                <p>
                                    While fussing over the outdoor tiles, do not forget about the indoor theme!

                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            You are at liberty to play and experiment with tiles of different
                                            colours,
                                            textures, and designs.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            However, make sure it tunes well with your indoor tile designs.
                                        </p>
                                    </li>

                                </ul>
                                <p>
                                    If your indoor style is a light colour palette, select outdoor flooring that
                                    would
                                    complement your indoor space, giving your house a luxurious yet completely
                                    harmonized charm.

                                </p>
                            </div>
                        </div>


                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    13. Chose the outdoor tiles that make your dream space a reality

                                </h3>
                                <p>
                                    Last but not very least, pick the tiles that please you!

                                </p>
                                <p>
                                    <b>
                                        <i>
                                            Because, what’s the point of buying tiles if they do not appeal to
                                            your
                                            heart?

                                        </i>
                                    </b>
                                </p>

                                <p>
                                    After all, it is all about making your dream home come true. Of course, you
                                    must
                                    consider all the factors mentioned above to select the right outdoor floor
                                    tiles.
                                    And, don’t forget to keep the balance between the tiles' beauty and
                                    sturdiness.

                                </p>

                                <p>
                                    <b>
                                        Make sure you bear in mind these 13 tips to choose the right outdoor
                                        floor and
                                        wall tiles for your home, and we assure you, you will zero in on the
                                        best tiles!


                                    </b>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>










                <div class="col-12 col-sm-12 mb-0 mt-0">
                    <h2 class="section_h2" data-aos="fade">
                        Different Types Of Outdoor Tiles

                    </h2>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="blog-para">

                        <p>
                            Having understood what factors you need to consider when choosing your outdoor
                            tiles, now you can learn more about their types.

                        </p>
                        <p>


                            Not all tiles have the same features. And for outdoor spaces, durability is an
                            uncompromising factor.

                        </p>
                        <p>
                            So, let’s look at the outdoor tile types one by one and how they differ from one
                            another.


                        </p>
                    </div>
                </div>





















                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            1. Porcelain tile
                        </h3>
                        <p>
                            One of the most commonly used outdoor tiles, porcelain tiles are sturdy, dense and
                            long-lasting for outdoor use. Furthermore, such tiles are frost, heat and water resistant.


                        </p>
                        <p>
                            Owing to such features, <a href='{{url_for("blog.blog_inside3")}}'>porcelain outdoor tiles
                                are more popular than natural stones</a> among homeowners, architects, and interior
                            designers for residential and commercial purposes.

                        </p>
                        <p>
                            However, make sure you go with unglazed or <a
                                href="https://lioliceramica.com/product/1600x1600mm/surface/Rustic%20Matt">matte finish
                                tiles</a> for outdoor use, as glossy tiles increase the risk of tripping when wet.

                        </p>
                        <p class="text-center">
                            <b>
                                Lioli Ceramica is widely known for offering the highest standard porcelain slabs for
                                clients across the globe.
                                <br>
                                Visit our <a href='{{url_for("product.size")}}'>collection gallery</a> to browse through
                                our visually appealing and sturdy porcelain slab collection in numerous sizes, colours,
                                designs, and finishes.
                            </b>
                        </p>
                    </div>
                </div>









                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            2. Ceramic tile
                        </h3>
                        <p>
                            Also popular for outdoor flooring, ceramic tiles are loved for their smoothness, texture,
                            and budget-friendly rates.



                        </p>
                        <p>
                            But, ceramic tiles are not as sturdy as other tiles and are suitable to withstand only mild
                            weather. So make a note to check the rating and durability before you decide to use it for
                            outdoor wall or floor applications.

                        </p>
                    </div>
                </div>






                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            3. Quarry tile

                        </h3>
                        <p>
                            Ideal for patios and courtyards, quarry tiles are strong, durable and perfect for outdoor
                            applications. The only downside is that there are few options when it comes to colours,
                            textures, and designs.

                        </p>
                        <p>
                            For warm and rainy weather, quarry tiles are ideal as they are water and slip-resistant.
                            However, such tiles are not suitable for areas experiencing harsh winters.

                        </p>
                    </div>
                </div>






                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            4. Slate tile
                        </h3>
                        <p>
                            Another common outdoor tile often seen is slate. It is a rock created under extreme heat and
                            pressure. Being durable, water-resistant, and long-lasting has made slate tiles a popular
                            choice among people.

                        </p>
                        <p>
                            Slate tiles are found in numerous colours and shades- from bright orange and red to dark
                            grey and black. Use it for your deck, garden, pool area, or paved walkways to create an
                            alluring outdoor design.

                        </p>
                    </div>
                </div>






                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            5. Concrete tile
                        </h3>
                        <p>
                            From the patio to an outdoor kitchen island, concrete tiles can add a dash of creativity to
                            your outer space. With its durability, ability to withstand harsh climatic conditions, and
                            endless design possibilities, you can turn your under-used patio or backyard into your
                            abode’s hot spot!

                        </p>
                    </div>
                </div>




                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            6. Limestone tile
                        </h3>
                        <p>
                            Limestone is the unsung hero of natural tiles. Used for thousands of years as a building
                            material, it is still a favourite for many.

                        </p>
                        <ul class="ml-4">
                            <li>
                                <p>
                                    Limestone tiles are suitable for dry and mild weather areas.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Compared to other outdoor tiles, limestone is soft; hence it may chip or crack
                                    easily.
                                </p>
                            </li>
                            <li>
                                <p>
                                    It also needs regular sealing to prevent any damage.
                                </p>
                            </li>
                            <li>
                                <p>
                                    It can easily be shaped, cut, and designed to create unique patterns for your
                                    outdoor garden, deck or patio.
                                </p>
                            </li>
                            <li>
                                <p>
                                    There are several colours and designs available to suit any decor or theme.
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>






                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            7. Sandstone tile
                        </h3>
                        <p>
                            Made from sedimentary rocks, Sandstone is more fragile than limestone. Owing to their low
                            porosity and durability compared to other tiles, they often need sealing to protect the
                            surface along with additional maintenance to prevent fungi or algae formation.

                        </p>
                        <p>
                            However, Sandstone makes a great outdoor flooring option for dry areas.

                        </p>
                    </div>
                </div>




                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            8. Granite
                        </h3>
                        <p>
                            A natural stone, granite makes an elegant outdoor application. It is durable, and when
                            properly maintained, it can serve its purpose for a long time.

                        </p>
                        <p>
                            Though it does require sealing periodically, it is easy to maintain and is an ideal option
                            for people with kids or pets, as it does not crack or chip easily.

                        </p>
                    </div>
                </div>






                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            9. Travertine
                        </h3>
                        <p>
                            Used for floor and wall coverings, travertine is naturally quarried limestone with a
                            beautiful texture. But its pitted surface can gather dirt if not maintained properly. And
                            polishing the stone can make it highly slippery when wet.

                        </p>
                        <p>
                            This elegant natural stone comes in a range of shades- from dark brown to soft cream. Its
                            natural pitted texture makes it an excellent choice for pool areas, yards, or patios.

                        </p>
                    </div>
                </div>





                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h3>
                            10. Marble
                        </h3>
                        <p>
                            Known and popular for its silky smooth texture and exquisite designs, marble gives your
                            outside space the right touch of sophistication and class.

                        </p>
                        <p>
                            Polished marble can be slippery when wet and can wear out easily. So, go for an unpolished
                            or matte textured surface and make sure to seal it regularly to protect the surface from
                            water and stains.

                        </p>
                        <p>
                            Use it for your driveway or an outdoor kitchen. A marble fountain sounds pretty interesting
                            too, doesn’t it?

                        </p>
                    </div>
                </div>



                <div class="col-12 col-sm-12 mb-0 mt-0">
                    <h2 class="section_h2" data-aos="fade">
                        Sealing It Up With Conclusion.

                    </h2>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="blog-para">

                        <p>
                            As we near the end of this blog, we hope you now have a clearer understanding of what you
                            need to consider when buying outdoor tiles and which tile type is best for you.


                        </p>
                    </div>
                </div>




                <div class="col-12 col-sm-12 mb-0 mt-0">
                    <h2 class="section_h2" data-aos="fade">
                        Get The Perfect Outdoor Tiles For Your Home With Lioli Ceramica

                    </h2>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="blog-para">

                        <p>
                            There are many options to choose from, and Lioli Ceramica is right here to help you guide in
                            finding the most beautiful outdoor porcelain tiles for your place.


                        </p>

                        <p>
                            As a leading porcelain slab manufacturer and exporter in India, Lioli Ceramica offers an
                            array of elegant yet super functional slabs with numerous designs, colours, finishes, and
                            unmatched quality. With our <a href='{{url_for("product.size")}}'>large format porcelain
                                slabs in different sizes</a>, your interior will look amazing!

                        </p>
                    </div>
                </div>

                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <p>
                            <b>
                                Mail us at <a href="mailto:info@lioliceramica.com">info@lioliceramica.com</a> or call us
                                at <a href="telto:+91 22 62807474">+91 22 62807474</a> to
                                schedule a consultation with our experts.


                            </b>
                        </p>
                    </div>
                </div>



                <div class="col-12 col-sm-12 mb-4 mt-0">
                    <h2 class="section_h2" data-aos="fade">
                        Frequently Asked Questions

                    </h2>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="blog-para">

                        <div class="row mb-5 text-justify">
                            <div class="col-12">
                                <button class="accordion">Can I use tile flooring outdoors?

                                </button>
                                <div class="panel">
                                    <p>
                                        Of course, you can. With numerous options available and to choose from-
                                        textures, designs, sizes, colours and such, pick the tiles that deem perfect for
                                        your abode.

                                    </p>
                                </div>
                                <button class="accordion">Can outdoor tiles get slippery?

                                </button>
                                <div class="panel">
                                    <p>
                                        If you install polished or glazed tiles, they may become slippery when wet and
                                        can lead to injuries. Instead, opt for unpolished or matte finish tiles that are
                                        anti-slip and anti-skid for your safety.

                                    </p>
                                </div>
                                <button class="accordion">Can I install the tiles on the walls?

                                </button>
                                <div class="panel">
                                    <p>
                                        Yes, you can. But first, consider the tile and its appropriate application as
                                        some floor tiles may be too heavy for wall application.

                                    </p>

                                </div>
                                <button class="accordion">What is the recommended thickness of outdoor tiles?

                                </button>
                                <div class="panel">
                                    <p>
                                        As tiles come in different thicknesses, 8-10m thickness tiles are ideal for
                                        indoor purposes, whereas 20mm thickness tiles are recommended for outdoor use
                                        due to their ability to withstand harsh weather conditions and heavy foot
                                        traffic.

                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                                Boasting the attributes of being scratch, stain, and water-resistant installing
                                porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}