{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h1 class="section_h2" data-aos="fade">
                        7 DIFFERENT TYPES OF PORCELAIN TILES EXPLAINED!

                    </h1>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog20/01.jpeg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>

                            Porcelain tiles have become one of the most popular flooring materials, with thousands of
                            homeowners, builders, or constructors across the world choosing them for their residences,
                            office, or outdoor space.
                        </p>
                        <p>
                            Different types of porcelain tile have specific characteristics, which make it essential to
                            choose carefully. You may have read the article about <a
                                href='{{url_for("blog.blog_inside5")}}'>everything you need to know about
                                porcelain tiles or types of porcelain tiles.</a> But you should learn the specific
                            character and
                            their uses.
                        </p>
                        <p>
                            <a href="/">Lioli Ceramica,</a> a leading large-format porcelain tile manufacturer and
                            exporter is here to
                            help you answer your questions before you decide on the perfect flooring for your home!




                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            Types Of Porcelain Tiles

                        </h2>
                        <p>
                            Over the past century, porcelain tiles have made a strong presence in the tile industry -
                            for their shiny and smooth texture, eye-catching design and patterns, as well as a stylish
                            and elegant touch.There are many <a href='{{url_for("blog.blog_inside10")}}'>reasons
                                to consider large format porcelain tile:</a> durable,
                            seamless community, more hygienic option, and sturdy.

                        </p>
                        <p>
                            All these come in a variety of designs, patterns and sizes, making it hard to decide which
                            one to choose. Knowing the characteristics and uses of tile will help you select the right
                            type of porcelain tile for your room.
                        </p>

                    </div>
                </div>

                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">


                        <div class="row my-4">
                            <div class="col-md-4">
                                <img class="tile_image"
                                    src="{{url_for('static', filename='assets/images/blog/blog20/STATUARIO_VENETIAN.jpg')}}"
                                    alt="">
                            </div>
                            <div class="col-md-8 my-md-auto my-4">
                                <h3 class="mb-3">
                                    01. Matt & Unglazed Porcelain Tiles

                                </h3>
                                <b>Featured Tile:</b>
                                Soft or satin finish - incredibly smooth and rustic matte finish. <a
                                    href="https://lioliceramica.com/product/1600x1600mm/29/Statuario%20Venetian">
                                    Statuario Venetian</a>
                                1600*1600mm, 1600x 3200mm & 1200*1200mm.

                            </div>
                            <div class="col-md-12 mt-4">
                                <p>
                                    Unglazed porcelain tiles have a matt finish with uniform colour throughout the
                                    entire. It is also referred to as through-body porcelain. If this tile chips, the
                                    colour underneath will be the same as the surface, but these tiles are strong and
                                    durable!
                                </p>
                                <p>
                                    The tile fired in the kiln usually renders them without further processing or does
                                    not have a glazed coating, known as unglazed tiles. Unglazed porcelain tiles get
                                    colour from the minerals deposited in clay or from the natural pigment.

                                </p>
                                <p>
                                    <b>
                                        Characteristics:-

                                    </b>
                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>

                                            Matt porcelain tile does not reflect light and can have a <b>smooth or
                                                textured
                                                surface.</b> Thus, they create a softer, more contemporary look.
                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            The natural unglazed porcelain tiles make them <b>more slip-resistance</b>
                                            than the
                                            polished or glazed tiles.
                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            Unglazed tiles are <b>thicker</b> than glazed tiles.
                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            Matt & unglazed porcelain tiles are more <b>durable and studier</b> enough
                                            to
                                            <b>withstand
                                                high footfall.</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            These tiles have a rustic, <b>natural and earthy appearance.</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            Matt porcelain tiles come in a <b>wide range of texture surfaces</b> to
                                            increase
                                            slip-resistance and are perfect for outdoor poolside, and commercial.
                                        </p>
                                    </li>

                                </ul>
                                <p>
                                    <b>
                                        Where To Use:-

                                    </b>
                                </p>
                                <p>
                                    Unglazed & matt porcelain tiles can be used outdoors and indoors because they are
                                    all-rounder. They can also be used in various public and commercial places.

                                </p>
                            </div>
                        </div>










                        <div class="row my-4">
                            <div class="col-md-4">
                                <img class="tile_image"
                                    src="{{url_for('static', filename='assets/images/blog/blog20/ARDESIA_GRIGIO.jpg')}}"
                                    alt="">
                            </div>
                            <div class="col-md-8 my-md-auto my-4">
                                <h3 class="mb-3">
                                    02. Full-Body Porcelain Tiles

                                </h3>
                                <b>Featured Tile:</b>
                                Stone series has a modern look and smooth structure-matt finish but has a high anti-skid
                                feature that can be laid in exterior areas- outdoor swimming pool. <a
                                    href="https://lioliceramica.com/product/1200x2400mm/50/Ardesia%20Grigio">Ardesia
                                    Grigio</a>

                                1200*2400mm.

                            </div>
                            <div class="col-md-12 mt-4">
                                <p>
                                    Full-body porcelain tiles are the types of tiles with colour uniformity throughout
                                    them. Such tiles have a single colour from the surface to the base. These tiles get
                                    colour by adding colour pigment to create patterns throughout the tile. Thus, they
                                    are known as full-body tiles.

                                </p>
                                <p>
                                    The surface of colour and design is the same throughout the biscuit(body), meaning
                                    if the tile gets chipped or damaged, it can hardly be seen.


                                </p>
                                <p>
                                    <b>
                                        Characteristics:-

                                    </b>
                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>

                                            Full-body porcelain tile is <b>denser and thicker</b> than the usual tile.

                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            These tiles are more <b>durable and resistant to break.</b>

                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            These tiles have no effect of the sunlight. Thus, they are
                                            <b>UV-resistant.</b>

                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            Full-body porcelain tile can <b> withstand extensive wear and tear.</b>

                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            The robust strength, <b>anti-skid,</b> and <b>scratch resistance</b> feature
                                            provide
                                            extreme <b>durability</b> to the flooring.

                                        </p>
                                    </li>

                                </ul>
                                <p>
                                    <b>
                                        Where To Use:-

                                    </b>
                                </p>
                                <p>
                                    Full-Body porcelain tiles can be used in malls, offices, gardens, parking areas,
                                    godowns, and residences. The amazing features and high aesthetic value of full-body
                                    tile make it ideal for commercial and residential traffic.


                                </p>
                            </div>
                        </div>

































                        <div class="row my-4">
                            <div class="col-md-4">
                                <img class="tile_image"
                                    src="{{url_for('static', filename='assets/images/blog/blog20/ANTIQUE_GREY.jpg')}}"
                                    alt="">
                            </div>
                            <div class="col-md-8 my-md-auto my-4">
                                <h3 class="mb-3">
                                    03. Glazed Porcelain Tiles


                                </h3>
                                <b>Featured Tile:</b>
                                Each surface has different requirements. Lustrous finish- glazed porcelain tile for a
                                bright and shiny surface. <a
                                    href="https://lioliceramica.com/product/1200x2400mm/47/Antique%20Grey">Antique Grey
                                </a> 1200*2400mm & 1200*1200mm.


                            </div>
                            <div class="col-md-12 mt-4">
                                <p>
                                    Glazed porcelain tiles are made up of clay materials that undergo vitrification to
                                    achieve a glossy finish. The vitrification process removes excess moisture from the
                                    tile body, making them highly water-resistant.

                                </p>
                                <p>
                                    High gloss porcelain tile offers a premium and stylish look and a reflective surface
                                    that brightens the space. Glazed tiles make the room look bigger, and <b>the
                                        lustrous finish</b> adds elegance. These tiles have higher reflective properties
                                    than polished tiles.


                                </p>
                                <p>
                                    Glazed porcelain tiles are available in a variety of designs, patterns, colours, and
                                    sizes. They can be installed on walls and floors and used as countertops without
                                    worrying about cracking or staining.

                                </p>
                                <p>
                                    <b>
                                        Characteristics:-

                                    </b>
                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            These tiles are <b>dense</b>, adding <b>strength</b> to the tile.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            The <b>low water absorption rate</b> is less than 0.5%, the most remarkable
                                            properties of glazed porcelain tile.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Glazed porcelain tiles are <b>highly durable and studier</b> than ceramic
                                            tiles.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            It is more <b>stain and scratch-resistant</b> thanks to the protection layer
                                            of
                                            glaze.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Glazed porcelain tile requires <b>less maintenance.</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            These tiles provide more <b>flexibility</b> for new homes or renovations.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Glazing porcelain tile does not require further treatments or sealing once
                                            installed.
                                        </p>
                                    </li>


                                </ul>
                                <p>
                                    <b>
                                        Where To Use:-

                                    </b>
                                </p>
                                <p>
                                    Considering the functionality and aesthetic appearance, glazed porcelain tile is
                                    widely applied for bathrooms, kitchens, living rooms, and exteriors.

                                </p>
                            </div>
                        </div>




































                        <div class="row my-4">
                            <div class="col-md-4">
                                <img class="tile_image"
                                    src="{{url_for('static', filename='assets/images/blog/blog20/CALACUTTA_BINACO_ORO.jpg')}}"
                                    alt="">
                            </div>
                            <div class="col-md-8 my-md-auto my-4">
                                <h3 class="mb-3">
                                    04. Polished Porcelain Tiles

                                </h3>
                                <b>Featured Tile:</b>
                                The luxurious stone series- polished porcelain tile adds a touch of glory and richness.
                                <a href="https://lioliceramica.com/product/1600x3200mm/110/Calacutta%20Bianco%20Oro">Calacutta
                                    Bianco Oro</a> 1600*3200mm, 1600*1600mm, 1200*1200mm, & 1200*2400mm.

                            </div>
                            <div class="col-md-12 mt-4">
                                <p>
                                    Polished porcelain tile indicates high gloss with a smooth finish. Tiles have
                                    repeatedly passed under a series of polishing wheels and repeated until a smooth,
                                    shiny surface is received.

                                </p>
                                <p>
                                    Despite this, the process can cause the microscopic pores in the tiles and cause
                                    dust particles to retain them. If not sealed properly, they will look dirtier over a
                                    time period.


                                </p>
                                <p>
                                    Polished porcelain tiles look incredibly wonderful and complement almost all kinds
                                    of themes and furniture. The only downside of these tiles is slippery when wet and
                                    not suitable for bathroom spaces. Polished porcelain tile is less glossy and
                                    slippery than glazed porcelain tile.

                                </p>
                                <p>
                                    <b>
                                        Characteristics:-

                                    </b>
                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Polished porcelain tiles are <b>scratch resistant.</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            These are <b>frost resistant;</b> the colour doesn't fade away over a period
                                            of
                                            time.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            It has exceptional <b>stain resistance</b> properties and is <b>easier to
                                                clean and
                                                maintain.</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Polished porcelain tiles are <b>durable and studier.</b>
                                        </p>
                                    </li>

                                </ul>
                                <p>
                                    <b>
                                        Where To Use:-

                                    </b>
                                </p>
                                <p>
                                    Polished porcelain tile adds aesthetic appeal to any place. It is mostly used for
                                    decorative walls, kitchen and shower backsplashes.


                                </p>
                            </div>
                        </div>


























                        <div class="row my-4">
                            <div class="col-md-4">
                                <img class="tile_image"
                                    src="{{url_for('static', filename='assets/images/blog/blog20/CARRARA-NEW.jpg')}}"
                                    alt="">
                            </div>
                            <div class="col-md-8 my-md-auto my-4">
                                <h3 class="mb-3">
                                    05. Double Charged Porcelain Tiles

                                </h3>
                                <b>Featured Tile:</b>
                                Blend the style and functionality with a crystalline finish - <a
                                    href="https://lioliceramica.com/product/1600x3200mm/116/Carrara">Carrara</a>
                                1600*3200mm.


                            </div>
                            <div class="col-md-12 mt-4">
                                <p>
                                    Double-charge porcelain tiles, a.k.a double-loaded porcelain tiles, are made by
                                    infusing two different layers of clay. The upper layer consists of the design layer,
                                    which holds 3-4 thicknesses of tile that are nearly 30%. Hence, they are thicker
                                    than other porcelain tiles and more durable with unique designs and patterns.

                                </p>
                                <p>
                                    Double-charge porcelain tiles are made in the traditional way, where the colour
                                    pigment is mixed with raw material and pressed in a hydraulic press machine to print
                                    patterns on the top layer. This gives a homogeneous look and smooth finish with
                                    nanomaterial coating. These tiles appear as natural-like marble and feel, which
                                    define the luxurious vibe in your space.

                                </p>
                                <p>
                                    Double-loaded porcelain tile is a flexible solution for both interior and exterior
                                    applications. These tiles are available in matte and crystalline finishes.

                                </p>
                                <p>
                                    <b>
                                        Characteristics:-

                                    </b>
                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            These tiles are <b>highly durable</b> and <b>withstand wear and tear</b> for
                                            heavy
                                            foot
                                            traffic.
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            Prevent accumulation of dirt and grime on the surface and can shine
                                            long-lasting for years.
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            The beneficiary properties of double charge porcelain tiles are <b>stain and
                                                wear resistance and anti-bacterial.</b>
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            These tiles are <b>easy to clean</b> and <b>low-maintenance.</b>
                                        </p>
                                    </li>


                                </ul>
                                <p>
                                    <b>
                                        Where To Use:-

                                    </b>
                                </p>
                                <p>
                                    With the robustness and variety of designs, double-charge porcelain tiles are the
                                    best flooring choice for commercial spaces like malls, hotels, airports,
                                    restaurants, libraries, and hospitals.


                                </p>
                            </div>
                        </div>





































                        <div class="row my-4">
                            <div class="col-md-4">
                                <img class="tile_image"
                                    src="{{url_for('static', filename='assets/images/blog/blog20/FLORA_MOSAIC-BM.jpg')}}"
                                    alt="">
                            </div>
                            <div class="col-md-8 my-md-auto my-4">
                                <h3 class="mb-3">
                                    06. Digitally Printed Porcelain Tiles


                                </h3>
                                <b>Featured Tile:</b>
                                Beautifully printed, elegant and vibrant tile that creates a cheerful environment. <a
                                    href="https://lioliceramica.com/product/1200x2400mm/83/Flora%20Mosaic">Flora
                                    Mosaic</a> 1200*2400mm.


                            </div>
                            <div class="col-md-12 mt-4">
                                <p>
                                    Digitally printed porcelain tile is a type of glazed porcelain tile. Due to
                                    technological advances, the latest production method utilises digital photography to
                                    capture natural material and digitally print the tiles. After that, porcelain tiles
                                    are glazed and do not require sealing.

                                </p>
                                <p>
                                    For an elegant look of marble stone tile or nature-inspired wood look, digitally
                                    printed porcelain tile is the best alternative for your floors and walls.

                                </p>
                                <p>
                                    With digital printing technology, tile decoration is easier, more precise, faster,
                                    more flexible, higher resolution, more convenient to execute, and less waste and
                                    residue to eliminate, making it a popular, hassle-free decor method.

                                </p>
                                <p>
                                    <b>
                                        Characteristics:-

                                    </b>
                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>

                                            There are virtually <b>endless design options</b> for every space.

                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            These tiles are physically one of the <b>toughest porcelain tiles</b>
                                            available.

                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            They are <b>moisture-resistant</b> and <b>easy to clean. </b>

                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            Digitally printed porcelain tiles are exactly what you are looking for <b>
                                                resistance to frost, aesthetic appeal, shiny surface</b> and
                                            <b>anti-skid.</b>

                                        </p>
                                    </li>

                                </ul>
                                <p>
                                    <b>
                                        Where To Use:-

                                    </b>
                                </p>
                                <p>
                                    Bathrooms, kitchens, and outdoor spaces are ideal for using digitally printed
                                    porcelain tiles.


                                </p>
                            </div>
                        </div>





                        <div class="row my-4">
                            <div class="col-md-4">
                                <img class="tile_image"
                                    src="{{url_for('static', filename='assets/images/blog/blog20/IRON_GREY.jpg')}}"
                                    alt="">
                            </div>
                            <div class="col-md-8 my-md-auto my-4">
                                <h3 class="mb-3">
                                    07. Textured or Stone-look Porcelain Tile
                                </h3>
                                <b>Featured Tile:</b>
                                Enhance the character of your space by adding authenticity and traditional element. <a
                                    href="https://lioliceramica.com/product/1200x2400mm/90/Iron%20Grey">Iron
                                    Grey</a> 1200*2400mm in Orgatech and rustic finish.

                            </div>
                            <div class="col-md-12 mt-4">
                                <p>
                                    With advanced technology, stone-look tiles combine the properties of porcelain with
                                    the graceful beauty of the stone. The technical characteristic of textured or
                                    stone-look porcelain tile is suitable for domestic and commercial spaces.


                                </p>
                                <p>
                                    Typical veins and irregular texture look of natural stone with resistance properties
                                    of porcelain stoneware convey a traditional look and timeless elegance. In addition,
                                    it can define an architectural or interior design with a modern appeal. These tiles
                                    come in a wide range of matt finishes made by pressing materials in moulds to give
                                    texture effects of stone, wood, concrete or tin; the options are limitless.

                                </p>
                                <p>
                                    <b>
                                        Characteristics:-

                                    </b>
                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            These tiles offer high <b>resistance to wear and tear and scratches.</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Stone-look porcelain tiles <b>do not absorb water;</b> therefore, using them
                                            in the
                                            kitchen or outdoor swimming pool can’t be a problem.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Textured porcelain tiles are <b>non-porous</b> materials that can resist any
                                            chemical attack.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            These tiles are <b>frost resistant</b> and can withstand bad weather.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Stone-look porcelain tile is the <b>most hygienic flooring</b> option,
                                            preventing
                                            bacteria growth.
                                        </p>
                                    </li>

                                </ul>
                                <p>
                                    <b>
                                        Where To Use:-

                                    </b>
                                </p>
                                <p>
                                    Textured or stone-look porcelain tiles offer flexible design and can be used as
                                    floor and wall tiles in domestic and commercial places.

                                </p>
                            </div>
                        </div>

                    </div>
                </div>





                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            End Note:

                        </h2>

                        <ul>
                            <li>
                                <p>
                                    Rustic matt or Unglazed porcelain tiles are referred to throughout the body. They
                                    have a
                                    smooth, soft surface with an incredibly high level of slip-resistant and can
                                    withstand wear
                                    and tear.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Glazed porcelain tiles are single-layered tiles pressed in the hydraulic pressing
                                    machine
                                    under high pressure to give them excellent durability.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Thanks to technology, one can get digitally printed porcelain tiles in attractive
                                    patterns
                                    and designs.
                                </p>
                            </li>
                            <li>
                                <p>
                                    When a layer of polish is added to tiles to give them extra gloss and shine, they
                                    are known
                                    as polished porcelain tiles.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Double-charged porcelain tiles are made by fusing two layers of pigment and are
                                    usually
                                    thicker than normal tiles. Their heavy-duty nature makes them ideal for high-traffic
                                    areas.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Full-body porcelain tiles are meant for heavy footfall, like commercial/industrial
                                    use.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Textured or stone look porcelain tiles give a timeless and unique character to your
                                    interior
                                    and exterior decor.
                                </p>
                            </li>

                        </ul>
                        <p>
                            Check out this guide on <a href='{{url_for("blog.blog_inside5")}}'>how to clean different
                                types of porcelain tiles</a> in detail with do’s and don'ts.

                        </p>
                    </div>
                </div>

                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            Lioli’s Large Format Porcelain Tiles Collection

                        </h2>

                        <p>
                            <a href="/">Lioli Ceramica</a> is India's biggest porcelain slab tile manufacturer. We
                            believe in
                            innovation. With our state-of-art technology and innovative designs to produce porcelain
                            slabs that are durable and add a personal touch to your space. Explore our wide range of
                            large format tile collections from lustrous marble look to rustic stone series with varied
                            sizes and finishes. <a href='{{url_for("main.download")}}'>Download now!</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                                Boasting the attributes of being scratch, stain, and water-resistant installing
                                porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}