{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h1 class="section_h2" data-aos="fade">
                        Installation Guide for Large Format Porcelain Tiles

                    </h1>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog16/01.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>

                            Large porcelain slab tiles are growing more popular for their aesthetically pleasing
                            appearance and other unique advantages. They are the best choice for all styles- traditional
                            or contemporary. From easy cleaning to minimal grout line maintenance to their seamless and
                            aesthetic appearance, there are many more reasons to consider <a
                                href="https://lioliceramica.com/blog/large-format-porcelian-tiles-10-reasons-to-consider-them/">larger
                                format porcelain tiles!</a>



                        </p>
                        <p>As you know, installing tiles is a challenging job, but following the right steps and using
                            the right tools and adhesive can make it super easy. Compared to standard tiles,
                            large-format porcelain tiles have their own set of installation challenges and guidelines to
                            avoid hurdles.
                        </p>
                        <p>
                            Here are a few things to learn and keep in mind for installing large-format porcelain tiles
                            without any hassles.

                        </p>
                        <p>
                            Let’s start with the large-format tiles installation requirements to ensure a trouble-free
                            installation process.

                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            Installation Requirements

                        </h2>
                        <p>
                            You need the right equipment to lay your <a
                                href="https://lioliceramica.com/blog/an-ultimate-guide-on-large-format-porcelain-tiles/">large-format
                                porcelain tiles</a> for
                            proper bonding and a beautiful appearance.

                        </p>
                        <ul class="ml-4">
                            <li>
                                Measuring tapes for standard measuring- room and tiles size.
                            </li>
                            <li>
                                Laser line for making a proper layout.
                            </li>
                            <li>
                                A right size trowel for bigger tiles.
                            </li>
                            <li>
                                Cutting tools like a wet saw (for straight lines) and continuous rim grinder (for circle
                                shape or line in the centre).
                            </li>
                            <li>
                                Choose medium bed mortar made for large format tiles with greater dimensional thickness
                                than the standard tiles.
                            </li>
                            <li>
                                Tile spacer to create grout space equally between tiles.
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-4">
                    <div class="cta_box text-center">
                        <div class="section_h2">
                            <img src="{{url_for('static', filename='assets/images/about/line2.png')}}" class="line">
                        </div>

                        <br>

                        <p class="cta_p px-5">
                            <b>
                                Want to experiment with something new and creative in your space to express your
                                personality?

                            </b>
                            <br>

                            Lioli Ceramica brings you something unique and sophisticated porcelain tile solution.
                            Explore now for a minimal, bold, rustic, and modern look with our breathtaking large format
                            tile collection.

                        </p>


                    </div>
                </div>


                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            How To Install Large Format Porcelain Tiles?

                        </h2>
                        <p>
                            Large-format porcelain tiles might seem challenging to install, but you’ll ultimately
                            appreciate them for their beautifully aesthetical appearance and time-saving benefits. This
                            guide will help you clear the pickle of laying these bigger tiles by explaining the process
                            of installing large format tiles in depth.

                        </p>
                        <p>
                            So let’s begin with-


                        </p>
                        <h3>
                            01. Prepare Your Surface

                        </h3>
                        <p>
                            It is essential to check the surface's flatness to ensure high-quality and quicker
                            installation. Large format tiles are heavier than the standard tiles, so they require a
                            stronger substrate.

                        </p>
                        <ul class="ml-4">
                            <li>
                                For that, you need to verify your surface is structurally free of contaminants- oil,
                                grease, dirt, or other chemicals.
                            </li>
                            <li>
                                Any damaged or uneven surface should be repaired and levelled.
                            </li>
                            <li>
                                Make sure to measure your surface from the high point with a straightedge. It will help
                                you meet the flatness requirement before installing large-format porcelain tiles.

                            </li>
                        </ul>




                        <h3>
                            02. Choose The Tile Pattern And Draw the Layout

                        </h3>
                        <p>
                            Planning layout is very important for any flooring and walls. It helps to determine tile
                            pattern whether suits your project or not. Your tile pattern and laying will also influence
                            the chance of lippage after installation.

                        </p>
                        <ul class="ml-4">
                            <li>
                                Begin with marking the centre point of the wall or floor.
                            </li>
                            <li>
                                Place the laser line and snap a chalk line between the centre to the edges. Make sure
                                they’re perfectly square.
                            </li>
                            <li>
                                Next, lay out the rows along with the centre line and divide the room into smaller grids
                                using the tiles spacers.

                            </li>
                        </ul>
                        <p>
                            In this way, large-format porcelain tiles will be prevented from lippage or cracking after
                            installation.

                        </p>


                        <h3>
                            03. Pick The High-Quality Adhesive

                        </h3>
                        <p>
                            Once you’ve made sure your flat substrate is ready and drawn the layout with caulk. Now, it
                            is time for adhesive. It is important to choose the right and high-quality adhesive for
                            durability and prevent lippage or cracking after installation of large format tiles.
                        </p>
                        <p>
                            We recommend using medium bed mortar to mix the cement well. This is designed for bigger,
                            heavy tiles with one side greater than 15”. They form a thicker layer to support heavy large
                            format tiles than regular adhesive. Mix only enough to be used in 30 minutes.
                        </p>
                        <p>
                            It is also essential to use the right size of the trowel to comb adhesive into standing
                            riding by holding a 45-degree angle.
                        </p>
                        <p>
                            <b>Tip</b>:- Remove excess adhesive. Make sure not to spread the mixture over a larger area
                            than you can finish in 15 minutes.
                        </p>


                        <h3>
                            04. Cut The Tiles

                        </h3>
                        <p>
                            Carefully measure your tiles to cut and mark with a pencil or chalk. Cut the tiles with a
                            tile cutter; use a wet saw to cut straight lines and continuous grim rinder to make curved
                            cuts.
                        </p>
                        <p>
                            Smoothed the sharp-cut edge with a carborundum stone.

                        </p>


                        <h3>
                            05. Start Setting Tiles From The Centre

                        </h3>
                        <p>
                            Now finally, it's time to install tiles on your surface.

                        </p>
                        <ul class="ml-4">
                            <li>
                                Begin from the centre of the room, one row at a time.
                            </li>
                            <li>
                                Finish the first row before moving to the next.

                            </li>
                        </ul>
                        <p>
                            Set tiles one at a time using a slight twisting motion. But before that, back-butter the
                            large format tile for strong bonds. Use a tile spacer for equal joints between tiles(insert
                            them between tiles).
                        </p>
                        <p>
                            Once the row is completely installed, use a rubber mallet or hammer to tap each tile in
                            place for a good bond and level surface. Don’t forget to remove excess adhesive from the
                            tiles with a putty knife or damp sponge.


                        </p>


                        <h3>
                            06. Choose The Right Grout Joint Width

                        </h3>
                        <p>
                            After installing large format porcelain tiles, you must wait 24 hours before grouting.
                        </p>
                        <p>
                            We recommended going for the right grout width based on the type of tiles and desired
                            pattern. Remove the tile spacer and spread grout on the surface. Make sure it goes down
                            between the spaces. Remove the excess grout immediately with the edge of the float.

                        </p>
                        <ul class="ml-4">
                            <li>
                                Wait for 20 minutes to set the grout slightly, then use a damp sponge to clean the grout
                                from the surface for a smooth grout line.
                            </li>
                            <li>
                                Let the grout dry until it becomes hard and haze from the tile surface.
                            </li>
                            <li>
                                Lastly, polish them with a soft cloth.

                            </li>
                        </ul>
                    </div>
                </div>





                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            Things To Avoid While Installing Large-Format Porcelain Tiles

                        </h2>
                        <p>
                            Even though large-format porcelain tiles are favoured by homeowners; when it comes to
                            installation, there are some hurdles you need to avoid.

                            Here are some extra tips to keep in mind for a trouble-free installation process.


                        </p>
                        <ul class="ml-4">
                            <li>
                                Organise your equipment correctly and make sure you have the right kind of equipment.
                            </li>
                            <li>
                                Always wear eye protection when cutting tiles to avoid the unnecessary accidents of
                                getting chips in your eyes.
                            </li>
                            <li>
                                Measure your room size and cut your tiles accordingly. You don’t want to make any error
                                likely to the room entrance or against a wall.
                            </li>
                            <li>
                                Avoid having thin cuts; they are difficult to cut and end up wasting the tiles.
                            </li>
                            <li>
                                Don’t forget to buy 10-12 extra tiles as a buffer(in case of breaking, cracking or
                                wastage during installation).
                            </li>
                            <li>
                                Not ensuring a flat substrate can create an uneven and unsightly appearance and a
                                tripping hazard. This is called a lippage.
                            </li>
                            <li>
                                Always read specific instructions on packages of adhesive and grout.
                            </li>
                            <li>
                                Back butter before laying your large format tiles against the floor.
                            </li>
                            <li>
                                Don’t slide tiles from the place while installing large or heavy tiles.
                            </li>
                            <li>
                                Don’t forget to remove excess grout from the tiles.
                            </li>
                            <li>
                                After installing tiles, don’t walk on tiles for 24 hours until they are set.
                            </li>
                            <li>
                                After applying grout, wait three days for heavy use.
                            </li>


                        </ul>
                    </div>
                </div>






                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            Summary:
                        </h2>
                        <p>
                            Large format tiles are particularly impressive because they are easy to lay and require less
                            maintenance. They are affordable and installed both indoors as well as outdoors.
                        </p>
                        <p>
                            Make sure to follow the above steps and seek guidelines from online tutorials for particle
                            understanding. Always use branded tiles for premium quality and aesthetically pleasing for
                            your home and office.
                        </p>
                        <p>
                            Read to know why branded tiles are better than local tiles: <b>Branded Vs. Local Tiles:
                                Which
                                Is The Best Flooring Option?</b>


                        </p>
                    </div>
                </div>





                <div class="col-12 col-sm-12 mb-4 mt-0">


                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            Get Your Premium Quality Porcelain Tiles From Lioli Ceramica

                        </h2>
                        <p>
                            Lioli Ceramica has evolved to become one of the leading porcelain tile manufacturers in
                            India, with a global presence through innovation, cutting-edge technology, and professional
                            expertise.
                        </p>
                        <p>
                            Our exquisite marble collection set a new benchmark of excellence. Choose your style from
                            our comprehensive range of large-format porcelain tile collections that reflect your
                            personality.

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                                Boasting the attributes of being scratch, stain, and water-resistant installing
                                porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}
