{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h1 class="section_h2" data-aos="fade">
                        Everything You Need To Know About Porcelain Tiles
                    </h1>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="https://lioliceramica.com/static/assets/images/index/banner/PIETRA_GREY_%26_STATUARIO_NORWELL1200x1200mm.jpg"
                            alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>

                            The flooring is the first thing a person notices in a home. Imagine welcoming someone with a
                            stylish looking floor that has textured designs and eye-catching patterns.
                        </p>
                        <p>
                            Quite impressive, right? Porcelain tiles help to create such impressions. Porcelain is known
                            for its shiny and smooth texture, as well as its elegant and classical appearance. So do the
                            tiles.
                        </p>
                        <p>
                            For over a century, porcelain tile has made its way in residential and commercial places
                            adorning the floors and walls with its majestic beauty and superior functionalities. In the
                            old days, porcelain tiles were limited for use in bathrooms and kitchens.
                        </p>
                        <p>
                            But now, they enchant every corner of the house. This article perfectly explains everything
                            you need to know about porcelain tiles. Give it a read before purchasing tiles for your
                            space.
                        </p>
                        <p>
                            As one of the well-known porcelain tile manufacturers, <a href="/">Lioli Ceramica</a> brings
                            you a comprehensive guide on porcelain tile, which covers all the facts about porcelain
                            tiles.



                        </p>

                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        History of porcelain tiles
                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            The history of tiles is too old to be imagined. It is believed the Egyptians were the first
                            to manufacture ceramic tile around the 5th century. Since then, these ceramic tiles have
                            evolved, and many variations of ceramic tiles have been introduced to the world.


                        </p>
                        <p>
                            One of these variations is porcelain tile. Derived from the old Italian word
                            <i>"porcellana"</i>, porcelain means cowrie shells or earthenware made of clay. We are aware
                            of porcelain dolls and crockeries. That’s what porcelain was used for back then until the
                            15th century.


                        </p>
                        <p>
                            In the 15th century, China used porcelain to make tiles and further used it in the Porcelain
                            Tower Of Nanjing. Back then, these porcelain tiles were hand-painted and were so costly.


                        </p>
                        <p>
                            So, initially, porcelain was primarily used in grand palaces. But as time passed,
                            technological advancements made porcelain tiles a household name, making them a more
                            feasible option.

                        </p>

                        <p>
                            Even after centuries, it still catches the eye as the best flooring option for Indian homes.

                        </p>
                    </div>
                </div>








                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        What Are Porcelain Tiles?
                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-4 mt-0">
                    <div class="blog-para">
                        <p>
                            Porcelain tiles are smooth, surfaced tiles with an unmatched beauty. They are prized for
                            their versatility and can make your floor and wall look more captivating. Porcelain floor
                            and wall tiles come with enormous strength, durability and varied designs and textures to
                            suit your taste.

                        </p>
                        <p>
                            As mentioned, porcelain tiles are a better version of ceramic tiles. Even though they look
                            the same at first, both these tiles are poles apart. Porcelain tiles are more durable,
                            strong, and have more resistance capability.


                        </p>
                        <p>
                            The difference between porcelain and ceramic tiles is even evident from their exterior.
                            Porcelain tiles have smooth surfaces, while ceramic tiles have coarse surfaces.

                        </p>
                        <p>
                            <b>
                                <i>
                                    But how are they stronger than ceramic tiles? Because of its manufacturing process.

                                </i>
                            </b>
                        </p>
                    </div>
                </div>











                <div class="col-12 mb-5 border_bottom">
                    <div class="row">



                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    How Are Porcelain Tiles Manufactured?


                                </h3>
                                <p>
                                    Porcelain tiles are made from refined white clay, feldspar, kaolin, and quartz. The
                                    ingredients are mixed with different colour pigments to colour the tiles. The
                                    mixture is thoroughly mixed, then dried and powdered.
                                </p>
                                <p>
                                    This powdered form is pressed at extreme pressure to shape the tile. Then the tiles
                                    are printed with the help of inkjet printers and given different textures and
                                    designs to suit your rooms.
                                </p>
                                <p>
                                    Then a glaze layer is added to make it more moisture resistant. These tiles are
                                    ready for the baking process now.
                                </p>
                                <p>
                                    In the baking process, the tile gets heated at an extremely high temperature, 1200
                                    °C, or about 1200 °C in the kiln. In this process, all the remaining moisture is
                                    removed, and the soft clay is turned into a hard one, making it a more durable,
                                    non-porous, and rigid material.
                                </p>
                                <p>
                                    After spending time in the kiln, these tiles are cooled down for the further
                                    process. After that, these tiles are polished and cut into final shapes. Now, the
                                    tiles are ready to be installed.



                                </p>

                            </div>

                            <div class="blog-para">
                                <p>
                                    <b>
                                        <i>
                                            Durable and lovely- Lioli Ceramica makes these elements perfectly set in our
                                            porcelain tiles. Make your tiles speak for you.

                                        </i>
                                    </b>
                                </p>
                            </div>
                            <br>
                            <div class="blog-preview">
                                <img src="https://lioliceramica.com/static/assets/images/index/banner/Damasta_gray1200x2400.jpg"
                                    alt="">
                            </div>
                        </div>



                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h2 class="section_h2" data-aos="fade">
                                    Why Choose Porcelain Tiles?
                                </h2>
                                <p>
                                    If you are searching for reasons to choose porcelain tiles for your next project,
                                    let us tell you; their benefits weigh over their drawbacks.
                                </p>
                                <p>
                                    Porcelain floor tiles have their aura. They can imitate any tile, and one will never
                                    know until it is looked up close.
                                </p>
                                <p>
                                    Before you buy porcelain tiles, here are some benefits you should know:
                                </p>


                            </div>
                            <div class="blog-para pl-4">
                                <h3>
                                    01. Durability
                                </h3>
                                <p>
                                    One of the most frequently discussed benefits of porcelain tiles is that once you
                                    install porcelain tiles, you can enjoy their beauty for decades.
                                </p>
                                <p>
                                    As mentioned, porcelain is made up of refined clay at a very high temperature and
                                    has a thicker width than its other counterparts.
                                </p>
                                <p>
                                    They are strong enough to withstand any environment and be there to add beauty over
                                    years and years.

                                </p>

                                <h3>
                                    02. Easy To Clean

                                </h3>
                                <p>
                                    If porcelain tiles get dirty, you must sweep and wipe the floor with a damp cloth.

                                </p>
                                <p>
                                    And for deep cleaning, add a few drops of vinegar into the mopping bucket and mop
                                    the floor. You will have ideally looking porcelain floor tiles with you.

                                </p>
                                <p>
                                    <b>
                                        <i>
                                            Have to deep clean your walls and floors? Read our blog on <a
                                                href="{{url_for('blog.blog_inside5')}}">cleaning
                                                porcelain tiles</a> to know more.


                                        </i>
                                    </b>
                                </p>

                                <h3>
                                    03. Water-Resistant

                                </h3>
                                <p>
                                    Another significant benefit of porcelain tile is its ability to resist moisture.
                                    Unlike other flooring materials, they are almost completely waterproof with a water
                                    absorption rate of less than 0.5%.
                                </p>
                                <p>
                                    This feature makes them perfect for kitchens, bathrooms and wet areas. Plus, there
                                    are no chances for growing moulds and bacteria and tile deterioration as they do not
                                    retain moisture.
                                </p>
                                <p>
                                    Modern porcelain tiles are frost-resistant, making them suitable for patios.

                                </p>
                                <h3>
                                    04. Perfect For High Traffic Areas

                                </h3>
                                <p>
                                    One of the biggest enemies for the high-traffic areas is cracking and chipping the
                                    tiles, which won't be the case with porcelain tiles.
                                </p>
                                <p>
                                    No worries, porcelain tiles are durable enough to withstand heavy foot traffic. </p>
                                <p>
                                    This flooring material is stiff, robust and sturdy enough to use in commercial and
                                    public spaces.</p>
                                <p>
                                    Porcelain tiles are wear and tear-resistant, which makes them perfect even for the
                                    roughest use.

                                </p>
                                <h3>
                                    05. Variety Of Options

                                </h3>

                                <p>
                                    One of the benefits of porcelain tiles includes a variety of options to choose from.
                                    Starting from the designs that can attract to the patterns that are worthy of
                                    looking for, porcelain floor and wall tiles has it all.</p>
                                <p>
                                    Porcelain floor and wall tiles are available in different colour contrast and sizes.
                                </p>

                            </div>
                            <div class="blog-para my-3">
                                <p>
                                    These were some of the benefits of porcelain tiles, but these are not enough to
                                    overlook some drawbacks. However, benefits still weigh higher than these drawbacks.
                                    So let’s see the <b>drawbacks</b> of porcelain tiles:

                                </p>
                            </div>

                            <div class="blog-para pl-4">
                                <h3>
                                    01. Hard To Install

                                </h3>
                                <p>
                                    Porcelain tiles cannot be installed with simple D.I.Y techniques. They require
                                    professional help for installation.

                                </p>
                                <h3>
                                    02. More Expensive
                                </h3>
                                <p>
                                    This flooring material is relatively more expensive than ceramic tiles. But it was
                                    back in time. Nowadays, some standard ceramic tiles cost as much as porcelain tiles.

                                </p>
                                <h3>
                                    03. Heavy
                                </h3>
                                <p>
                                    Porcelain tiles are heavier than other tiles. So, before installing porcelain tiles
                                    on the second or upper floors of your home, ensure that your building is strong
                                    enough to withstand enough stress.
                                </p>
                                <p>
                                    Porcelain floor tiles are highly preferable for the first-floor areas. They will
                                    require a sub-flooring to withstand the weight.


                                </p>
                            </div>

                            <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                                <div class="cta_box text-center">
                                    <div class="section_h2">
                                        <img src="{{url_for('static', filename='assets/images/about/line2.png')}}"
                                            class="line">
                                    </div>

                                    <br>
                                    <p class="cta_p px-5">
                                        Feeling optimistic about purchasing porcelain tiles? Lioli Ceramica offers
                                        premium-quality porcelain tiles at competitive prices. Book a <a
                                            href="{{url_for('main.contact')}}">consultation call now.</a>

                                    </p>


                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                        <h2 class="section_h2" data-aos="fade">
                            Types Of Porcelain Tiles
                        </h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 mb-4 mt-0">
                        <div class="blog-para">
                            <p>
                                Different porcelain tiles have specific characteristics, which you should look for
                                before making the final selection. So the main types of porcelain tiles are

                            </p>

                            <h3>
                                01. Glazed Porcelain Tiles

                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        One of the widely used types of porcelain tiles, glazed porcelain tiles have an
                                        extra layer of glossy finish. After baking, these tiles are further treated with
                                        a glaze finish to make them more waterproof and robust.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Glazed porcelain tiles come in different colours, finishes, and patterns. Their
                                        waterproof nature makes them perfect for spill-prone areas.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        These tiles are attractive but have less strength than unglazed porcelain tiles.
                                        Plus, they can lose their sheen over time.

                                    </p>
                                </li>
                            </ul>

                            <h3>
                                02. Unglazed Or Matte Porcelain Tiles

                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        As per the name, they do not have any glaze layer. A natural colour of clay or a
                                        pigment added at the initial level gives this tile a more earthy and natural
                                        appearance.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Unglazed porcelain tiles have a rough surface, are more durable, and can
                                        tolerate different climate changes.
                                        There are two main types of unglazed porcelain tiles:

                                    </p>

                                    <h4>
                                        Full-body Porcelain Tiles

                                    </h4>
                                    <ul class="ml-4">
                                        <li>
                                            <p>
                                                Also, go by the name through-body porcelain tile. These tiles have
                                                thorough composition, colour, and patterns throughout their body.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                A full-body porcelain tile is the most durable and ensuring tiling
                                                material. These tiles are resistant to scratch, moisture, chemical, and
                                                heat.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                These tiles are available in matte-finish and textured finish looks.
                                                These homogeneous tiles provide aesthetic features to your interior.

                                            </p>
                                        </li>
                                    </ul>

                                    <h4>
                                        Double Charged Porcelain Tiles

                                    </h4>
                                    <ul class="ml-4">
                                        <li>
                                            <p>
                                                As per the name, double-charged or double-loaded porcelain tiles are
                                                made by infusing two different layers of clay, mostly of different
                                                colours, together before baking.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                The baking process makes them fuse, making them look like a homogeneous
                                                product. These tiles are made in the traditional way, where the tiles
                                                are pressed to print patterns on the top layer, slip down towards the
                                                base and give the tile a homogeneous look.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Double-charged porcelain tiles contain two distinct layers. Hence, they
                                                are thicker than their other counterparts. These tiles are durable and
                                                beautiful, with unique designs and patterns.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <i>
                                                    These tiles are available in matte, polished and semi-polished
                                                    finishes.

                                                </i>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <h3>
                                03. Textured Or Stone-Look Porcelain Tiles

                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Textured porcelain tiles have a medium to high rough surface. Textured porcelain
                                        tiles can enhance the beauty of any wall or floor with their magnificent look.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        From wood to brick, stone to bamboo, or even textile finish, textured porcelain
                                        tiles are available for every taste and type. These tiles are mainly used
                                        outdoors. Stone-looked or textured porcelain tiles are finished before baking,
                                        giving them a rough and rugged look.

                                    </p>
                                </li>
                            </ul>
                            <h3>
                                04. Polished Porcelain Tiles
                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Porcelain tiles can also attain a high finish and look like natural stones.
                                        Polishing is a manual process achieved by diamond polish pads to achieve a
                                        smooth and shiny finish.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        However, these processes can make microscopic pores in the tiles and retain dust
                                        particles. No worries, our porcelain tiles are still water and stain-resistant,
                                        but if not sealed properly, they will slowly start to look dirtier.

                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                        <div class="cta_box text-center">
                            <div class="section_h2">
                                <img src="{{url_for('static', filename='assets/images/about/line2.png')}}" class="line">
                            </div>

                            <br>
                            <p class="cta_p px-5">
                                Porcelain tiles can make boring rooms enjoyable via their style range. Visit our nearest
                                shop now to see our fantastic porcelain tiles collection.


                            </p>


                        </div>
                    </div>

                    <div class="col-md-12 mb-4">
                        <div class="blog-para">
                            <h2 class="section_h2" data-aos="fade">
                                Porcelain Tiles: Where To Use Them?

                            </h2>
                            <p>
                                Versatile, durable and elegant- porcelain tiles can be used anywhere from the kitchen to
                                the basement or even outdoors. They are durable and hypoallergenic, so no worries about
                                allergies. Some of the most popular places to use porcelain tiles are:

                            </p>
                            <h3>
                                Kitchens
                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Kitchens and porcelain tiles have a long relationship. Porcelain tiles have been
                                        used in kitchens for quite a long time, from decorating floors, walls,
                                        backsplashes and even countertops.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Kitchens are prone to oil stains and difficult spills, so we need tiles that can
                                        withstand such harsh treatment. Porcelain kitchen tiles are the best fit for
                                        such a situation; they are easy to clean, maintain, and resist high
                                        temperatures.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>
                                            <i>
                                                Thinking of renovating kitchen space? Need to be in trend? Read our blog
                                                on kitchen design inspiration to get some inspiration.

                                            </i>
                                        </b>
                                    </p>
                                </li>
                            </ul>

                            <h3>
                                Bathrooms
                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Similarly to kitchens, bathrooms are where porcelain tiles are used more often
                                        due to their moisture-resistance capability.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Some argue that natural stone is preferable for bathroom flooring, but if they
                                        are not appropriately sealed, their porous nature will retain moisture,
                                        resulting in stains or worse growth of mould and mildew.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        In contrast, porcelain tiles don't accumulate mould and mildew over time. Plus,
                                        anti-skid porcelain tiles are also available on the market, and they can last
                                        for decades, so no worries about changing and renovating tiles from time to
                                        time.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>
                                            <i>
                                                Do you want to make your bathroom tiles non-slippery? Read our guide on
                                                how to keep bathroom floors dry.

                                            </i>
                                        </b>
                                    </p>
                                </li>
                            </ul>

                            <h3>
                                Living Rooms

                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        The beauty of Porcelain tiles is not limited to bathrooms and kitchens. They are
                                        widely used in living rooms to enhance the interior of the living room.
                                        Porcelain tiles are low maintenance with long-lasting beauty.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        They come in different shades of colours, textures, patterns, designs and
                                        finishes to suit your floors or the living room. Or you can use digitally
                                        printed porcelain wall tiles to make accent walls to give a modern look to your
                                        living room.

                                    </p>
                                </li>
                            </ul>


                            <h3>
                                Hallways And Staircase

                            </h3>

                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Hallways are the first thing you often see in households or one of the most used
                                        parts of the home. For hallways, we need a tiling material that is: durable and
                                        attractive.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Porcelain tiles fit the description, providing an elegant look and durability
                                        and feeling warm under the feet. Porcelain hallway tiles come with an anti-skid
                                        property to prevent any accidents.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        However, you can use porcelain tiles on your stairs and complement your
                                        interior.

                                    </p>
                                </li>
                            </ul>

                            <h3>
                                Exterior

                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Porcelain tiles are the best option to decorate your exterior. Porcelain tiles
                                        are ideal to use for the exterior. You can use porcelain tiles everywhere in
                                        balconies, terraces, gardens, swimming pools, and patios.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        The main reason is they are sturdy, durable, and can withstand extreme weather
                                        conditions. <a href="{{url_for('blog.blog_inside9')}}">Outdoor porcelain
                                            tiles</a>
                                        are specially made with
                                        different standards
                                        to meet all the unique requirements and beautify the space for a more extended
                                        period.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i>
                                            <b>
                                                If you are still Confused about selecting a tile for the outdoors, Read
                                                our guide on tips on selecting outdoor tiles.

                                            </b>
                                        </i>
                                    </p>
                                </li>
                            </ul>


                            <h3>
                                Countertops
                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Porcelain tiles can be used as countertops too. The large formats of porcelain
                                        tiles are cut into the shape of countertops to add charisma to the space. These
                                        countertops are ideal for kitchens.

                                    </p>
                                </li>
                            </ul>


                            <h3>
                                Commercial Places

                            </h3>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Your floorings represent your brand, working environment and company image.
                                        Office floorings must be sturdy enough to endure the high foot traffic, be
                                        comfortable under feet, and fit within the budget.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        You want office floor tiles that can fit perfectly within the criteria.
                                        Resilient nature and their dynamic range of colours and designs make
                                        porcelain tiles one of the <a href="{{url_for('blog.blog_inside7')}}"> best
                                            office flooring options.</a>

                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                        <div class="cta_box text-center">
                            <div class="section_h2">
                                <img src="{{url_for('static', filename='assets/images/about/line2.png')}}" class="line">
                            </div>

                            <br>
                            <p class="cta_p px-5">
                                Lioli Ceramica’s tile collection is the perfect amalgamation of practicality, beauty,
                                and radiate comfort. Please have a look at our wide range of porcelain tiles.


                            </p>


                        </div>
                    </div>


                    <div class="col-md-12 mb-4">
                        <div class="blog-para">
                            <h2 class="section_h2" data-aos="fade">
                                Porcelain Tile Sizes Offered By Lioli Ceramica

                            </h2>
                            <p>
                                Large-format porcelain tiles are in trend nowadays for two main reasons: their seamless
                                beauty and cost-effectiveness.

                            </p>
                            <p>
                                Lioli Ceramica is the pioneer in manufacturing India’s first 1600*3200mm porcelain slab
                                tiles to add beauty to your walls and floors. Here are some of the <a
                                    href="{{url_for('product.size')}}"> porcelain
                                    slab sizes</a>
                                that Lioli offers:

                            </p>

                            <ul class="ml-4">
                                <li>
                                    <p>
                                        <a href="https://lioliceramica.com/product/1200x1200mm">1200*1200mm</a> - for
                                        flooring and kitchen countertops
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="https://lioliceramica.com/product/1600x1600mm">1600*1600mm</a> - only
                                        for floorings
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="https://lioliceramica.com/product/1600x3200mm"> 1600*3200mm</a>-
                                        kitchen tops, countertops, flooring for large spaces
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="https://lioliceramica.com/product/800x2400mm"> 800*2400mm</a>- kitchen
                                        tops only
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="https://lioliceramica.com/product/1200x2400mm"> 1200*2400mm</a>-
                                        flooring and walls

                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-12 mb-4">
                        <div class="blog-para">
                            <h2 class="section_h2" data-aos="fade">
                                Things To Consider When Buying Porcelain Tiles

                            </h2>
                            <p>
                                After the hassle of the whole day, when you finally decide to buy porcelain tiles, you
                                are standing in front of a showroom; follow these few tips to buy perfect porcelain
                                tiles for your space.


                            </p>
                            <p>
                                Firstly, know where you want to install porcelain tiles because the porcelain tiles used
                                for living rooms and hallways are sturdier and more durable.

                            </p>
                            <p>
                                In contrast, bathroom tiles need to be anti-skid and non-porous. The outdoor porcelain
                                tiles must be strong enough to withstand high foot traffic and harsh weather conditions.

                            </p>
                            <p>
                                Select the porcelain tiles according to their grades. Porcelain tiles are classified on
                                the basis of grades. For instance,

                            </p>
                            <ul class="ml-4">
                                <li>
                                    <p>
                                        Class 1 porcelain tiles are just for walls to add more aesthetic value.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Class 2 and class 3 are more suitable for kitchens and wet areas.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Class 4 porcelain tiles are suitable for areas with slightly more foot traffic.

                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Lastly, class 5 porcelain tiles are the highest classification and the most
                                        sturdy and durable tiles and suitable for commercial use.

                                    </p>
                                </li>
                            </ul>
                            <p>
                                They come in various sizes, from small ones to <a
                                    href="https://lioliceramica.com/blog/an-ultimate-guide-on-large-format-porcelain-tiles/">large
                                    format porcelain tiles</a>. They also come in different designs and patterns.

                            </p>
                            <p>
                                Thanks to technology, they can be digitally printed with the help of inkjet printers.
                                You can customize your tiles with the designs of your choice.

                            </p>
                            <p>
                                Choose the perfect colour for your tile. The “porcelain” word immediately creates an
                                image of elegant white tiles, right?

                            </p>
                            <p>
                                But porcelain tiles are present in different colours and hues. You can find porcelain
                                tile in every hue, from vibrant colours to cool or beige colours.

                            </p>
                            <p>
                                Choose the perfect finish. Porcelain tiles come in different finishes like rustic and
                                structural matte, lustrous, Orgatech, and crystalline to make a style statement.

                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 mb-4">
                        <div class="blog-para">
                            <h2 class="section_h2" data-aos="fade">
                                Wrapping Up

                            </h2>
                            <p>
                                So, this was a comprehensive guide to porcelain tiles. In summary, porcelain tiles are
                                sturdy, durable, water and frost-resistant, and can withstand extreme weather
                                conditions. These tiles are the best to use in residential and commercial places.

                            </p>
                            <p>
                                Along with its endless features, porcelain tiles also serve with a charismatic
                                appearance to enhance the beauty of the space with elegant and sleek looks.

                            </p>
                            <p>
                                If you still have a query, you can contact us, and we will be happy to help you.

                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4">
                        <div class="blog-para">
                            <h2 class="section_h2" data-aos="fade">
                                Get Look That Fascinates, With Lioli Ceramica

                            </h2>
                            <p>
                                <a href="/">Lioli Ceramica </a> is India's pioneer large-format porcelain tile
                                manufacturer. We have established our legacy throughout our four-year journey.

                            </p>
                            <p>
                                We are known for manufacturing robust, resilient, and durable tiles with elegant looks.
                                Our tiles are manufactured with the state-of-the-art-technology and innovative
                                approaches to walking hand-in-hand with the blooming trends.

                            </p>
                            <p>Walk into our tile studio or visit our website to see our enormous tile collection. Make
                                a style statement with tiles from Lioli Ceramica.

                            </p>
                        </div>

                    </div>
                </div>
            </div>

    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                                Boasting the attributes of being scratch, stain, and water-resistant installing
                                porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}
