{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h1 class="section_h2" data-aos="fade">
                        15 USEFUL TIPS TO FIND THE PERFECT TILES FOR YOUR HOME

                    </h1>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog14/01.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>

                            Thinking of renovating your interiors or re-flooring the home? With a plethora of options
                            available in the market, it might get overwhelming to choose the tiles for your home.

                        </p>
                        <p>
                            So, are you confused about how to choose the right tiles for your interior? Not anymore!

                        </p>
                        <p>
                            <a href="/">Lioli Ceramica</a> is here to walk you through the 15 useful tips to find the
                            perfect tiles for your interior. Our guide will help you choose tiles that will last for
                            years while still looking elegant and adding aesthetic appeal to your home!


                        </p>


                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        15 Helpful Tips To Find The Perfect Floor And Wall Tiles For Your Home

                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            01. Start with the basics

                        </h3>
                        <p>
                            First things first. Before you start the tile hunt, understand what you are looking for.
                            Browse through the magazines, and get to know the latest trends and designs. Visualize your
                            place; by doing so, you will get a clear idea of what your space will look like.


                        </p>
                    </div>
                </div>







                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            02. Know the types of tiles

                        </h3>
                        <p>
                            With numerous tile types and a variety of shapes, designs, and finishes available, you want
                            to choose the best option for your home. So before you go on and pick the first tile you lay
                            your eyes on, get to know about different types of tiles. This will help you make the right
                            decision when choosing wall and floor tiles for your space.


                        </p>

                        <ul class="ml-4">
                            <li>
                                <p>
                                    <b>Ceramic tiles</b> - If you are looking for durable yet affordable tiles, ceramic
                                    tiles
                                    are a good choice. These tiles offer a wide array of options to enhance your home's
                                    interior.
                                </p>
                                <p>
                                    Ceramic tiles, however, are prone to chipping and breaking, so we recommend going
                                    for group 4 or group 5 tiles for light to medium-traffic areas.

                                </p>
                            </li>

                            <li>
                                <p>
                                    <b>
                                        Porcelain tiles
                                    </b> - Elegant, sturdy, and easy to maintain, porcelain tiles are denser in
                                    composition and stain, scratch and heat resistant. Such features make them perfect
                                    for your home.

                                </p>
                                <p>
                                    TIP: Opt for <a href="{{url_for('blog.blog_inside8')}}"> large-format porcelain
                                        tiles</a> to give your abode a seamless and bigger space illusion.

                                </p>
                            </li>
                            <li>
                                <b>Vitrified tiles</b> - Another strong contender in the tiling industry, vitrified
                                tiles are
                                also known for their durability, seamless looks, and highly-durable nature. Vitrified
                                tiles are suitable for indoor and outdoor use.
                            </li>
                            <li>
                                You can also choose from <b>marble, travertine, limestone, sandstone, slate, and
                                    granite</b> if you are looking for natural stone tiles.

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            03. Where do you want to lay the tiles?

                        </h3>
                        <p>
                            Tiles are used for a variety of purposes. For instance, some tiles are created for walls
                            only, while others are installed on floors and walls. Some tiles are ideal for indoor or
                            outdoor installation, while others can be used for both.

                        </p>
                        <p>
                            Choosing the right tiles for your home can be challenging when you are not clear about where
                            you want to put them. So, before you choose floor tiles, get a clear idea of where you want
                            your tiles and what theme you want to create.

                        </p>
                        <ul class="ml-4">
                            <li>
                                <p>
                                    Tiles are not just for kitchens and backsplashes; you can now install them anywhere.
                                </p>
                            </li>
                            <li>
                                <p>
                                    From the living room, bedroom, and bathroom to the balcony, patio, and parking lot,
                                    the possibilities are endless.
                                </p>
                            </li>
                            <li>
                                <p>
                                    You can even install tiles on the ceilings!
                                </p>
                            </li>

                        </ul>

                        <p>
                            <i>
                                Identifying where and how you want to install tiles will help you select the right ones
                                for your home.

                            </i>
                        </p>
                    </div>
                </div>









                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            04. Porcelain tiles are ruling the tile world/porcelain tiles are trending

                        </h3>
                        <p>
                            What homeowner wouldn't want their floor and wall tiles to look elegant while durable and
                            long-lasting?



                        </p>
                        <p>
                            Versatile, strong, and moisture-resistant, porcelain tiles are more durable than ceramic
                            tiles and are the best choice for indoor and outdoor homes. As India’s leading <a
                                href='{{url_for("main.about")}}'>porcelain
                                tile manufacturer and supplier in India</a>, Lioli Ceramica offers an exciting range of
                            porcelain slabs to choose from!

                        </p>
                    </div>
                </div>




                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            05. Pick the design style

                        </h3>
                        <p>
                            Want to go for a rustic look? Maybe wooden? Or elegant like marble? Stone-looking tiles?
                        </p>
                        <p>
                            Think about what aesthetics you want to achieve for your space. Want a calm and soothing
                            aura for your room? Muted tiles with or without patterns are perfect for the look you plan
                            to achieve.
                        </p>
                        <p>
                            Choosing patterned tiles can be a great option to get that WOW factor for your living room
                            or kids' playroom. You can go with either a matt finish or glossy tiles. The choices are
                            endless!



                        </p>

                        <ul class="ml-4">
                            <li>
                                <p>
                                    For a sophisticated and classy vibe, you might want to choose from light shades,
                                    such as beige, white, grey or off-white.

                                </p>
                            </li>
                            <li>
                                <p>
                                    For a funky and dramatic theme, you can mix and match colours, designs, and
                                    patterns; choose two-tone tiles or combine light and dark hues for a stunning
                                    effect!

                                </p>
                            </li>
                        </ul>
                    </div>
                </div>




                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            06. Size it up!

                        </h3>
                        <p>
                            Another tip to remember while selecting the tiles for your home is to choose the right size.
                            These days, tiles are found in many sizes- 300*600 mm, 600*600 mm, 600*800 mm, and so on.

                        </p>
                        <p>
                            You may have heard this a lot- installing large format tiles make your space look bigger.
                            However, we recommend you match the tile size with your room size. Using bigger tiles in a
                            small room may make it appear smaller. For small-sized rooms, go for medium-sized tiles.

                        </p>
                        <p>
                            Before you choose the tile size,

                        </p>
                        <ul class="ml-4">
                            <li>
                                <p>Carefully consider your room proportions.
                                </p>
                            </li>
                            <li>
                                <p>If in doubt, go with the basic rule of “bigger tiles on the floor and smaller tiles
                                    on the wall.”
                                </p>
                            </li>
                            <li>
                                <p>You can also install the same-sized tiles on both wall and floor.
                                </p>
                            </li>

                        </ul>

                        <p>
                            <b> A piece of advice:</b> Do not put small tiles on the floor and big ones on the walls, as
                            it can
                            make your room appear disproportionate.


                        </p>
                    </div>
                </div>


                <div class="col-lg-12 col-sm-12 mb-3 mt-3">
                    <div class="cta_box text-center">
                        <div class="section_h2">
                            <img src="{{url_for('static', filename='assets/images/about/line2.png')}}" class="line">
                        </div>

                        <br>
                        <p class="cta_p px-5">
                            With Asia's biggest porcelain slab size of 1600x3200 mm, Lioli Ceramica offers a wide
                            selection of <a href='{{url_for("product.size")}}'>porcelain slabs in different sizes</a>
                            for your home, office, and commercial space.


                        </p>


                    </div>
                </div>

                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            07. The perfect finish

                        </h3>
                        <p>
                            For the texture and finish, it’s your choice. With digital printing technology, it is easy
                            to create any pattern on a tile. Matte finish or glossy tiles- either is excellent as long
                            as the tiles are installed according to the space.

                        </p>
                        <p>
                            For example,

                        </p>

                        <ul class="ml-4">
                            <li>
                                <p>
                                    Glossy tiles are shiny and elegant; they also make the room look bigger. However,
                                    such tiles are not ideal for bathrooms or kitchens as they get slippery when wet.

                                </p>
                            </li>
                            <li>
                                <p>
                                    Matt finish tiles are non-slippery, stain-resistant, and durable, reducing the risk
                                    of falling in wet areas like bathrooms.

                                </p>
                            </li>
                            <li>
                                <p>
                                    It is advised to go for sturdy and anti-skid tiles for high-traffic areas.

                                </p>
                            </li>
                            <li>
                                <p>
                                    Tiles with natural terracotta, concrete or stone finishes can look rustic while
                                    ensuring long-term functionality.

                                </p>
                            </li>
                        </ul>
                    </div>
                </div>




                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            08. Choose the grout

                        </h3>
                        <p>
                            Don’t forget the grout when selecting the tiles. Choose the right grout colour to get the
                            result you desire.

                        </p>
                        <p>
                            Usually, people choose a grout that matches the tile; this gives a clean look to the tiles
                            with a subtle effect. But, if you want a dramatic effect, go for contrasting grout to make
                            your tiles stand out.

                        </p>
                        <p>
                            <b>TIP</b>: Make sure you seal the grout to prevent staining.

                        </p>
                    </div>
                </div>




                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            09. The charm of colours

                        </h3>
                        <p>
                            Whether you go for lighter shades or darker ones, selecting the tile colour is up to you.
                            However, you can consider some basic rules before going for the colour.

                        </p>
                        <ul class="ml-4">
                            <li>
                                <p>
                                    Light colour schemes create a sense of spaciousness while adding an intimate look to
                                    your space.
                                </p>
                            </li>
                            <li>
                                <p>
                                    To make your area feel warm, opt for dark tiles. They hide the dirt well and are
                                    easier to maintain.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Neutral colours make your space look flexible and compliments the decor and
                                    accessories well.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Lastly, there’s always a mix-and-match option! Take out your creative hat, and plan
                                    out unusual tiling ideas for your home.
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>




                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            10. Do not forget the tile hardness

                        </h3>
                        <p>
                            While browsing for different tile choices, keep the tile hardness in your list. The hardness
                            of tiles is measured on Moh’s scale, and the class ratings measure the tiles’ ability to
                            withstand wear and tear, foot traffic, stain, scratch, and weather conditions.

                        </p>

                        <table class="table table-bordered">
                            <thead>
                                <th>
                                    TILE&nbsp;HARDNESS&nbsp;CLASS
                                </th>
                                <th>
                                    FEATURES

                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>CLASS 1</b>
                                    </td>
                                    <td>
                                        Ideal only for walls.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>CLASS 2</b>
                                    </td>
                                    <td>
                                        Suitable only for walls and light traffic rooms.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>CLASS 3</b>
                                    </td>
                                    <td>
                                        Can be installed in areas with light to medium foot traffic.
                                        Suitable for walls, countertops, and rooms with fewer footfalls.
                                        Not to be used outdoors and in places with high traffic.

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>CLASS 4</b>
                                    </td>
                                    <td>
                                        Beauty and functionality- such tiles work best for almost home areas with medium
                                        to high traffic.


                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>CLASS 5</b>
                                    </td>
                                    <td>
                                        Best choice for high to super high traffic areas. Tiles of class 5 are suitable
                                        for use in homes, offices, and commercial spaces on the interior and exterior.

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>




                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            11. You cannot miss tile porosity

                        </h3>
                        <p>
                            Yet another essential aspect to consider when selecting tiles for your home is knowing the
                            tiles' porosity.


                        </p>
                        <p>
                            In a tile, porosity refers to the ratio of air holes to solids, which determines how much
                            water it absorbs.

                        </p>


                        <ul class="ml-4">
                            <li>
                                <p>
                                    <b>
                                        Non-vitreous-
                                    </b> Tiles with this rating have low density, with a water absorption rate of more
                                    than 7.0 percent. Not recommended for floor use.

                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>Semi-vitreous-</b> Tiles in this category have medium density with a tile
                                    absorption of 3-7 percent. Suitable for light traffic areas.

                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>Vitreous-</b> The water absorption rate is more than 0.5 but less than 3.0
                                    percent, making the tiles denser and long-lasting.

                                </p>
                            </li>
                            <li>
                                <p>
                                    <b> Impervious-</b> Tiles in this category have a water absorption rate of less than
                                    0.5 percent and are extremely durable and dense. Such tiles are perfect for
                                    high-traffic areas. Porcelain tiles are usually found in this category and are ideal
                                    for residential and commercial purposes.

                                </p>
                            </li>
                        </ul>
                        <p>
                            It's necessary to choose less water-absorbing tiles for longer life, especially for
                            moisture-prone areas like bathrooms, kitchens, and laundry areas. <b>Hence, before selecting
                                tiles, check their ratings as well.</b>

                        </p>
                    </div>
                </div>




                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            12. Go for slip-resistant tiles

                        </h3>
                        <p>
                            Usually, normal tiles get slippery when wet, which could be a concern for wet areas like
                            swimming pools, bathrooms, and shower areas. You don't want any accidents to occur, do you?
                        </p>
                        <p>
                            Hence the slip-resistant tiles. Such tiles have an extra coating that reduces the slipping
                            risk and works amazingly well in areas exposed to water and moisture.
                        </p>
                        <p>
                            If you are finding tiles for your bathroom or other wet areas, choose anti-slip tiles for
                            your safety. Below are some of the tiles you can choose from.

                        </p>
                        <ul class="ml-4">
                            <li>
                                <p>
                                    Porcelain or Ceramic tiles- Both are good options in terms of durability and finish.
                                    Make sure you choose slip-resistant tiles.

                                </p>
                            </li>
                            <li>
                                <p>
                                    Small-sized tiles- Installing small tiles like the mosaic creates more grout lines,
                                    creating unique textures and patterns; these grout lines also offer good slip
                                    resistance.

                                </p>
                            </li>
                            <li>
                                <p>
                                    Natural stone tiles- nature always provides us with the best! To complement the
                                    interior and exterior of your home, you can use slate, travertine, terrazzo, or
                                    stone finish tiles.

                                </p>
                            </li>
                        </ul>
                    </div>
                </div>





                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            13. Choose porcelain hardwood tiles instead of natural wood

                        </h3>
                        <p>
                            Love the texture of hardwood tile for your home's rustic yet earthy vibe?

                        </p>
                        <p>
                            Though hardwood tiles are in trend for their texture, designs and look all the time,
                            maintaining them may be a hassle. If you don’t want to deal with such maintenance,
                            wood-finish porcelain tiles are your saviour.

                        </p>
                        <ul class="ml-4">
                            <li>
                                <p>
                                    Highly durable
                                </p>
                            </li>
                            <li>
                                <p>
                                    Resistant to scratches, stains, and moisture
                                </p>
                            </li>
                            <li>
                                <p>
                                    Hassle-free cleaning and maintenance
                                </p>
                            </li>
                            <li>
                                <p>
                                    Highly versatile- can be used in any room of your home.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Natural and sleek appearance at a lower cost compared to real hardwood.
                                </p>
                            </li>

                        </ul>
                        <p>
                            Wood finish porcelain tiles give the same vibe as real wood, minus the maintenance stress.

                        </p>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 mb-3 mt-3">
                    <div class="cta_box text-center">
                        <div class="section_h2">
                            <img src="{{url_for('static', filename='assets/images/about/line2.png')}}" class="line">
                        </div>

                        <br>
                        <p class="cta_p px-5">
                            Give your home an alluring look with wood-finish porcelain tiles from Lioli Ceramica. We
                            create tiles that outperform natural wood and do our part in conserving the environment!

                        </p>


                    </div>
                </div>


                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            14. Plan ahead

                        </h3>
                        <p>
                            Now that you edge closer to buying tiles for your home, calculate how many tiles you will
                            need and add an extra 10% more than you need. These additional tiles will take care of any
                            chips, cuts, or breakage that happen during installation or at a later stage.

                        </p>
                        <p>
                            <b>TIP</b>: Decide how much you want to spend so that choosing the floor tiles will be
                            easier.

                        </p>
                    </div>
                </div>



                <div class="col-lg-12 col-sm-12">

                    <div class="blog-para">
                        <h3>
                            15. Leave the installation to the experts

                        </h3>
                        <p>
                            Unless you are well aware of tile laying or ready to try and experiment, we suggest you get
                            professionals to install your tiles.

                        </p>
                        <p>
                            <b>
                                Get a good tile contractor for your home. An expert will do more justice to create the
                                look you desire than you can.

                            </b>
                        </p>
                        <p>
                            Now that you are ready to install the tiles, keep these tips in mind.

                        </p>
                        <ul class="ml-4">
                            <li>
                                <p>
                                    Hire a professional tile installer.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Choose the right grout to create the right look for your space.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Get the right tile adhesive as well.
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>





                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            The Endnote

                        </h2>
                        <p>
                            <b>
                                Upscale your place and make it no less than a palace with the right tiles.

                            </b>

                        </p>
                        <p>
                            We hope these 14 tips will help you find the perfect floor and wall tiles for your home.
                            These useful tips will guide you to make the right choice without overwhelming you!


                        </p>
                        <p>
                            If you still need any help or want any query solved, feel free to contact our amazing team
                            of tile experts; we will help you through every step of tile selection. <a
                                href='{{url_for("main.contact")}}'>Get in touch with us!</a>

                        </p>
                    </div>
                </div>


                <div class="col-md-12 mb-4">
                    <div class="blog-para">
                        <h2 class="section_h2" data-aos="fade">
                            GET THE PERFECT TILES FOR YOUR HOME WITH LIOLI CERAMICA

                        </h2>
                        <p>
                            We hope our ideas will help you give your living room a classy, charming, and inviting feel!
                        </p>
                        <p>
                            Selecting tiles can be exhausting, but with Lioli Ceramica, it doesn’t have to be!
                        </p>
                        <p>
                            As India’s trustworthy porcelain slab manufacturer, Lioli Ceramica is known for delivering
                            the highest quality tiles for residential and commercial spaces.
                        </p>
                        <p>
                            Made with the finest grade material, our experts integrate expertise with innovation and
                            world-class technology to deliver the “marvellous tiling experience” to our client base
                            spread across the globe.
                        </p>
                        <p>
                            Browse through our supremely-designed collection of porcelain tiles and choose from the
                            endless options!
                        </p>
                        <p>
                            Open the door to an innovative tile world with us, Lioli Ceramica.

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning.
                                Boasting the attributes of being scratch, stain, and water-resistant installing
                                porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}
