{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        KITCHEN COUNTERTOPS 2022 DESIGN INSPIRATIONS
                    </h2>
                </div>
            </div>
        </div>
        <div class="container"  style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog2/02.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            Do you want to change the look of your kitchen in 2022? Then start with the kitchen countertops, the heart of the kitchen.
                        </p>
                        <p>
                            Obviously, if you are investing a hefty amount of money in renovations or merely just thinking about it, the last thing you want is to make your kitchen countertops look outdated.
                        </p>
                        <p>
                            So, here we are to bring you some cool kitchen countertop designs that will create a bang in 2022. This list is based on the latest trends and some experts which can make your kitchen look beautiful, and with the trend.
                        </p>
                    </div>
                </div>
                <div class="col-12 mb-5 border_bottom">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Contrast theme
                                </h3>
                                <p>
                                    Why contrast? Plain colour in the whole kitchen won’t give a “wow” factor every time, well in some cases it may be but mostly not.
                                </p>
                                <p>
                                    Nowadays homeowners are looking forward to two-tone themes, where cabinets are of light or beige colours wherein the countertops are dark themed. The most famous contrast theme is black and white.
                                </p>
                                <p>
                                    Where black countertops are contrasted with white cabinets giving it a total new look. However it’s not only colour, but finishes too add a wow factor to kitchens.
                                </p>
                                <p>
                                    In terms of finish and material, wood is most popular. The natural warmth and coziness of wood makes it a favorite for many homeowners. </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Unusual sinks
                                </h3>
                                <p>
                                    Sinks have been an official part of kitchen countertops. When your kitchen is modernizing every year then, and sinks are becoming trendier and eye-catchy every year. A modern sink can complement the design of your kitchen countertop.
                                </p>
                                <p>
                                    Those were the times where integrated sinks were the talk of the town, well now that’s all in the past. 2022 is bringing us fresh and new ideas for lovely kitchen countertop designs.
                                </p>
                                <p>
                                    Homeowners are looking for more options beyond ceramic and stainless steel, they are taking steps towards marble, concrete, and granite. Adding more details to make them more appealing.
                                </p>
                                <p>
                                    However, Matt Black sinks, as well as gold and brass colours sink fixtures or faucets would be something different from boring silver metal sinks.
                                </p>
                                <p>
                                    Sinks are becoming bigger than the countertops. Oversized sinks offer great functionality and make your kitchen look more elegant and stylish.
                                </p>
                                <p>
                                    The elegant styles of a kitchen are what everyone wants. Hope to see all these sinks as one of the kitchen countertops trends in 2022.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Patterns and veining to add character
                                </h3>
                                <p>
                                    It was a time when plain kitchens were famous and were in trend. But now, people want character and style for their countertops. Thanks to technology we are never out of creative solution patterns.
                                </p>
                                <p>
                                    You have a wide variety of different patterns with colours adding character to your kitchen.
                                </p>
                                <p>
                                    Materials like quartz are moulded to look like natural stones, such as granite, marble, and limestone. You can incorporate veins with captivating patterns to make it unique.
                                </p>
                                <p>
                                    You can match up these finishes with flooring, walls, cabinetry, and backsplashes. This will create a nice background to click pictures of your food, for your Instagram stories.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Backsplashes are in trend
                                </h3>
                                <p>
                                    The first thing that catches your attention in any kitchen is their backsplashes. They are the main focal point of the kitchen, and 2022 has a lot in its pocket to make them more appealing and aesthetic.
                                </p>
                                <p>
                                    Basic tiles are not more of an option. They are out of fashion now, they are replaced with slabs with different patterns and styles. There is no limit to colour choices. You can choose the colour as per your taste.
                                </p>
                                <p>
                                    As backsplashes are not the main area to work in, it opens the window for many materials- porous stones, marble, quartz, porcelain, wood, copper, glass, ceramic and still the list goes on!
                                </p>
                                <p>
                                    Large backsplashes are taking over more and more kitchen wall space. They are extended from the countertop towards the ceiling.
                                </p>
                                <p>
                                    Backsplashes are the best way to dictate colour fashion, and they reflect the light which makes your kitchen look brighter and spacious.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Natural materials
                                </h3>
                                <p>
                                    Sustainable natural materials are still in demand, and they are not going anywhere soon. And natural materials for your kitchen countertop designs are just the cherry on top. They just make your kitchen look more appealing and give a trendy look to your kitchen.
                                </p>
                                <p>
                                    Reclaimed wood, marbles, granite, are a few of the favourite choices of homeowners to give their kitchen a new look.
                                </p>
                                <p>
                                    If you want a more eco-friendly kitchen, you can opt for a glass surface. Glass surface is made up of 3/4th of industrial waste glass and mixing materials, mostly white cement.
                                </p>
                                <p>
                                    These glass surfaces are non-porous, durable, won’t stain that much, and are easy to maintain. You have a range of colour options to choose from neutrals to dark tones.
                                </p>
                                <p>
                                    Complete the look of your kitchen with eco-friendly paints on the walls.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Quartz vs porcelain
                                </h3>
                                <p>
                                    Quartz and porcelain both are the best options for your kitchen countertop designs. But which one is the best for your kitchen countertops? Here are some points to consider before coming to any conclusions:
                                </p>
                                <p>
                                    Both options are highly durable and can replace natural stones in your kitchen. But when it comes to heat resistance porcelain wins the race. And quartz can loses its colour as it ages, while porcelain remains the same throughout its whole lifecycle. </p>
                                <p>
                                    Quartz and porcelain have different colour options to choose from.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Outdoor countertops
                                </h3>
                                <p>
                                    A kitchen in your backyard! The outdoor kitchens are in trend. Just make sure to build your kitchen countertop near your house or in the porch area so you don’t have to worry about the roof over your head. The outdoor kitchen expands your living area.
                                </p>
                                <p>
                                    Just don’t put all your efforts into visuals of your kitchen countertops, for the outdoor kitchen, it is a big NO-NO. Your priority should be durability and not looks.
                                </p>
                                <p>
                                    You have a myriad of options to select from. Choose one according to your style. Avoid synthetic materials like quartz, as they lose their colour when subjected to UV rays.
                                </p>
                                <p>
                                    Pick a non-porous natural stone like granite or soapstone. You can also go for concrete and tiles options.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Concrete is in demand
                                </h3>
                                <p>
                                    Want to give your kitchen an industrial look? Then for you, concrete countertop designs are the best option. This will give your kitchen an industrial yet modern look.
                                </p>
                                <p>
                                    For many homeowners, concrete countertops are not even on their wishlist, but they are as durable as natural stones. They can be functional and add aesthetic value to your kitchen for decades. Reinforcement concrete with glass fibre has a very low chance of cracking.
                                </p>
                                <p>
                                    The biggest advantage of concrete is that you can customize it as you wish. You can polish, embed and add different finishes to look like natural stones.
                                </p>
                                <p>
                                    But they are quite costly and can get easily stained, but you can overcome the staining issue by applying sealers.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Dark, bold and dramatic
                                </h3>
                                <p>
                                    Black is classic. Black colour represents elegance. Black countertops are still one of the favourite choices of homeowners, and they can be contrasted with light coloured cabinets if you want, otherwise, the whole black theme is making its way onto the top list.
                                </p>
                                <p>
                                    Dark and bold kitchen countertops will make a statement in kitchen design trends in 2022. It may look Gothic, but it can easily blend with the other decors.
                                </p>
                                <p>
                                    Dark countertops whether they are matte or glossy, make your beautiful crockery items pop out, and can give an aesthetic view of the kitchen.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Porcelain best way to save
                                </h3>
                                <p>
                                    Quartz and granite can be the best option, but if you want to save and want the same functionality as granite and quartz, “porcelain” is the only solution.
                                </p>
                                <p>
                                    The first thing you want in kitchen countertop material is its functionality. Porcelain ranks in that, they are durable, hard to resist chips, scratches and stain-resistance. Additionally, they are more heat resistant than any other material.
                                </p>
                                <p>
                                    Well, porcelain is mostly made up of china clay. China clay is heated at a higher temperature along with other materials which produce porcelain material.
                                </p>
                                <p>
                                    As you have observed, quartz and marble lose their original colour when exposed to UV rays, while porcelain never loses its originality. And you can choose from a varied range of products.
                                </p>
                                <p>
                                    Lioli Ceramica is a porcelain manufacturing company. Specialized in making porcelain slabs of premium quality, we have a varied range of porcelain slabs of different sizes and colours to make your kitchen look more lively.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    White to give a lavish look
                                </h3>
                                <p>
                                    White colour represents purity. And white kitchens are not thinking of leaving this list yet! But unlike 2021, they are not only white shining, glossy surfaces anymore. There is more.
                                </p>
                                <p>
                                    Matte and textured appearances have made their entry. Neutral and white surfaces are not more sleek and shiny materials but now they have a ting of the natural element in them. To make it look more classy and visually pleasing.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Coloured marbles
                                </h3>
                                <p>
                                    Either as a kitchen countertop or a different island, marble makes a way to come on the list.
                                </p>
                                <p>
                                    But this time marble is a bit different. Unlike its common white, black, and grey shades, it has a myriad of colour shades options from pale pinks to emerald greens.
                                </p>
                                <p>
                                    Make a different style statement with exquisite colour patterns of marble kitchen countertop design ideas.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Final thoughts!
                                </h3>
                                <p>
                                    Countertops have seen most of the design changes from generation to generation, according to the homeowners for their perfect cooking space.
                                </p>
                                <p>
                                    And in these times homeowners have a variety of choices from size to colour and materials to suit their style the best.
                                </p>
                                <p>
                                    Nonetheless, some kitchen countertop design ideas will never leave like granite, marble, and quartz. This will still be here after decades.
                                </p>
                                <p>
                                    Lioli Ceramica is a porcelain slab manufacturing company in Morbi, Gujarat having a varied range of marble stones and porcelain slabs to make your kitchen countertop more appealing and attractive.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog4/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Porcelain tiles vs. Ceramic tiles, Which is Better for your Need?
                            </h3>
                            <p>
                                Ceramic or porcelain tiles are aesthetically pleasing and versatile. It might be difficult for you to decide whether to choose porcelain tiles or ceramic tiles ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside4")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Keep Bathroom Floor Dry: Anti-Slip Bathroom Floor
                            </h3>
                            <p>
                                Bathrooms are one of the important parts of the home. When you decide about flooring for your bathroom, you make sure it suits your decor and is also aesthetically ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
$(".box-video").click(function() {
    $('iframe', this)[0].src += "&amp;autoplay=1";
    $(this).addClass('open');
});
</script>
{% endblock %}