{% extends "layout.html" %}
{% block content %}
<div id="blog-inside">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 px-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        How To Clean Grout: 7 Efficient Ways To Renew Old Grout As New
                    </h2>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-preview">
                        <img src="{{url_for('static', filename='assets/images/blog/blog6/02.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            Tiles are beautiful, sturdy, and have the best floors and wall options. It gets dirty and
                            even cleaned with just minor efforts. But, the Grout!

                        </p>
                        <p>
                            While tiles are the easiest to clean, grout isn’t. You need to spend your lovely afternoon
                            cleaning those greasy lines between your tiles.

                        </p>
                        <p>
                            One good thing about cleaning the grout is it is not an expensive process. It requires time
                            but not money. And with some effort, you can give your grout a brand new look. So here in
                            this blog, we have mentioned some of the most efficient ways to clean grout.

                    </div>
                </div>
                <div class="col-12 col-sm-12 mb-0 mt-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        What Is Grout?

                    </h2>
                </div>
                <div class="col-lg-12 col-sm-12 mb-5 mt-0">
                    <div class="blog-para">
                        <p>
                            Before we begin our story of “how to clean grout,” here is some basic information about
                            grout.
                        </p>
                        <p>
                            <i>“Grout is the dense fluid made up of cement, water, sand and sometimes colouring pigments
                                to establish a reinforcement between two tiles.”</i>
                        </p>
                        <p>
                            So in layman’s terms, grout works as a sealing joint between two tiles. They come in
                            different colours and types. So let’s get more understanding of grouts by looking at their
                            types:


                        </p>

                    </div>
                </div>
                <div class="col-12 mb-5 border_bottom">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Sanded Grouts:

                                </h3>
                                <p>
                                    These grouts are used to fill up wider spaces for more than ⅛ inch up to 1 inch.
                                    Sanded grouts are made up of cement, and you can feel grits between them, making
                                    them a perfect choice for heavily trafficked floors. These are harder to clean.

                                </p>

                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Unsanded Grouts:

                                </h3>
                                <p>
                                    These are made up of cement and have a smooth surface. Unsanded grouts are used to
                                    fill up small spaces like 1/16 inch. These are appropriate choices for wall tilings.

                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Epoxy Grouts:

                                </h3>
                                <p>
                                    These are more water resistant as compared to cement grouts. They are more robust
                                    and can survive longer in harsh environments.

                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <p>
                                    Now you will have a question: why should I clean grout? Is it even worth timing?
                                    Yes!
                                </p>
                                <p>
                                    Cleaning grouts regularly increases the lifespan of your tiles. Due to their porous
                                    nature, they tend to attract dirt easily, which accumulates at the surface and
                                    damages the tiles.
                                </p>
                                <p>
                                    So instead of reinstalling new tiles and spending a chunk of money, you can invest
                                    some of your time cleaning grout lines between the tiles.
                                </p>
                                <p>
                                    Moreover, cleaning the stained grouts will give a better overall appearance to the
                                    room.

                                </p>

                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Tools You Need To Clean Grout

                                </h3>

                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Grout brush/ toothbrush (with soft bristles)

                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Spray bottle

                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Mould remover

                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Vinegar
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Hydrogen peroxide (can be easily available at a pharmacy)

                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Steam mop

                                        </p>
                                    </li>


                                    <li>
                                        <p>
                                            Baking soda
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Dish soap
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Water
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Bleach
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Microfiber cloth or rag
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Gloves
                                        </p>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    7 Ways On How To Clean Grout
                                </h3>
                                <p>
                                    Once you have decided to use your holiday and increase the lifespan of your tiles by
                                    cleaning tile grouts, the next question you will get is how can I clean grout? Don’t
                                    worry. We got you covered, and here we have the 7 most efficient ways to clean
                                    grouts.


                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <h3>
                                            Cleaning Grouts By Scrubbing

                                        </h3>
                                        <p>
                                            Scrubbing is one of the most efficient ways to make your grouts look clean
                                            and neat. For this method, you will need a brush and lukewarm water.
                                        </p>
                                        <p>
                                            Spray warm water over grouts and start scrubbing with the help of a brush in
                                            a circular motion and let it air dry. You can use grout brushes readily
                                            available in supermarkets or opt for old toothbrushes.
                                        </p>
                                        <p>
                                            Make sure to use a medium bristle nylon brush to avoid damage to the grout
                                            and tiles

                                        </p>
                                    </li>



                                    <li>
                                        <h3>
                                            Use Dish Soap Solution

                                        </h3>
                                        <p>
                                            A dish soap? Yes, you read it right. Your dish soap can do the magic in
                                            cleaning grouts along with the dishes.
                                        </p>
                                        <p>
                                            You have to add dish soap to water and make a solution, then mop the floor
                                            or wall with a microfiber cloth/mop as per your convenience.
                                        </p>

                                    </li>


                                    <li>
                                        <h3>
                                            Use Vinegar And Water

                                        </h3>
                                        <p>
                                            For mild grout stains, the best option is vinegar. Vinegar will help to
                                            restore your grout to its original healthy state.
                                        </p>
                                        <p>
                                            You need to dilute the vinegar with equal parts of lukewarm water. Spray it
                                            in the grouts and let it stand for 5-7 minutes.
                                        </p>
                                        <p>
                                            Take a brush and start scrubbing. Then rinse it. Voila! You are done.

                                        </p>
                                    </li>



                                    <li>
                                        <h3>
                                            Use Baking Soda And Vinegar

                                        </h3>
                                        <p>
                                            Want to make your grouts shine again? Baking soda and vinegar can do the
                                            work. Here is what to do:
                                        </p>
                                        <ul class="ml-4">
                                            <li>
                                                <p>Mix baking soda and water into a bowl, and make a thick paste.</p>
                                            </li>

                                            <li>
                                                <p>Also, prepare a solution of vinegar with equal parts of warm water.
                                                    Fill this solution in a spray bottle. </p>
                                            </li>
                                            <li>
                                                <p>Apply baking soda paste on grout lines. </p>
                                            </li>
                                            <li>
                                                <p>Spray the vinegar-to-water solution on the paste.</p>
                                            </li>
                                            <li>
                                                <p>The mixture will start foaming once it stops, scrub with the brush.
                                                </p>
                                            </li>
                                            <li>
                                                <p>Rinse it with plain water.</p>
                                            </li>
                                            <li>
                                                <p>Dry it with a micro-fibre cloth or a rag. </p>
                                            </li>

                                        </ul>
                                    </li>


                                    <li>
                                        <h3>
                                            Use Hydrogen Peroxide

                                        </h3>
                                        <p>
                                            Stains can be tricky sometimes, and you need more than just a dash of white
                                            vinegar in this situation. Hydrogen peroxide can be your cleaning partner.
                                            Follow these steps to have clean tile grout.

                                        </p>
                                        <p>
                                            <i>
                                                <b>WARNING</b>: Use gloves when using Hydrogen peroxide, as it can cause
                                                skin irritation and allergy.

                                            </i>
                                        </p>
                                        <ul class="ml-4">
                                            <li>
                                                <p>
                                                    Mix hydrogen peroxide with baking soda into a bowl and form a thick
                                                    paste
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    Apply it to grout with the help of a brush and let it sit for a
                                                    further 7-10 minutes.
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    Scrub the grout thoroughly with a brush.
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    Repeat steps 2 and 3 again if the grout is still not clean.
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    Use a microfibre cloth or mop to wipe the area with warm water.
                                                </p>
                                            </li>

                                        </ul>
                                    </li>



                                    <li>
                                        <h3>
                                            Steam Clean For Hard Stains

                                        </h3>
                                        <p>
                                            Thinking of any other method to remove those stains from the grout easier
                                            without scrubbing? Here it is! Steam Cleaning.

                                        </p>
                                        <p>
                                            If you have a big area to cover, you don’t want to scrub for the whole day;
                                            that’s when steam cleaners come to the rescue. You can easily buy steam
                                            cleaners from amazon or your nearby shops.

                                        </p>
                                        <p>
                                            But before using them, ensure that you have a suitable steamer. A steamer
                                            with medium tank capacity would be fine.


                                        </p>
                                        <p>
                                            Before getting on the cleaning mission, check whether you have fit the grout
                                            brush or not.

                                        </p>
                                        <p>
                                            Sweep or vacuum the floor to remove the dust, and prepare your steamer.
                                            Follow the machine’s guidelines to give your grout tiles a clean and sleek
                                            look.

                                        </p>
                                    </li>





                                    <li>
                                        <h3>
                                            Use Bleach


                                        </h3>
                                        <p>
                                            Make bleach a hero to remove those stubborn grout stain villains. Get your
                                            gloves ready. Whenever you use bleach solutions, ensure to dilute them in
                                            water.

                                        </p>
                                        <p>
                                            You can use bleach in two ways: directly or adding it with baking soda.

                                        </p>
                                        <ul class="ml-4">
                                            <li>
                                                <p>
                                                    Dilute ¾th cup of bleach in 1 gallon of water. Spray the solution on
                                                    the stained grouts. Let it sit for 15 minutes. Take a brush and
                                                    scrub the grout. Rinse it with water.

                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    Take bleach and baking soda, mix them and make a thick paste with a
                                                    toothpaste-like consistency. Apply it on grouts and let it work for
                                                    15 minutes. Start scrubbing and then rinse it with water and let it
                                                    dry.

                                                </p>
                                            </li>
                                        </ul>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    How To Remove Mould From Grouts?
                                </h3>
                                <p>
                                    After following the methods mentioned earlier, if grouts still have black patches,
                                    then congratulations now you have to deal with moulds too. You might be wondering
                                    how to clean grouts with moulds? No worries, it’s simple. Just follow the below
                                    steps:

                                </p>
                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Spray mould remover to the grouts and let it do the magic for a few minutes.

                                        </p>
                                    <li>
                                        <p>
                                            Scrub it with a stiff brush.

                                        </p>
                                        <p>
                                            Clean with lukewarm water.

                                        </p>
                                        <p>
                                            Repeat the process if necessary.

                                        </p>


                                    </li>
                                </ul>
                                <p>
                                    Or you can also use bleach, as mentioned above.

                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    Tips to clean grout:


                                </h3>

                                <ul class="ml-4">
                                    <li>
                                        <p>
                                            Do not use much water on grouts, as they are porous materials they tend to
                                            absorb them, which might affect the tiles.

                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Clean grout regularly between the span of 4-6 months as per your preference.

                                        </p>
                                        <p>
                                            Bleach can be one of the most effectful ways, but using it for a longer time
                                            can cause discolouration and weaken the strength of the grout. So use it
                                            wisely. It is preferable not to use bleach.

                                        </p>
                                        <p>

                                            If the grouts are discoloured or stained deeply, and if they are beyond
                                            repair, then consider changing them.

                                        </p>

                                    <li>
                                        <p>
                                            Seal the grout with a grout sealer to keep it looking new for a longer time.

                                        </p>
                                    </li>



                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="blog-para">
                                <h3>
                                    End Note:

                                </h3>
                                <p>
                                    At the end of the day, you will get clean grout. We hope we are able to answer all
                                    your queries with this blog. Remember that when cleaning grout, start with mild
                                    steps to remove the stain.
                                </p>
                                <p>
                                    If the stain persists, only then go for the hard steps.
                                </p>
                                <p>
                                    Which method are you going to try first? Contact us if you have any further queries
                                    regarding this topic, it would be grateful for us to help you.
                                    Would you like to know more about deep cleaning your tile? Browse through our
                                    article- <a href='{{url_for("blog.blog_inside5")}}'>How to clean porcelain tiles</a> and keep your abode squeaky clean!
                                </p>
                                <p>
                                    As a pioneer porcelain slab manufacturing company in India, <b>Lioli</b> is a trusted name
                                    in the porcelain tile industry. We ensure to make every slab an epitome of
                                    perfection and elegance with our state-of-the-art technology and designs. <a href='{{url_for("main.contact")}}'>
                                        Get in
                                    contact
                                    </a> with us to decorate your abode and give it an elegant look.


                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Latest Blogs
                    </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog1/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                How To Clean Porcelain Tiles
                            </h3>
                            <p>
                                Porcelain is a highly durable flooring that doesn't need much maintenance and cleaning. Boasting the attributes of being scratch, stain, and water-resistant installing porcelain tiles provides an advantage over ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside5")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Why Porcelain Tiles are Better Than Natural Stones.
                            </h3>
                            <p>
                                Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they
                                spend a lot of time deciding between using natural stone or porcelain tiles...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside3")}}'>
                                    Read More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mt-0">
                    <div class="blogs">
                        <div class="blog-image">
                            <img src="{{url_for('static', filename='assets/images/blog/blog2/01.jpg')}}" alt="">
                        </div>
                        <div class="blog-text">
                            <h3>
                                Kitchen Countertops 2022 Design Inspirations
                            </h3>
                            <p>
                                Do you want to change the look of your kitchen in 2022? Then start with the kitchen
                                countertops, the heart of the kitchen. Obviously, if you are investing a hefty ...
                            </p>
                            <button class="btn">
                                <a href='{{url_for("blog.blog_inside2")}}'>
                                    Read More
                                </a> </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>
<script>
    $(".box-video").click(function () {
        $('iframe', this)[0].src += "&amp;autoplay=1";
        $(this).addClass('open');
    });
</script>
{% endblock %}
