{% extends "layout.html" %}
{% block content %}
<div id="index">
    <section class="section_1">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                
                <div class="swiper-slide">
                    <img src="{{url_for('static', filename='assets/images/index/banner/Damasta_gray1200x2400.jpg')}}" class="slide-img" />
                    <div class="slide-text-right">
                        <div class="text-card text-white">
                            <h1>Damasta Gray</h1>
                            <h4>1200x2400mm</h4>
                            <a href='{{url_for("product.products",size = "1200x2400mm")}}' style="color: inherit;">View Collection</a>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <img src="{{url_for('static', filename='assets/images/index/banner/PIETRA_GREY_&_STATUARIO_NORWELL1200x1200mm.jpg')}}" class="slide-img" />
                    <div class="slide-text-right">
                        <div class="text-card text-white">
                            <h1>Pietra Grey & Statuario Norwell</h1>
                            <h4>1200x1200mm</h4>
                            <a href='{{url_for("product.products",size = "1200x1200mm")}}' style="color: inherit;">View Collection</a>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <img src="{{url_for('static', filename='assets/images/index/banner/ARMANI_GREY_1600x1600mm.jpg')}}" class="slide-img" />
                    <div class="slide-text">
                        <div class="text-card">
                            <h1>Armani Grey</h1>
                            <h4>1600x1600mm</h4>
                            <a href='{{url_for("product.products",size = "1600x1600mm")}}' style="color: inherit;">View Collection</a>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <img src="{{url_for('static', filename='assets/images/index/banner/piastena_1600x3200mm.jpg')}}" class="slide-img" />
                    <div class="slide-text">
                        <div class="text-card">
                            <h1>Piastena</h1>
                            <h4>1600x3200mm</h4>
                            <a href='{{url_for("product.products",size = "1600x3200mm")}}' style="color: inherit;">View Collection</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="section_2">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 pb-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        ABOUT US<span> <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line"> </span>
                    </h2>
                </div>
                <div class="col-12">
                    <p class="section_p mb-3" data-aos="fade-left">
                        With 4 years of redefining interior decor and living, we have set new benchmarks that we’re proud of. Lioli is the leading porcelain slab tile manufacturer in India, located in Morbi.
                    </p>
                    <p class="section_p mb-3" data-aos="fade-left">
                        Providing the most sophisticated porcelain tile solutions with state-of-the-art technology, expertise and innovation, we’ve become a renowned name in the Indian tile industry. With a passion for research and experimentation, rising up to the changing customer needs, styles, architecture and keeping the environment and sustainability at the top of our priority list, Lioli has grown into the largest hub for tile manufacturing and built a legacy.
                    </p>
                    <p class="section_p mb-3" data-aos="fade-left">
                        Our comprehensive range of porcelain slab tiles has been used for interior design demands across the world in homes, commercial spaces, hotels, universities, leisure facilities and more. We’re continuously catering to changing customer needs; simplifying living and styling spaces with high-quality products. At Lioli, we believe tiles are much more than a mere statement of functionality. Every step of the way, from material procurement to final testing, everything is subject to strict quality control so the end result is delight and satisfaction among architects, designers, dealers, contractors and customers.
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section_3">
        <div class="container">
            <div class="row justify-content-center">
                {% for size in sizes %}
                <div class="col-md-4 mb-4">
                    <a href='{{url_for("product.products",size = size.size)}}' style="color: inherit;">
                        <div class="card_size" data-aos="fade-up">
                            <div class="card_size_image">
                                <img src="{{url_for('static', filename='admin/uploads/size/'+size.size_image)}}" alt="">
                            </div>
                            <div class="card_sizes">
                                <p>
                                    {{size.size}} <i class="fas fa-long-arrow-alt-right"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="values " style="background: #f7f7f7;">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 pb-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        WHY LIOLI<span> <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line"> </span>
                    </h2>
                </div>
                <div class="col-12 mb-5">
                    <p class="section_p mb-0" data-aos="fade">
                        Lioli is a leading manufacturer of porcelain slab tiles and is continuously raising the bar with its tech expertise and innovation in the tile industry on a global level. Since our inception in 2016, we’ve been consistently delivering high-quality products with unmatchable customer service. We make living truly mesmerizing with porcelain slab tiles that radiate beauty and exclusivity. Lioli's relentless pursuit has made it achieve a strong foothold in Indian as well as international markets. Our strong vision, team members, expertise and experience make us what we are today <br>
                        - the most prominent porcelain tile manufacturers in Morbi, India.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-left">
                    <div class="values_card">
                        <div class="values_card_img">
                            <img src="{{url_for('static', filename='assets/images/index/diamond.png')}}" />
                        </div>
                        <h5 class="values_card_h5">
                            Elegant Collections
                        </h5>
                        <p class="section_p">
                            Being India’s biggest large-format porcelain tile manufacturer, we take pride in delivering a huge customized range of porcelain slab designs, styles and sizes for all your decor needs. We’re India’s first tile company manufacturing 3200*1600 mm size slabs with the latest Italian technology under the flagship TechnoSLAB.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-left">
                    <div class="values_card">
                        <div class="values_card_img">
                            <img src="{{url_for('static', filename='assets/images/index/value.png')}}" />
                        </div>
                        <h5 class="values_card_h5">
                            True to our values
                        </h5>
                        <p class="section_p">
                            Customer satisfaction is our top priority. Keeping up with the latest trends and customer preferences, Lioli is committed to providing top-notch quality products high on innovation and style through a structured distribution channel and efficient customer service. We keep evolving to amaze.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-left">
                    <div class="values_card">
                        <div class="values_card_img">
                            <img src="{{url_for('static', filename='assets/images/index/research-and-development.png')}}" />
                        </div>
                        <h5 class="values_card_h5">
                            Research & Development
                        </h5>
                        <p class="section_p">
                            We believe in creating art that lasts forever. Our never-ending quest for innovation and providing tile solutions that truly redefine human experiences are what define us. With a robust R&D facility, we constantly explore new opportunities to simplify and mesmerize our customers’ lives through groundbreaking tech and innovation expertise
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_5">
        <div class="container">
            <p class="section_5_p mb-5">
                Explore a wide range of tiles from the largest porcelain tile manufacturing company in India and make your spaces look fascinating as the sky and serene as nature. Lioli was started with a vision to create intriguing & meaningful experiences for customers across the world and set new benchmarks of excellence. Every tile is designed, styled & textured sourcing the finest materials, incorporating our creativity, expertise and world-class technology to create the best in world porcelain slab tiles. Choose your favourite style from our sophisticated marble series that reflects grand aura, natural stone series that brings in the tranquility of nature, wooden series for that elegant rustic look and many more for all your decor needs.
            </p>
            <div class="section_5_button text-center">
                <button class="btn">
                    <a href='{{url_for("main.contact")}}' style="color: inherit;">Request a call back</a>
                </button> &nbsp;&nbsp;&nbsp;
                <span>Or call us at <a href="telto:+91 22 62807474">+91 22 62807474</a></span>
            </div>
        </div>
    </section>
    <section class="section_6 ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-5 pb-2 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        OUR FAVOURITES<span> <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line"> </span>
                    </h2>
                </div>
                <div class="section_6_favourite ">
                    <a href='{{url_for("product.product_search_inside",product_id=49,product_name='Afyon White')}}' style="color: inherit;">
                        <div class="section_6_product_img" data-aos="zoom-in">
                            <img src="{{url_for('static', filename='assets/images/index/favourite/AFYON0WHITE-F2.jpg')}}" />
                        </div>
                        <h5>
                            Afyon White
                        </h5>
                    </a>
                </div>
                <div class="section_6_favourite">
                    <a href='{{url_for("product.product_search_inside",product_id=189,product_name='Saint Laurent')}}' style="color: inherit;">
                    <div class="section_6_product_img" data-aos="zoom-in">
                        <img src="{{url_for('static', filename='assets/images/index/favourite/SAINT-LAURENT.jpg')}}" />
                    </div>
                    <h5>
                        Saint Laurent
                    </h5>
                </a>
                </div>
                <div class="section_6_favourite">
                    <a href='{{url_for("product.product_search_inside",product_id=69,product_name='Calacutta Borghini')}}' style="color: inherit;">
                    <div class="section_6_product_img" data-aos="zoom-in">
                        <img src="{{url_for('static', filename='assets/images/index/favourite/CALACUTTA-BORGHINI-F1.jpg')}}" />
                    </div>
                    <h5>
                        Calacutta Borghini
                    </h5>
                    </a>
                </div>
                <div class="section_6_favourite">
                    <a href='{{url_for("product.product_search_inside",product_id=68,product_name='Calacutta Bianco Oro')}}' style="color: inherit;">                   
                    <div class="section_6_product_img" data-aos="zoom-in">
                        <img src="{{url_for('static', filename='assets/images/index/favourite/CALACUTTA-BINACO-ORO.jpg')}}" />
                    </div>
                    <h5>
                        Calacutta Bianco Oro
                    </h5>
                    </a>

                </div>
                <div class="section_6_favourite">
                    <a href='{{url_for("product.product_search_inside",product_id=186,product_name='Meridiana Marron')}}' style="color: inherit;">
                    <div class="section_6_product_img" data-aos="zoom-in">
                        <img src="{{url_for('static', filename='assets/images/index/favourite/MERIDIANAMARRONA.jpg')}}" />
                    </div>
                    <h5>
                        Meridiana Marron
                    </h5>
                </a>
                </div>
                <div class="section_6_favourite">
                    <a href='{{url_for("product.product_search_inside",product_id=185,product_name='Claros Mocha')}}' style="color: inherit;">
                    <div class="section_6_product_img" data-aos="zoom-in">
                        <img src="{{url_for('static', filename='assets/images/index/favourite/CLAROS-MOCHAF1.jpg')}}" />
                    </div>
                    <h5>
                        Claros Mocha
                    </h5>
                </a>
                </div>
                <div class="col-12 mb-5 pt-0 text-center">
                    <div class="section_6_button text-center" data-aos="fade">
                        <button class="btn">
                           <a href='{{url_for("product.size")}}' style="color: inherit;">View All Collections</a> 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-5 pb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        <span> <img src="{{url_for('static', filename='assets/images/index/lioli_ceasaro.png')}}" style="object-fit: contain;height: 40px;width: 100%;object-position: center;"> </span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-md-0 mb-5 col-12" data-aos="fade-right">
                    <div class="video-wrapper">
                        <div class="video-container" id="video-container">
                            <video controls id="video" preload="metadata" poster="{{url_for('static', filename='assets/images/index/Video_Banner.png')}}">
                                <source src="{{url_for('static', filename='assets/videos/Liolicaesaestone.m4v')}}" type="video/mp4">
                            </video>
                            <div class="play-button-wrapper">
                                <div title="Play video" class="play-gif" id="circle-play-b">
                                    <!-- SVG Play Button -->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                        <path d="M40 0a40 40 0 1040 40A40 40 0 0040 0zM26 61.56V18.44L64 40z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-auto col-12" data-aos="fade-left">
                    <div>
                        <h2 class="section_h2" data-aos="fade">
                            <span> <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line"> </span>
                        </h2>
                        <br>
                        <p class="section_p mb-5 pb-4">
                            Lioli is known worldwide for its premium porcelain tile slabs, while Caesarstone is a lifestyle-driven producer of high-end engineered surfaces-a powerful collaboration in 2020 of two dynamic brands accomplishing their mission to become the first choice for countertops around the world. Lioli’s advanced manufacturing technology and Caesarstone’s award-winning designs and development have set a new benchmark in the tile manufacturing world. This acquisition has enabled Caesarstone to hold a significant position in the porcelain category and Lioli’s state-of-the-art porcelain operations pave a way to accelerate growth strategy enhancing the experiences of customers and business partners worldwide.
                          
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="explore">
        <div class="container">
            <div class="row">
                <div class="col-md-8" data-aos="fade-right">
                    <h2 class="explore_head">
                        EXPLORE OUR WIDE <br> RANGE OF CATALOGUE
                    </h2>
                    <p class="section_p">
                        We are Lioli, India’s biggest slab tile manufacturer. We combine art, elegance, natural-inspired designs to produce for our customers porcelain slab tiles that are durable, hold prestige and add a personal touch to your spaces. Our collaboration with the best tile designers & engineers ensures our products are always top-quality, never making you go out of style. Browse our tile collection for unlimited design ideas to spruce up your home or commercial space. From minimal to bold and rustic to modern, go for an ultra-designer look with our breathtaking tile collection.
                    </p>
                    <div class="explore_button">
                        <button class="btn">
                            <a href='{{url_for("main.download")}}' style="color: inherit;">  Download Catalogue </a>
                        </button>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up">
                    <div class="explore_images">
                        <img src="{{url_for('static', filename='assets/images/index/explore.png')}}" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-5 pb-5 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        BLOGS<span> <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line"> </span>
                    </h2>
                </div>
                <div class="col-md-6 mb-5">
                    <a href='{{url_for("blog.blog_inside4")}}'style="color: inherit;">
                        <div class="blog_card" data-aos="fade-up">
                            <div class="blog_card_image">
                                <img src="{{url_for('static', filename='assets/images/blog/blog4/01.jpg')}}" />
                            </div>
                            <h4 class="blog_card_head">
                                Porcelain Tiles Vs. Ceramic Tiles, Which Is Better For Your Need?
                                                        </h4>
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <p class="section_p">
                                        Ceramic or porcelain tiles are aesthetically pleasing and versatile. It might be difficult for you to decide whether to choose porcelain tiles or ceramic tiles ...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-5">
                    <a href='{{url_for("blog.blog_inside3")}}' style="color: inherit;">
                        <div class="blog_card" data-aos="fade-up">
                            <div class="blog_card_image">
                                <img src="{{url_for('static', filename='assets/images/blog/blog3/01.jpg')}}" />
                            </div>
                            <h4 class="blog_card_head">
                                Why Porcelain Tiles Are Better Than Natural Stones.
                            </h4>
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <p class="section_p">
                                        Whether to renovate the bathroom or install new tiles in the lobby or laundry room, they spend a lot of time deciding between using natural stone or porcelain tiles...

                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
var swiper = new Swiper(".mySwiper", {
    loop: true,
    speed: 1200,
    keyboard: {
        enabled: true,
    },
    mousewheel: false,
    autoplay: {
        delay: 3000,
    },
    on: {
        slideChangeTransitionStart: function() {
            $('.slide-text').hide();
        },
        slideChangeTransitionEnd: function() {
            $('.slide-text').fadeIn('slow');
        },
    },
});
</script>
{% endblock %}
