{% extends "layout.html" %}
{% block content %}
<div id="faqs">
    <section class="section_1 container_section">
    </section>
    <section class="section-2">
        <div class="">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-0 text-center">
                    <h2 class="section_h2" data-aos="fade">
                        Privacy Policy
                    </h2>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row mb-5 text-justify">
                <div class="col-12">
                    <p class="section_p">
                        The information provided on this Web site is for general informational purposes only. Please
                        read and review these terms of use carefully before accessing or using this Web site. By
                        accessing or using this Web site, you acknowledge that you have read, understood and agree to
                        this policy. If you do not agree to this disclaimer, you may not access or use the site.
                    </p>
                    <p class="section_p">
                        This website is owned and managed by Lioli Ceramica Private Limited (“Lioli”) and provides
                        general information about the Company. All contents (including trademarks) displayed on this
                        website is owned by Lioli. Lioli retains all copyright and other intellectual property rights
                        with respect to the content available and displayed on the website. Any person who is accessing
                        or accessed any information or data from the website acknowledges and agrees that all
                        proprietary rights, statutory or otherwise, in information received by such person shall remain
                        the exclusive property of Lioli.</p>
                    <p class="section_p">
                        While Lioli has made great efforts to include accurate and upto date information and links, such
                        information and links on this website are provided as convenience to you on as is and as
                        available basis. The content provided/ displayed on this website is only for general purposes.
                        The products image may be different than actual product and while Lioli does try to ensure
                        accuracy of such content while incorporating it into this website, such content should not be
                        relied upon for any specific purpose and no representations or warranties of any kind, express
                        or implied, about the completeness, accuracy, reliability, merchantability, fitness, suitability
                        or availability with respect to the website or the information, products, services, or related
                        graphics contained on the website for any purpose. Any reliance placed on such information is
                        therefore strictly at its own risk.</p>
                    <p class="section_p">
                        No content / information displayed on this website shall constitute an invitation or inducement
                        to invest in Lioli or any of its group Companies. Lioli shall not be liable and expressly
                        disclaims all liabilities, for any loss, expenses or damage including without limitation,
                        indirect or consequential loss or loss of profit or damage, whatsoever arising from loss of data
                        or out of access, use, reference to or reliance on any information contained within the site or
                        use of this website. The user also agrees to waive his or her rights of any of the above stated
                        claims.</p>
                    <p class="section_p">
                        Through this website it may be able to link to other websites which are not under the control of
                        Lioli. Lioli has no control over the nature, contents, services and availability of those sites.
                        The inclusion of any links does not necessarily imply a recommendation or endorse the views
                        expressed within them. All users agree that all access and use of this website and on any
                        website linked to, from this site and the content thereof is at their own risk. The development
                        of the website, with respect to the nature of information or data available on the website, is a
                        continuous and an ongoing process. Lioli may change this website at any time without notice but
                        does not assume any responsibility to update it. Any time, Lioli may suspend the operation of
                        this website for support or maintenance work, in order to update the content or for any other
                        reason.</p>
                    <p class="section_p">
                        The content of this website is only for the personal use of the visitors to this website and
                        they shall not distribute, modify, transmit, reuse, report or use the content of this website
                        for public or commercial purposes. No reproduction of any part of this site may be sold or
                        distributed for commercial gain, nor shall it be modified or incorporated in any other work,
                        publication or site, whether in hard copy or electronic format, including posting to any other
                        site. If Lioli, at any point of time, becomes aware of the inappropriate use of website or any
                        of its contents, it may respond in any way it deems suitable / appropriate. If Lioli consider
                        any information / action as illegal, it may report to law enforcement agencies.
                        Lioli reserves all other rights.</p>
                    <p class="section_p">
                        Any visitor to this website hereby agree that this legal disclaimer and terms and conditions of
                        usage is to be governed by and construed in accordance with the laws of India, without regard to
                        the choice or conflicts of law provisions of jurisdiction and any dispute arising in relation to
                        this website or its legal disclaimer and shall be subject to the exclusive jurisdiction of the
                        courts in Delhi / New Delhi.

                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}