{% extends "layout.html" %}
{% block content %}
<div id="products">
    <section class="section_1 container_section">
    </section>
    <section class="section_2">
        <div class="row section-title-head">
            <div class="col-12 mb-1 text-center">
                
            </div>
            <div class="col-12 mb-0 text-center">
                <div class="section_h2">
                    <h2 class="section_h2" data-aos="fade">
                        {{size}} <img src="{{url_for('static', filename='assets/images/index/about_line.png')}}" class="line">
                    </h2>
                  
                </div>
            </div>
            <div class="container" style="padding-top: 30px;">
                <div class="row">
                    {% if size == '1600x3200mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="mb-4">
                            <b>
                                1600*3200mm- kitchen tops, countertops, wall and big place flooring
                            </b> 
                        </h4>
                        <p>
                            
                            Lioli brings an exclusive collection of 1600*3200mm slab tiles ideal for kitchen tops, countertops, walls as well as flooring. Created using the best raw material with the latest technology, our expert designers ensure each tile is crafted perfectly- from the kiln to your space. Redefine the look of your place with Lioli, the preeminent slab tile manufacturer in India. 
        
                            With Lioli, your choices are never limited. Through trendsetting innovations and leading-edge expertise in the porcelain slab industry, we produce slab tiles of unparalleled quality. Designed immaculately with the finest resources and unparalleled expertise, the Lioli tile slab collection offers you a plethora of options to choose from!
        
                            
                        </p>
                    </div>
                    <div class="col-12 mb-0">
                        <h4 class="text-bold mb-4">
                            <b>
                                ARTISTIC DESIGNS FOR YOUR LARGE SPACE TILE PROJECTS
                            </b>
        
                        </h4>
                        <p>
                            
                            Lioli is the only porcelain tile company in India to manufacture 1600*3200mm slab tiles. With the 6mm, 9mm, and 12mm thickness of slab tiles, it's time to upgrade your space-make it aesthetically pleasing, the epitome of grandeur with Lioli. 
        
                            Whether revamping the boring kitchen countertop as well as the walls and floor, shining up your commercial space-hotels, cafes, commercial buildings, our slab tiles are the ultimate choice of designers, architects, and clients around the globe. 
                            
                            Reflect your personality- funky, creative, classy or sophisticated and give a personalized feel to your space with Lioli, the avant-garde slab tile manufacturers in India. Our 1600*3200mm tiles are the optimum choice for installing at big places such as residential buildings, shopping malls, museums, airports and so on.
                            
        
                            
                        </p>
                    </div>
                    {% endif %}

                    {% if size == '1200x1200mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="text-bold mb-4">
                            <b>
                                Designed to Mesmerize

                            </b>
        
                        </h4>
                        <p>
                            
                            Lioli as a porcelain tile manufacturing company blends in imagination and technology expertise to create designs that reflect true bliss. Lioli Rustic matt series brings class and sophistication giving your floor a raw aesthetic look. Every tile design is inspired to add vibrancy to your spaces. And with the Lioli Lustrous Series, enhance the beauty of your floor with a super glossy finish. The stylistic features of our porcelain tile slabs available in size 1200x1200mm and their versatility will make your decor look gorgeous -just the way you’ve dreamt of! <a href="{{url_for("product.size")}}">Explore Series</a>
                        </p>
                    </div>


                    <div class="col-12 mb-0">
                        <h4 class="text-bold mb-4">
                            <b>
                                Where Elegance Meets Performance

                            </b>
        
                        </h4>
                        <p>
                            Lioli is a leading porcelain tile manufacturer in India creating tiles for every style, space and need. Our Lustrous Series offers large porcelain floor tiles that add elegance to your living room, style to your bathroom, beauty to your kitchen countertop, and glam up your outdoor space. We produce porcelain floor slab tiles in a wide range of colours, textures and designs that offer strength, safety, and durability. These tiles look great both Indoors and Outdoors ensuring uniformity and harmony between spaces. They’re easy and convenient to install. The first choice of architects and designers, Lioli lustrous porcelain slab tiles provide an unmatchable experience when installed giving lasting and striking effects. Available in thicknesses of 6mm & 9mm, these porcelain tiles are a perfect fit for walls, floors, interior, exterior & tea/coffee tables.  

                        </p>
                    </div>
                    {% endif %}

                    {% if size == '800x2400mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="text-bold mb-4">
                            <b>
                                800*2400mm- KITCHEN TOPS ONLY
                            </b>
                        </h4>
                        <p>
                            
                            Give your old and boring kitchen a beautiful makeover with the exclusive kitchen tile slab collection from Lioli. Integrated with the highest quality materials and top-tier technical expertise, our designers develop an amazing look and feel kitchen tops to enhance your cooking space. Whip up your signature dish or experiment with a new recipe on the perfectly crafted kitchen tops from Lioli. 

                            Explore our Rustic Matt and Lustrous Finish Collection to give your kitchen a refined, elegant look. 

                            With a variety of colours, patterns, finishes, textures to choose from, lend a high-end look to the countertop- exquisite and functional. Get the perfect kitchen top that complements your kitchen cabinets and interior design with Lioli. 

                        </p>
                    </div>

                    <div class="col-12 mb-0">
                        <h4 class="text-bold mb-4">
                            <b>
                                THE COUNTERTOPS- DESIGNED TO FIT YOUR LIFESTYLE

                            </b>
                        </h4>
                        <p>
                            Made from a single piece of high-end porcelain, the 800*2400mm countertops are heat and stain-resistant, and scratch-resistant, making our porcelain slabs the popular choice of homeowners around the world. Created with state-of-the-art technology and the finest raw materials, Lioli ensures you get the best kitchen tops for your place.

                            With the full-body slabs available in 9mm, 12mm, and 15mm, watch your kitchen unfold into a beautiful contemporary place with our magnificent 800*2400mm kitchen countertops. 
                            
                            Big or small, home or office, get the best countertops to match the kitchen ambience. No matter what the kitchen vibe is, you can find the perfect countertop to cook up new stories and recipes with Lioli, the pioneering slab tile manufacturers in India.
                            
                            Kitchen top asymmetrical designs and patterns have their own stories to tell, making them unique works of art. From subtle and classic, to bold and wild, Lioli’s kitchen top collection brings glamour and elegance to your cooking space.  A warm cup of coffee after a tiring day at work, the right countertop just makes it better! 
                            
                            No matter what look you want to create for your kitchen, our array of functional and quirky kitchen tops are the chef’s true friends. Available in numerous colours and designs, visual up your kitchen with aesthetically pleasing countertops from Lioli, the porcelain tile manufacturer India. 
                            

                        </p>
                    </div>
                    {% endif %}


                    {% if size == '1600x1600mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="text-bold mb-4">
                            <b>
                                1600*1600mm FLOORINGS ONLY
                            </b>
                        </h4>
                        <p>
                            Lioli brings to you its tremendous collection of floor tiles that make your space look more lively. Made with the combination of advanced technologies and our creative artistic skills, we offer you tiles that are unparalleled in functionality without hindering their beauty. Lioli Ceramica has a porcelain tile slab collection that comes in a wide range of colours, finishes and textures. Whether you need to upgrade flooring for your residential area or commercial space we have different tile series available to make your space look more appealing. 

                            Lioli is an acclaimed porcelain slab manufacturer in India producing large format porcelain tiles for indoor or outdoor flooring. 1600*1600 size comes in 9mm and 12mm thickness, which is perfect to render strength to the floors. 

                            Make your space look more fascinating with our RusticMatt finish. 

                        </p>
                    </div>

                    <div class="col-12 mb-4">
                        <h4 class="text-bold mb-0">
                            <b>
                                TILE SOLUTIONS FOR ALL OPTIONS
                            </b>
                        </h4>
                        <p>
                            Kitchens, entrance halls, bathrooms, offices; the list goes on. Simply, each room in your house or office needs flooring that lasts for long years and adds beauty to your space. Combining these two most important factors, Lioli brings you their incredible collection of floor tiles. We have the best match for your space to make it look more pleasing. 

                            While you might get confused about what would be the best option for your floor and want different looks, here is the solution: porcelain tiles. Why? So they can easily imitate other materials. Being the pioneer large format porcelain tile manufacturer in India, Lioli produces top-quality porcelain tiles for floors. You can choose from myriad colour ranges and textures to complement your decor. 

                            Our rustic matt finish porcelain tiles for your commercial or residential space make your space look more aesthetically pleasing. 

                            Want a serene environment and rusty look for your space? Have a glance at Lioli Concrete Series, to radiate calmness in the area with their eye-catching features. 

                            Different colour combinations with different patterns. Just select the tile which reflects your style from our amazing collections. 


                        </p>
                    </div>

                    {% endif %}


                    {% if size == '1200x2400mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="text-bold mb-4">
                            <b>
                                1200*2400mm - FLOORING AND WALLS
                            </b>
                        </h4>
                        <p>
                            Lioli Ceramica offers an extensive range of 1200*2400mm porcelain floor and wall slab tiles using cutting-edge technology making them strong, durable, and easy to maintain with stunning and elegant designs. Whether you are renovating your house or office, ideal floor or wall tiles strengthen the theme of your space. Lioli, porcelain tiles manufacturers in India have numerous types of design and colour schemes in 1200*2400mm size that are perfect for hotels, residential and offices or Any other place you can think of.  Lustrous, Rustic Matt, Orgatech and Structure finishes are some of the popular tiles available at Lioli. 
 

                        </p>
                    </div>
                    <div class="col-12 mb-0">
                        <h4 class="text-bold mb-4">
                            <b>
                                Perfect Combination Of Aesthetic And Classy

                            </b>
                        </h4>
                        <p>
                            Lioli is the leading porcelain tile manufacturing company in Morbi, with a range of collections that are tailored to meet individual requirements. All the slab tiles are made of high-quality material and are available in different colours and textures.

                            Decorate your space with the right tiles that suit your style. Floor tiles add elegance to your space whereas wall tiles strengthen the look of the entire space. Our extensive collection of Lustrous, Rustic Matt, Orgatech and Structure finishes are the go-to choice of  designers and architects in terms of 
                            of both design and functionality.
                            
 

                        </p>
                    </div>
                    {% endif %}

                </div>
            </div>
            
        </div>
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-12 mb-5 pb-0">
                    <div>
                        <div class="filters float-left">
                        </div>
                        <div class="total_products float-right">
                            {% if collection %}
                            Size/{{size}}/{{collection}}
                            {% elif thickness %}
                            Size/{{size}}/{{thickness}}
                            {% elif surface %}
                            Size/{{size}}/{{surface}}
                            {% else %}
                            Size/{{size}}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-5 pb-5">
                    <div class="row justify-content-center">
                        <div class="col-12 px-md-5 px-3 mb-5 mobile-filter d-md-none d-block">
                            <div class="row">
                                <div class="col-sm-4 col-4 mb-3">
                                    <div class="form-group">
                                        <label for="size">
                                            <h5 class="">
                                                <b>
                                                    Sizes
                                                </b>
                                            </h5>
                                        </label>
                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                {% if size %}
                                                {{size}}
                                                {% else %}
                                                size
                                                {% endif %}
                                            </button>
                                            <div class="dropdown-menu">
                                                {% for size in sizes %}
                                                <a class="dropdown-item" href='{{url_for("product.products",size=size.size)}}'>
                                                    {{size.size}}
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-4 mb-3">
                                    <div class="form-group">
                                        <label for="size">
                                            <h5 class="">
                                                <b>
                                                    Collections
                                                </b>
                                            </h5>
                                        </label>
                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                {% if collection %}
                                                {{collection}}
                                                {% else %}
                                                Collection
                                                {% endif %}
                                            </button>
                                            <div class="dropdown-menu">
                                                {% for collection in collections %}
                                                <a class="dropdown-item" href='{{url_for("product.products_collections",size=size,collection=collection.collection)}}'>
                                                    {{collection.collection}}
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-4 mb-3">
                                    <div class="form-group">
                                        <label for="size">
                                            <h5 class="">
                                                <b>
                                                    Finishes
                                                </b>
                                            </h5>
                                        </label>
                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                {% if surface %}
                                                {{surface}}
                                                {% else %}
                                                Finish
                                                {% endif %}
                                            </button>
                                            <div class="dropdown-menu">
                                                {% for finish in finishes %}
                                                <a class="dropdown-item" href='{{url_for("product.products_surface",size=size,surface=finish.surface)}}'>
                                                    {{finish.surface}}
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 border-right filters d-md-block d-none">
                            <div class="product-filter" id="product-filter">
                                <div class="pb-2 pt-4 border-bottom">
                                    <button class="accordion">
                                        Sizes
                                    </button>
                                    <div class="panel">
                                        <ul>
                                            {% for sizes in sizes %}
                                            {% if sizes.size == size %}
                                            <li>
                                                <a href='{{url_for("product.products",size=size)}}'>
                                                    <span style="color: #000;">{{size}}</span>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li>
                                                <a href='{{url_for("product.products",size=sizes.size)}}'>
                                                    {{sizes.size}}
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="pb-2 pt-4 border-bottom">
                                    <button class="accordion">
                                        Collections
                                    </button>
                                    <div class="panel">
                                        <ul>
                                            {% for collections in collections %}
                                            {% if collections.collection == collection %}
                                            <li>
                                                <a href='{{url_for("product.products_collections",size=size,collection=collection)}}'>
                                                    <span style="color: #000;">{{collection}}</span>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li>
                                                <a href='{{url_for("product.products_collections",size=size,collection=collections.collection)}}'>{{collections.collection}}</a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="pb-2 pt-4 border-bottom">
                                    <button class="accordion">
                                        Finishes
                                    </button>
                                    <div class="panel">
                                        <ul>
                                            {% for finishes in finishes %}
                                            {% if finishes.surface == surface %}
                                            <li>
                                                <a href='{{url_for("product.products_surface",size=size,surface=surface)}}'>
                                                    <span style="color: #000;">{{surface}}</span>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li>
                                                <a href='{{url_for("product.products_surface",size=size,surface=finishes.surface)}}'>
                                                    {{finishes.surface}}
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-9 px-md-5 px-1">
                            <div class="row justify-content-md-start justify-content-center">
                                {% if not products %}
                                <div class="col-lg-12 col-sm-12 mb-5">
                                    <div class="products_card">
                                        <h3>
                                           {{error_message}}
                                        </h3>
                                    </div>
                                </div>
                                {% else %}
                                {% for product in products %}
                                <div class="product-row mb-md-5 mb-3" data-aos="fade-in">
                                    <a href='{{url_for("product.product_inside",size=size,product_id=product.id,product_name=product.product_name)}}'>
                                        <div class="products_card">
                                            <div class="products_card_img" id="s{{size}}">
                                                <img src="{{url_for('static', filename='admin/uploads/product/preview/'+product.preview)}}" />
						{% if product.id in product_id_arry %}
                                                <span class="new">New</span>
                                                {% endif %}
                                            </div>
                                            <h6>
                                                {{product.product_name}}
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>



                {% if size == '1600x3200mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="mb-4">
                            <b>
                                WITH LIOLI, GET THE LOOK YOU LOVE 

                            </b> 
                        </h4>
                        <p>
                            
                            Create a family-friendly space with Lioli. Our slab tiles are stain-resistant, scratch-resistant and low maintenance. These large format tiles are expertly crafted to be low maintenance, ultra-thin, chipping resistant, stain and scratch-resistant, maintaining durability and beauty over the years! Formulated using TechnoSlab, the presence of minimal grout lines give a seamless and exquisite look to the space.

                            We bring the most luxurious and irresistible collection- from the Marble series, terrazzo series, orgatech series, Meek series, and many more. Mix and match your floor tiles, wall tiles, cabinets, kitchen and bathroom countertops, to make your dream space a reality.

                            Some people like traditional designs with neutral colours, whereas some people select bold designs and modern patterns. Hence, whatever you prefer, Lioli has perfect slab tiles in numerous sizes such as 1200*1200 | 1200*2400 | 1600*1600 | 800*2400 | 1600*3200 mm to give your space a look you desire.


        
                            
                        </p>
                    </div>

                    {% endif %}


                    {% if size == '1200x1200mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="mb-4">
                            <b>
                                Go For Classic Look With Modern Twist
                            </b> 
                        </h4>
                        <p>
                            Lioli produces large format porcelain slabs in India which means lesser joints and lesser wastage giving your room a clean and grand look. Our aim to redefine spaces with simplistic, rustic, and modern decor options has made us today a highly renowned porcelain tile manufacturing company. With the Lioli Rusticmatt series, add a distinct charm with a variety of textures, colours, finishes and designs to your residential or commercial place. 

                            Go minimal with a single tone that radiates simplicity or design smaller interiors like bathrooms and large spaces as the living room with extraordinary combinations of porcelain tile slabs. Available in thicknesses of 6mm, 9mm these tiles are ideal for the floor to re-cover the interiors or recreate the exteriors. Every tile is crafted and engineered with utmost dedication, perfection and skill to provide every location- indoor or outdoor a detailed and breathtaking appearance. At Lioli, we are the innovators in combining high performance and great appearance to meet customers' needs. And with high-tech porcelain tile slabs that are UV-resistant, water and frost resistant, stain-resistant, scratch and abrasion-resistant, and provide dimensional stability- you get the best technical performance with dynamic design solutions for residential, commercial and industrial floors. 
                        </p>
                        <ul style="margin-left: 30px;">
                            <li>Everlasting Designs</li>
                            <li>Easy to Maintain</li>
                            <li>High Resistance and Unique Translucency</li>
                            <li>Perfect for High Traffic Areas</li>
                            <li>Timeless and Suitable for Every Location</li>

                        </ul>
                    </div>

                    {% endif %}

                    {% if size == '800x2400mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="mb-4">
                            <b>
                                LIOLI- REDEFINING STYLE, ELEGANCE AND FUNCTIONALITY

                            </b> 
                        </h4>
                        <p>
                            Since the kitchen witnesses most of the action, Lioli, a leading porcelain slab manufacturer in India ensure each kitchen top is made carefully with the following features:

                        </p>
                        <ul style="margin-left: 30px;">
                            <li>Heat resistant</li>
                            <li>Fire resistant</li>
                            <li>Scratch-resistant</li>
                            <li>Chipping resistant </li>
                            <li>Chemicals and spill-resistant</li>
                            <li>Easy to clean and maintain</li>
                           <li> Highly durable over the years. </li>


                        </ul>
                        <p>
                            The characteristics of hardness, non-porosity and stain and heat resistant properties ensure your kitchen time is a happy time, always! The exclusive features ensure functionality and timeless beauty, requiring minimal maintenance. It only takes a wipe with a wet cloth to make it look new!

                            Lioli’s high-tech porcelain slabs of 800*2400mm features variety of sizes, colours, patterns, to create a unique top for your kitchen space. From minimalism or classic to the vintage look, Lioli creates eye-catching kitchen top surfaces that endure years of use.

                        </p>
                    </div>

                    {% endif %}





                    {% if size == '1600x1600mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="mb-4">
                            <b>
                                PREMIUM QUALITY PORCELAIN TILES FROM LIOLI

                            </b> 
                        </h4>
                        <p>
                            Lioli Ceramica is one of the leading porcelain tile manufacturers in Morbi. We do not compromise the quality of our product. We make sure we are giving the best to our clients. With great use of advanced tile manufacturing technologies and our designing or creative skills, we make tiles that are:

                        </p>
                        <ul style="margin-left: 30px;">
                            <li>Heat/UV resistant</li>
                            <li>Stain-resistant</li>
                            <li>Abrasion-resistant </li>
                            <li>Water and frost resistant </li>
                            <li>Chemical resistant  </li>



                        </ul>
                        <p>
                            Being one of the top slab tile manufacturers, Lioli has maintained its crown of glory by providing premium quality tiles. Regardless of the purpose, everyone needs a hygienic surface for the tiles. We are giving you the same. We guarantee you that you will find durable, easy to maintain, and functional tiles according to your requirement with us. 
                        </p>
                    </div>

                    {% endif %}



                    {% if size == '1200x2400mm' %}
                    <div class="col-12 mb-4">
                        <h4 class="mb-4">
                            <b>
                                Lustrous
                            </b> 
                        </h4>
                        
                        <ul style="margin-left: 30px;">
                            <li>Lustrous finish tiles have a glossy and shiny surface that makes an ideal option for floor and wall. Want your space bright and shiny? Lioli has various patterns and shades from rare italian marbles to old and gold aesthetic designs with a glossy and reflective surface that can brighten your space. 
                            </li>
                            

                        </ul>
                        

                        <h4 class="mb-4">
                            <b>
                                Rustic Matt

                            </b> 
                        </h4>
                        
                        <ul style="margin-left: 30px;">
                            <li>The anti-slippery feature makes these tiles the most suitable for wet places and homes with children and pets. Design your space into a natural, traditional or unfinished look with our range of colours and designs in a rustic matt finish that gives you a warm feeling.
 
                            </li>
                            

                        </ul>


                        <h4 class="mb-4">
                            <b>
                                Orgatech

                            </b> 
                        </h4>
                        
                        <ul style="margin-left: 30px;">
                            <li>Make your living room a cozy or refreshment space to create endless memories. Something that is different than the usual. Lioli has an amazing collection of orgatech finishes that blends with any space, style and decor.
 
                            </li>
                            

                        </ul>


                        <h4 class="mb-4">
                            <b>
                                Structure
                            </b> 
                        </h4>
                        
                        <ul style="margin-left: 30px;">
                            <li>
                                Design your office into modern look that keep you and your team productive, motivated and inspired every day.  Lioli’s structure tiles series are made of the best quality of porcelain that is more durable and long-lasting with an elegant look. It can be used as wall tiles because of their pattern and you can use them as floor tiles as they are anti-slippery and generally found around a swimming pool.

                                Whether you’re looking for tiles for home, Kitchen, hotel or workplace, Lioli, porcelain slab manufacturers in India offer tiles that have unique shine and gloss which remain beautiful for years, with less maintenance. Our exhaustive floor and wall tiles collection are available in different thicknesses of 6mm, 9mm, 12mm and they can be used in multiple places such as the living room, kitchen, bedroom, office, balcony, terrace and parking space. 

                            </li>
                            

                        </ul>
                    </div>
                    {% endif %}


            </div>
        </div>
    </section>
    
    <section class="section_3" id="product-cta">
        <div class="container">
            <div class="row my-5">
                <div class="col-12 mb-5 text-center">
                    <div class="section_h2">
                        <img src="{{url_for('static', filename='assets/images/contact/line2.png')}}" class="line">
                    </div>
                </div>
                <div class="col-12 mb-5  text-center">
                    <h2 class="section_h2" data-aos="fade">
                        GET IN TOUCH WITH OUR REPRESENTATIVE TO LEARN MORE ABOUT THE PRODUCTS YOU ARE INTRESTED
                    </h2>
                </div>
                <div class="col-12 mb-5  text-center contact_button">
                    <button class="btn" type="submit">
                        <a href='{{url_for("main.contact")}}' style="color: inherit;">GET IN TOUCH</a>
                    </button>
                    <h6>
                        Or
                    </h6>
                    <h6>
                        Contact Us On <a href="telto:+91 22 62807474">+91 22 62807474</a>
                    </h6>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
        }
    });
}
</script>
{% endblock %}
